{% load media %}

<ul class="cam_list">
{% for cam in cams.object_list %}
{% url social:user cam.owner.id as user_path %}
    <li{% cycle '' '' '' ' style="margin-right: 0pt;"' %}>
        <div class="item">
        <div class="pop rounded" style="-moz-border-radius: 10px 10px 10px 10px;">
        <a href="{{ user_path }}#cam"><img alt="{{ cam.name }}" src="{% media_url cam.screen camera_screen_normal.png %}"></a>
        </div>
        <p class="place"><a href="{{ user_path }}#cam">{{ cam.name }}</a></p>
        <p class="creater"><a href="{{ user_path }}">{{ cam.owner }}</a></p>
        </div>
    </li>
{% endfor %}
</ul>
{% with cams as objects %}
{% include "includes/paginator.html" %}
{% endwith %}