{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block content %}
<div id="filter_box">
    {% if cameras %}

	<h2>Мои модные места</h2>
        <div id="filt_new">
        <ul>
        {% for cam in cameras %}
        {% url social:user_camera cam.owner.id as user_camera_path %}
            <li{% cycle '' ' style="margin-right: 0pt;"' %}>
                <div class="item">
                <div class="pop rounded" style="-moz-border-radius: 10px 10px 10px 10px;">
                <a href="{{ user_camera_path }}"><img alt="{{ cam.name }}" src="{% media_url cam.screen camera_screen_normal.png %}"></a>
                </div>
                <p class="place"><a href="{{ user_camera_path }}">{{ cam.name }}</a></p>
                <p class="creater"><a href="{% url social:user cam.owner.id %}">{{ cam.owner }}</a></p>
                </div>
            </li>
        {% endfor %}
        </ul>
        </div>
    {% else %}
        <h2>{% trans "You do not have bookmarks." %}</h2>
    {% endif %}
</div>
{% endblock %}
