{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Registered cameras" %}</h2>
<p>
{% for cam in cams %}
    <div>
        {{ cam.name }}
        {% with cam.owner as user %}
            {% include "includes/user/micro.html" %}
        {% endwith %}

    <a href="{% url cam:cam_view cam.id %}">{% trans 'View' %}</a>
    {% if cam.owner == request.user or request.user.is_superuser %}
        <a href="{% url cam:cam_edit cam.id %}">{% trans 'Edit' %}</a>
    {% endif %}
    </div>
{% endfor %}
</p>
{% endblock %}