{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Change avatar" %}</h1>

        <img src="{% url social:avatar user_id=user.id format='30x30' %}" />
        <img src="{% url social:avatar user_id=user.id format='60x60' %}" />
        <img src="{% url social:avatar user_id=user.id format='100x100' %}" />

    <form method="post" enctype="multipart/form-data">
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="{% trans "Save" %}" />
    </form>
{% endblock %}
