{% extends "base.html" %}

{% load i18n %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_sex').selectbox();
    });
</script>
{% endblock %}

{% block content %}
<div id="filter_box">
<h2>{% trans "Edit profile" %}</h2>
<form method="post" class="baseform">
    <div class="filt rounded">
        <table class="group_add">
        <tr>
            <th><label for="id_hometown">Родной город:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input id="id_hometown" type="text" name="hometown" maxlength="30" /></div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_birthday">День рождения:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input id="id_birthday" type="text" name="birthday" maxlength="10" /></div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_sex">Пол:</label></th>
            <td class="empty_filt"></td>
            <td><select name="sex" id="id_sex">
            <option value="" selected="selected">Не выбран</option>
            <option value="f">Женский</option>
            <option value="m">Мужской</option>
            </select></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_icq">ICQ:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input id="id_icq" type="text" name="icq" maxlength="30" /></div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_mobile">Телефон:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input id="id_mobile" type="text" name="mobile" maxlength="30" /></div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_website">Личный сайт:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input type="text" name="website" id="id_website" /></div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_university">ВУЗ:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input id="id_university" type="text" name="university" maxlength="30" /></div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_department">Факультет:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input id="id_department" type="text" name="department" maxlength="30" /></div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_university_status">Статус:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded"><input id="id_university_status" type="text" name="university_status" maxlength="30" /></div></td>
        </tr>
    </table>

    </div>
    <div class="but">
        {% if is_new %}<input type="submit" value="{% trans 'Create group' %}"/>
        {% else %}<input type="submit" value="Сохранить"/>{% endif %}
    </div>
    
</form>
</div>
{% endblock %}
