{% spaceless %}
<object width="530"
        height="{% ifequal request.user camera.owner %}450{% else %}400{% endifequal %}">
    <embed src="/media/swf/telnew-{% ifequal request.user camera.owner %}manage{% else %}view{% endifequal %}.swf"
        quality="high"
        bgcolor="#869ca7"
        flashvars="myname={% if request.user.get_camera %}{{ request.user.get_camera.id }}{% endif %}&username={{ camera.id }}&stream={{ camera.id }}&ip=77.234.194.200"
        width="530"
        height="450"
        name="sdo_video"
        align="middle"
        play="true"
        loop="false"
        quality="high"
        allowScriptAccess="sameDomain"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
</object>
{% endspaceless %}
<div>Используются технологии <a href="http://telnew.ru/" target="_blank">TELNEW</a></div>
