{% ifequal request.user camera.owner %}
{% spaceless %}
<object width="745"
        height="515" style="position:relative; left:-5px;">
    <embed src="/media/swf/telnew-conf.swf"
        quality="high"
        bgcolor="#869ca7"
        flashvars="myname={{ user.id }}&ip=188.93.21.227&group_id={{ group.id }}&session_key={{ request.session.session_key }}"
        width="745"
        height="515"
        name="sdo_video"
        align="middle"
        play="true"
        loop="false"
        allowScriptAccess="sameDomain"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
</object>
{% endspaceless %}
<div>Используются технологии <a href="http://telnew.ru/" target="_blank">TELNEW</a></div>
{% endifequal %}