{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block content %}
<div id="filter_box">
<h2>{% trans "Images" %}</h2>

<div id="content-main">
{% for file in objects.object_list  %}
    <img src="{% media_url file library_image_thumbnail.png %}" alt="" />
    {% if can_manage %}
        <a href="{% url media_library:image_delete id=file.id %}">{% trans "Delete" %}</a>
    {% endif %}
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">следующая</a>
        {% endif %}
    </span>
</div>


    {% if can_manage %}
        <form action="{% url media_library:image_add %}" method="post" enctype="multipart/form-data">

        <table>
        {{ form.as_table }}
        </table>
        <div class="but">
        <input type="submit" value="{% trans "Add" %}"/>
        </div>
        </form>

    {% endif %}
</div>    
{% endblock %}
