{% extends "base.html" %}

{% load i18n %}
{% load media %}

{% block css %}
{{ block.super }}
<link href="/media/styles/user.css" rel="stylesheet" type="text/css" />
{% if profile.theme %}
<link href="{% url themes:file_view theme_id=profile.theme.id file_name='style.css' %}" rel="stylesheet" type="text/css" />
{% comment %}
	<link href="/themes/gov.spb.ru/style.css" rel="stylesheet" type="text/css" />
{% endcomment %}
{% endif %}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
  var link = $("#group_conference");
	link.click(function (e){
        var width={% if is_admin %}745{% else %}650{% endif %}+20, height={% if is_admin %}515{% else %}423{% endif %}+170;
        window.open(link.attr('href'), 'video',
                'width='+width+',height='+height+',left='+($(window).width()-width)/2+',top='+($(window).height()-height)/2);
        return false;
    });
});
</script>
{% endblock %}


{% block content %}

<div id="user_page">
{% if profile.theme and profile.theme.html_top %}
{{ profile.theme.html_top|safe }}
{% endif %}
    <h2 class="name_persone">{{ page_user }}</h2>
     <div id="avatar" class="rounded">
        <img src="{% media_url page_user.avatar avatar_midi.png %}" />
    </div>
    {% if not is_owner %}
    {% comment %}
        {% if show_friend_button %}
       <a class="tooltip toollip_friend" href="{% url friends:add page_user.id %}">
            <span class="toollip_friend">
            <img src="/media/images/toollip_friend_2.png" width="206px" height="63px" /></span><img class="hidden" src="/media/images/tooltip_corner.png" /></a>
       {% else %}
       <a class="tooltip toollip_friend_remove" href="{% url friends:remove page_user.id %}">
            <span class="toollip_friend_remove">
            <img src="/media/images/toollip_friend_remove2.png" width="206px" height="63px" /></span><img class="hidden" src="/media/images/tooltip_corner.png" /></a>
      {% endif %}
       <a class="tooltip toollip_group" href="{% url groups:send_my_invites_to_user page_user.id %}">
            <span class="toollip_group">
            <img src="/media/images/toollip_group.png" width="206px" height="63px" /></span><img class="hidden" src="/media/images/tooltip_corner.png" /></a>
       
       <a class="tooltip toollip_mail" href="{% url user_messages:send_message page_user.id %}">
            <span class="toollip_mail">
            <img src="/media/images/toollip_mail.png" width="206px" height="63px" /></span><img class="hidden" src="/media/images/tooltip_corner.png" /></a>
       
       <a class="tooltip toollip_video" href="{% url social:user_conference page_user.id %}">
            <span class="toollip_video">
            <img src="/media/images/toollip_video.png" width="206px" height="63px" /></span><img class="hidden" src="/media/images/tooltip_corner.png" /></a>
	{% endcomment %}
    {% endif %}
    <div class="profileActions">
        <ul>
            {% if is_owner %}
                <li><a href="{% url social:profile_edit %}">{% trans "options" %}</a></li>
            {% else %}
                {% if request.user.is_superuser %}
                    <li><a href="{% url social:profile_edit page_user.id %}">{% trans "options" %}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
   
    
    <div id="general_info" class="about_persone transparent">
        <dl>
            {% if profile.hometown %}<dt id="hometown">{% trans "Hometown" %}</dt>
                <dd>{{ profile.hometown }}</dd>{% endif %}
            {% if profile.birthday %}<dt id="birthday">{% trans "Birthday" %}</dt>
                <dd>{{ profile.birthday }}</dd>{% endif %}
            {% if profile.sex %}<dt id="sex">{% trans "Sex" %}</dt>
                <dd>{{ profile.sex }}</dd>{% endif %}
        </dl>
    </div>
    <div id="contact_info" class="about_persone transparent">
        <p>{% trans "Contact Information" %}</p>
        <dl>
            {% if profile.icq %}<dt id="icq">{% trans "ICQ" %}</dt>
                <dd>{{ profile.icq }}</dd>{% endif %}
            {% if profile.mobile %}<dt id="mobile">{% trans "Mobile" %}</dt>
                <dd>{{ profile.mobile }}</dd>{% endif %}
            {% if profile.website %}<dt id="website">{% trans "Website" %}</dt>
                <dd><a href="{{ profile.website }}">{{ profile.website }}</a></dd>{% endif %}
        </dl>
    </div>
    <div id="education_info" class="about_persone transparent">
        <p>{% trans "Education" %}</p>
        <dl>
            {% if profile.university %}<dt id="university">{% trans "University" %}</dt>
                <dd>{{ profile.university }}</dd>{% endif %}
            {% if profile.department %}<dt id="department">{% trans "Department" %}</dt>
                <dd>{{ profile.department }}</dd>{% endif %}
            {% if profile.university_status %}<dt id="university_status">{% trans "Status" %}</dt>
                <dd>{{ profile.university_status }}</dd>{% endif %}
        </dl>
    </div>
    
    
    <div id="anounce_info" class="about_persone transparent">
             <p>{% trans "Announce" %}</p>
         <p class="event_announce">
             {{ profile.announce }}
         </p>
    </div>
   
    <div id="conference_announcement">
    	<div class="title">
            <div class="title-r">
                <div class="title-x">
                    <h2>Видеоконференции</h2>
                </div>
            </div>
        </div>
        <div class="block_conf">
          
            {% for group in page_user.administered_groups|dictsortreversed:"timestamp" %}
                {% include "includes/group_item.html" %}
            {% endfor %}
            </div>
        </div>
        
        
    </div>
    
    
    {% with page_user as user %}
	    {% include "includes/chat.html" %}
    {% endwith %}
</div>

{% endblock %}
