{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="filter_box">
<h2>
    {% if create %}
        {% trans "Add a note" %}
    {% else %}
        {% trans "Edit note" %}
    {% endif %}
</h2>

<form method="post">
<div class="filt rounded">
     <table class="group_add">
        <tr>
            <th><label for="id_title">Заголовок:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded">{{ form.title }}</div></td>
        </tr>
        <tr>
            <td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_text">Текст:</label></th>
            <td class="empty_filt"></td>
            <td><div class="input_holder rounded">{{ form.text }}</div></td>
        </tr>
                <tr>
            <td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_is_public">Публичная:</label></th>
            <td class="empty_filt"></td>
            <td>{{ form.is_public }}</td>
        </tr>

    </table>
</div>
    <div class="but">
        <input type="submit"
               value="{% if create %}{% trans 'Add' %}{% else %}{% trans 'Save' %}{% endif %}" />
    </div>

</form>
</div>
{% endblock %}
