{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="filter_box">
<h2>{% trans "Notes" %}</h2>

<p>
{% for note in notes %}
    <div>
      {{ note.timestamp }}
      <a href="{% url notes:note_view note.id %}">{{ note.title }}</a>
      <a href="{% url notes:note_edit note.id %}">{% trans 'Edit' %}</a>
      <a href="{% url notes:note_delete note.id %}">{% trans 'Delete' %}</a>
    </div>
{% endfor %}
</p>
<p><a class="reference" href="{% url notes:note_add %}">{% trans 'Create a note' %}</a></p>
</div>
{% endblock %}