{% load i18n %}
<script type="text/javascript" src="/media/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/media/js/jScrollPane.js"></script>

{% if billing.can_show %}
    <div id="watch-panel">
    {% include camera.driver.template %}
    </div>
{% else %}
    {% if camera.is_view_paid %}
        {% trans "This camera is not free!" %}
    {% else %}
        {% trans "This camera is private." %}
    {% endif %}
{% endif %}

<p>Кол-во просмотров: {{ camera.view_count }}</p>

{% include "includes/chat.html" %}