{% extends base_template %}

{% block css %}
{{ block.super }}
<link href="/media/styles/page_info.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div id="content_info">
    <h2>Модное место</h2>
    <p>
<b>Модное место</b> - это новая и уникальная социальная <b>видеосеть</b>! Как и прочие социальные сети, Модное место предоставляет весь спектр пользовательских услуг.
    </p>
    <p>
Но главное отличие Модного место от других социальных <b>видеосетей</b> - возможность заработать. <br/><b>Модное место</b> - это первая социальная <b>видеосеть</b>, которая платит участникам!
    </p>
    <p>
Если ты уникален - не стесняйся этого, это принесет большой доход. Как это работает? Все очень просто: пользователь устанавливает у себя камеру видео наблюдения (на кухне или в спальне, дома или в офисе). Чтобы повысить свой рейтинг, возможно высылать приглашения о дружбе знакомым, друзьям или совершенно незнакомым людям. Другие пользователи подключаются к камере, и... деньги начинают идти на твой счет. Конечно, чтобы трафик шел постоянно, и нужно суметь заинтересовать "свою аудиторию". Одна камера - до 500 просмотров одновременно. Можно поставить и несколько камер, тебе это будет абсолютно БЕСПЛАТНО. Главное, заинтересуй своей жизнью! Наиболее интересные участники приглашаются порталом к сотрудничеству на особых условиях...
    </p>
    <p>
Также на нашем портале Ты можешь посмотреть интересующие Тебя заведения в режиме онлайн. Теперь не возникнут такие вопросы, как : "куда пойти?", "какой интерьер у этого заведения?", "какая публика?", "где весело?". Все это ты сможешь узнать на нашем сайте в режиме настоящего времени. Трафик с камеры - платный и....до 90% зарабатывает площадка. А пользователь, после увиденного, может оставить свой комментарий.
    </p>
    <p>
Как подключить камеру? Все очень просто!

<ol>
    <li>Зарегистрируйся на сайте.</li>
    <li>Позвони по указанному номеру.</li>
    <li>Получи БЕСПЛАТНО камеру и ее установку!</li>
    </ol>
    </p>
    <p>
Твое <b>Модное место</b>.
    </p>
</div>
{% endblock %}
