{% extends base_template %}

{% block css %}
{{ block.super }}
<link href="/media/styles/page_info.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div id="content_info">
    <h2>Пользовательское соглашение</h2>
<p>
Зарегистрировавшись на сайте ModnoeMesto.Ru (в дальнейшем Сайт), посетитель становится его Пользователем.
Пользователь безвозмездно и добровольно добавляет свою информацию на Сайт, а также разрешает обработку
и хранение его данных.
</p><p>
1. Права и обязанности Пользователя
</p><p>
1.1 Пользователь обязуется не вносить информацию провокационного, грубого, оскорбительного и агрессивного
характера, противоречащую моральным и этическим нормам, а также информацию, противоречащую действующему
российскому или международному законодательству, не нарушать авторские и другие права третьих лиц.
</p><p>
1.2 Личные данные Пользователя могут быть удалены с Сайта администраторам Сайта без объяснения причин.
</p><p>
1.3 Пользователь несёт ответственность за нарушение данного Соглашения в соответствии с законодательством
Российской Федерации.
</p><p>
1.4 В случае нанесения ущерба третьим лицам, другим Пользователям или Сайту, Пользователь обязуется
возместить причиненный ущерб в полном объёме и в размере в соответствии с действующим законодательством
Российской Федерации.
</p><p>
1.5 Пользователь просматривает содержимое Сайта на свой страх и риск. Сайт не несет ответственности за
последствия увиденного Пользователем.
</p><p>
2. Права и обязанности Сайта
</p><p>
2.1 Сайт не несёт ответственности за самостоятельное раскрытие Пользователем своей контактной информации
другим Пользователям.
</p><p>
2.2 Сайт имеет право собирать информацию о действиях Пользователя в целях улучшения работы своих сервисов.
</p><p>
2.3 В случае неисполнения Пользователем своих обязанностей Сайт вправе заблокировать страницу Пользователя.
</p><p>
2.4 Администрация Сайта оставляет за собой право вносить любые поправки в настоящее Соглашение. Эти правки
вступают в силу в одностороннем порядке по истечении суток с момента их внесения. Актуальную версию
Пользовательского соглашения всегда можно найти по ссылке: <a href="http://modnoemesto.ru{% url social:static 'agreement' %}">http://modnoemesto.ru{% url social:static 'agreement' %}</a>
</p>
</div>
{% endblock %}
