{% load media %}
<div id="flowplayer-panel">
 {% if not camera.force_html5 %}
            <a style="display:block;width:515px;height:330px" id="flash-player"> </a>
        {% endif %}

        <video id="html-5-video"
               autoplay="false"
               controls width="515"
               height="330"
               style="display:block"
               poster="{% media_url camera.screen camera_screen_full.png %}"
        src="http://vid1.modnoemesto.ru:1935/live/mp4:{{ camera.stream_name }}/playlist.m3u8" >
        </video>

        <script type="text/javascript">
            $("#html-5-video").bind('playing', function(){
                $.get('{% url cam:inc_view_count camera.id %}');
            });
        </script>

        {% if not camera.force_html5 %}

        <script type="text/javascript">
        if(navigator.userAgent.match(/iPad/i))
        {
            $('#flash-player').hide();
        }
        else
        {
            $('#html-5-video').hide();
            $f("flash-player", "/media/swf/flowplayer-3.2.5.swf", {
                clip: {
                    provider: 'rtmp',
                    onBegin: function(clip) {
                        if (clip.index == 1) {
                            $.get('{% url cam:inc_view_count camera.id %}');
                            {% if camera.is_view_paid and billing.can_show and not billing.order.is_packet %}
                            timer.start();
                            {% endif %}
                        }
                    }{% if camera.is_view_paid and billing.can_show and not billing.order.is_packet %},
                    onResume: function(clip) {
                        if (clip.index == 1) {
                            timer.start();
                        }
                    },
                    onStop: function(clip) {
                        if (clip.index == 1) {
                            timer.stop();
                        }
                    },
                    onPause: function(clip) {
                        if (clip.index == 1) {
                            timer.stop();
                        }
                    }
                    {% endif %}
                },
                playlist: [
                    {
                        url:'{% media_url camera.screen camera_screen_full.png %}',
                        scaling: 'orig'
                    },{
                        autoPlay: false,
                        autoBuffering: false,
                        netConnectionUrl: 'rtmp://vid1.modnoemesto.ru/live',
                        url:'{{ camera.stream_name }}'
                    }
                ],
                plugins: {
                    rtmp: { url: '/media/swf/flowplayer.rtmp-3.2.3.swf', netConnectionUrl: 'rtmp://vid1.modnoemesto.ru/live' }
                }
            });
        }
        </script>
        {% endif %}

    {% if billing.can_manage %}
      <object>
        <embed src="/media/swf/ManageCam_5.swf" width="450" height="154"
            flashvars="ip=modnoemesto.ru&amp;path=cgi-bin/encoder&amp;user=admin&amp;password=123456&amp;debug=0&amp;session_key={{ request.session.session_key }}&amp;camera_id={{ camera.id }}">
      </object>
    {% endif %}
</div>