{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Access Orders" %}</h2>
<table>
    <thead>
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "Camera" %}</th>
            <th>{% trans "Tariff" %}</th>
            <th>{% trans "Begin Date" %}</th>
            <th>{% trans "End Date" %}</th>
            <th>{% trans "Cost" %}</th>
            <th>{% trans "Status" %}</th>
        </tr>
    </thead>
    <tbody>
{% for order in objects.object_list %}
    <tr>
        <td><a href="{% url social:user order.user.id %}" >{{ order.user }}</a></td>
        <td><a href="{% url social:user order.camera.owner.id %}" >{{ order.camera.name }}</a></td>
        <td><a href="{% url billing:tariff_edit order.tariff.id %}" >{{ order.tariff.name }}</a></td>
        <td>{{ order.begin_date|date:"d M H:i" }}</td>
        <td>{{ order.end_date|date:"d M H:i" }}</td>
        <td>{{ order.cost|floatformat:2 }}</td>
        <td>{{ order.status }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% include "includes/paginator.html" %}
{% endblock %}
