{% extends "base.html" %}
{% load i18n %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
	$(document).ready(function(){
			$('#id_tariff').selectbox();});
	
</script>
{% endblock %}
{% block content %}
<div id="filter_box">
<h2>{% trans "Access to camera" %}</h2>
    <form method="post" class="baseform">
    <div class="filt rounded">
        <table class="camera_edit">
            <tr>
                <th><label for="id_tariff">Тариф:</label></th>
                <td class="empty_filt"></td>
                <td><select name="tariff" id="id_tariff">
                	<option></option>
                    <option></option>
                    <option></option>
                    </select></td>
            </tr>
            <tr>
            	<td style="height:10px" class="empty_filt"></td>
            </tr>
            <tr>
                <th><label for="id_duration">Длительность:</label></th>
                <td class="empty_filt"></td>
                <td><div class="input_holder_short rounded"><input type="text" name="duration" id="id_duration" /></div></td>
            </tr>
        </table>
      
    </div>
    <div class="but">
        <input type="submit" value="{% trans 'Paid' %}" />
    </div>
    </form>
</div>    
{% endblock %}