{% extends "base_mini.html" %}

{% load i18n %}
{% load media %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/media/js/flowplayer-3.js"></script>
{% endblock %}

{% block base_content %}
{% include "_left_box_menu.html" %}
<div id="centerColumn">
    <div id="camera"><a name="cam"></a>
        {% if camera %}
        {% include "includes/camera.html" %}
        {% else %}
        <div class="no_camera">
        <img src="/media/img/notfound/cam.png" alt=""/>
        <p>
        {% trans "You have no registered camera." %}
        </p>
        <a href="{% url cam:cam_add %}">{% trans "Wanna do it right now?" %}</a>
        </div>
        {% endif %}
		
		
    </div>
</div>
{% endblock %}
