{% extends "base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/flowplayer-3.js"></script>
    {% if user.is_authenticated %}
    <script src="/media/js/jquery-1.4.2.min.js"></script>
    <script src="/media/js/underscore-min.js"></script>
    <script src="/media/js/socket.io.js"></script>
    <script src="/media/js/client-io.js"></script>
    {% endif %}
{% endblock %}

{% block content %}

<h1>Welcome to your homepage</h1>

<div id="content-main">

    {%  include "includes/left_menu.html" %}

    {% comment %}
    <div class="module">
        <table summary="Your whatever settings etc" width="100%">
            <caption>Settings</caption>
            <tr>
                <th><a href=".">Foo bar</a></th>
            </tr>
        </table>
    </div>
    {% endcomment %}

    <div id="camera">
        {% if camera %}
            {% include "includes/camera.html" %}
        {% else %}
            You have no registered camera.
            Wanna do it right now?
        {% endif %}
    </div>

</div>

<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Your friends:</h2>
        {#<h3>whatever</h3>#}
        {% if user.mutual_friends %}
            <ul>
                {% for f in user.mutual_friends %}
                <li>
                    {% with f as user %}
                        {% include "includes/user/micro.html" %}
                    {% endwith %}
                    <a href="{% url social:unfriend user_id=f.id %}">
                        x
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None available</p>
        {% endif %}
    </div>
</div>

{% endblock %}
