{% extends "base_mini.html" %}

{% load i18n %}

{% block css %}
{{ block.super }}
<link href="/media/styles/page_info.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block base_content %}
<div id="content_info">
    <h2>Забыли пароль?</h2>
    <p>Сообщите нам свой электронный адрес, и мы отправим инструкции по сбросу пароля.</p>
<form action="{{ app_path }}" method="post">
        <div class="filt rounded" style="width:380px; padding-bottom:10px">
{% for field in form %}
    
    <table class="img_loader">
    <tr>
    	<th><label for="id_email">E-mail:</label></th>

                    <td class="empty_filt">{{ field.errors }}</td>
                    <td>
                    	<div class="input_holder rounded">
                            <input type="text" name="email" id="id_email" />
                       </div>
                    </td>

    </tr>
   
    </table>

{% endfor %}
 </div>
   <div class="but">
   <input style="float:left;" type="submit" value="Отправить" /></div>
       
</form>
</div>
{% endblock %}
