{% extends "base.html" %}
{% load i18n %}
{% load pytils_numeral %}

{% block css %}
{{ block.super }}
<link href="/media/styles/profile.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/flowplayer-3.js"></script>
    {% if user.is_authenticated and camera.show %}
    {% endif %}
{% endblock %}

{% block content %}
<div id="left">
    <h2>{{ page_user }}</h2>
	<div class="clear"></div>
       <dl>
            {% if profile.hometown %}<dt>{% trans "Hometown" %}</dt>
                <dd>{{ profile.hometown }}</dd>{% endif %}
            {% if profile.birthday %}<dt>{% trans "Birthday" %}</dt>
                <dd>{{ profile.birthday }}</dd>{% endif %}
            {% if profile.sex %}<dt>{% trans "Sex" %}</dt>
                <dd>{{ profile.sex }}</dd>{% endif %}
    	</dl>
    <div class="about_persone transparent">
        <div style="overflow: hidden;">
            <p>{% trans "Contact Information" %}</p>
        </div>
        <dl>
            {% if profile.icq %}<dt>{% trans "ICQ" %}</dt>
                <dd>{{ profile.icq }}</dd>{% endif %}
            {% if profile.mobile %}<dt>{% trans "Mobile" %}</dt>
                <dd>{{ profile.mobile }}</dd>{% endif %}
            {% if profile.website %}<dt>{% trans "Website" %}</dt>
                <dd>{{ profile.website }}</dd>{% endif %}
        </dl>
    </div>
    <div class="about_persone transparent">
        <div style="overflow: hidden;">
            <p>{% trans "Education" %}</p>
        </div>
        <dl>
            {% if profile.university %}<dt>{% trans "University" %}</dt>
                <dd>{{ profile.university }}</dd>{% endif %}
            {% if profile.department %}<dt>{% trans "Department" %}</dt>
                <dd>{{ profile.department }}</dd>{% endif %}
            {% if profile.university_status %}<dt>{% trans "Status" %}</dt>
                <dd>{{ profile.university_status }}</dd>{% endif %}
        </dl>
    </div>
    <div class="about_persone transparent">
        <div style="overflow: hidden;">
            <p>{% trans "Announce" %}</p>
        </div>
        <p class="event_announce">
            {{ profile.announce }}
        </p>
    </div>



</div>
<div id="right">
	<div class="own_photo rounded" style="-moz-border-radius: 10px 10px 10px 10px;">
        {% with page_user as user %}
            {% if user.avatar %}
                <img src="{% url social:avatar user_id=user.id format='200x200' %}"/>
            {% else %}
                <img src="/media/img/notfound/avatar_200x200.png"/>
            {% endif %}
        {% endwith %}
        
        {% if show_friend_button %}
        <p>
            <a href="{% url friends:add page_user.id %}">
                {% trans "Add to my friends" %}
            </a>
        </p>
        {% endif %}
    </div>
    <div class="profileActions">
        <ul>{% url friends:friends_all page_user.id as friends %}
            <li><a href="{% url groups:send_my_invites_to_user page_user.id %}">пригласить в группу</a></li>
            <li><a href="{{ friends }}">{% trans "Friends" %} ({{ page_user.friends.count }})</a></li>
            <li><a href="{% url user_messages:send_message page_user.id %}">Написать сообшение</a></li>
            <li>Приглашённые: {{ invitee_count }}</li>
        </ul>
    </div>
    <div class="friend_box transparent">
        <div style="overflow: hidden;">
            <p>Друзья онлайн</p><span><a href="{% url friends:friends_online page_user.id %}" class="change">все {{ page_user.friends_online|length }}</a></span>
        </div>
        <ul class="friendTable">
            {% for user in page_user.friends_online|slice:":6" %}
                <li>
                        {% include "includes/user/micro.html" %}
                </li>
            {% endfor %}
        </ul>
    </div>
    
</div>
<div id="content-main" style="clear: both;">
     <div id="camera"><a name="cam"></a>
        {% if camera %}
            {% if show_view_access_link %}
                <a class="reference" href="{% url billing:get_view_access_to_camera camera.id %}">{% trans "Get view access to camera" %}</a>
            {% endif %}
            {% if show_manage_access_link %}
                <a class="reference" href="{% url billing:get_manage_access_to_camera camera.id %}">{% trans "Get manage access to camera" %}</a>
            {% endif %}
            {% if show_bookmark_button %}
            <a class="reference" href="{% url cam:cam_bookmark_add camera.id %}">{% trans "Bookmark this camera" %}</a>
            {% else %}
            <a class="reference" href="{% url cam:cam_bookmark_delete camera.id %}">{% trans "Remove Bookmark" %}</a>
            {% endif %}
            {% if camera.is_view_paid and camera.show %}
                <p>{% trans "The remaining time on the show" %}:
                    {% if camera.show.days %}{{ camera.show.days}} {{ camera.show.days|choose_plural:"день,дня,дней" }}{% endif %}
                    {{ camera.show.hours }} {{ camera.show.hours|choose_plural:"час,часа,часов" }}
                    {{ camera.show.minutes }} {{ camera.show.minutes|choose_plural:"минута,минуты,минут" }}
                    {{ camera.show.seconds }} {{ camera.show.seconds|choose_plural:"секунда,секунды,секунд" }}</p>
            {% endif %}
            {% if camera.is_management_paid and camera.manage %}
                    <table>
                        <thead>
                            <tr>
                                <th>Пользователь</th>
                                <th>Начало</th>
                                <th>Окончание</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in camera.manage %}
                        <tr>
                            <td><a href="{% url social:user i.user.id %}">{{ i.user }}</a></td>
                            <td>{{ i.begin_date|date:"H:i:s" }}</td>
                            <td>{{ i.end_date|date:"H:i:s" }}</td>
                            <td>{% if forloop.first %}оператор{% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            {% endif %}
            {% include "includes/camera.html" %}
        {% else %}
            <div class="no_camera">
            <img src="/media/img/notfound/cam.png" alt="" />
            <p>
            {% trans "This user has no registered camera." %}
            </p>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
