{% extends "base.html" %}
{% load i18n %}
{% load pytils_numeral %}
{% load media %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/flowplayer-3.js"></script>
    {% if user.is_authenticated and camera.show %}
    {% endif %}
{% endblock %}

{% block content %}
<div id="filter_box">
    <h2>Камера пользователя {{ camera.owner }}</h2>
     <div id="camera">
        {% if camera %}
            {% if show_view_access_link %}
                <a class="reference" href="{% url billing:get_view_access_to_camera camera.id %}">{% trans "Get view access to camera" %}</a>
            {% endif %}
            {% if show_manage_access_link %}
                <a class="reference" href="{% url billing:get_manage_access_to_camera camera.id %}">{% trans "Get manage access to camera" %}</a>
            {% endif %}
            {% if show_bookmark_button %}
            <a class="reference" href="{% url cam:cam_bookmark_add camera.id %}">{% trans "Bookmark this camera" %}</a>
            {% else %}
            <a class="reference" href="{% url cam:cam_bookmark_delete camera.id %}">{% trans "Remove Bookmark" %}</a>
            {% endif %}
            {% if camera.is_view_paid and camera.show %}
                <p>{% trans "The remaining time on the show" %}:
                    {% if camera.show.days %}{{ camera.show.days}} {{ camera.show.days|choose_plural:"день,дня,дней" }}{% endif %}
                    {{ camera.show.hours }} {{ camera.show.hours|choose_plural:"час,часа,часов" }}
                    {{ camera.show.minutes }} {{ camera.show.minutes|choose_plural:"минута,минуты,минут" }}
                    {{ camera.show.seconds }} {{ camera.show.seconds|choose_plural:"секунда,секунды,секунд" }}</p>
            {% endif %}
            {% if camera.is_management_paid and camera.manage %}
                    <table>
                        <thead>
                            <tr>
                                <th>Пользователь</th>
                                <th>Начало</th>
                                <th>Окончание</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in camera.manage %}
                        <tr>
                            <td><a href="{% url social:user i.user.id %}">{{ i.user }}</a></td>
                            <td>{{ i.begin_date|date:"H:i:s" }}</td>
                            <td>{{ i.end_date|date:"H:i:s" }}</td>
                            <td>{% if forloop.first %}оператор{% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            {% endif %}
            {% include "includes/camera.html" %}
        {% else %}
            <div class="no_camera">
            <img src="/media/img/notfound/cam.png" alt="" />
            <p>
            {% trans "This user has no registered camera." %}
            </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
