{% extends "base_head.html" %}

{% load menu_tags %}
{% load i18n %}
{% load pytils_numeral %}

{% block body %}

<div id="container">
    <div id="subContainer">

        <div id="header">
            <a id="logo" href="/"><img src="/media/images/logo_bg.jpg" alt="Модное место" /></a>
        </div>
        <div id="menu">
            <table cellspacing="0px" cellpadding="0px">
            <tr>

            <td class="left_corner"></td>
            <td class="menu_but"><a href="{% url social:logout %}">закрыть</a></td>
            <td class="right_corner"></td>
            </tr>
            </table>
        </div>

<div id="centerColumn">
    <div id="camera">

<div id="telnew">
{% spaceless %}
<object width="800"
        height="600"
        style="position:relative; left:-5px;">
    <embed src="/media/swf/userconf.swf"
        quality="high"
        bgcolor="#869ca7"
        flashvars="myname={{ request.user.id }}&callid={{ callid }}&ip=188.93.20.18"
        width="800"
        height="600"
        name="modnoemesto_video"
        align="middle"
        play="true"
        loop="false"
        allowScriptAccess="modnoemesto.ru"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
</object>
{% endspaceless %}
</div>

    </div>
</div>

    </div>
</div>  

{% endblock %}