{% load i18n %}
{% load media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Модное место - это современная уникальная социальная видеосеть! Модное место гарантирует весь спектр пользовательских сервисов. Главное преимущество Модного места перед другими соцсетями - возможность заработка. Это единственная социальная видеосеть, которая платит пользователям!">
    <meta name="keywords" content="модное место социальная видеосеть соцсеть">
    <link href="/media/images/favicon.ico" rel="shortcut icon" />

    <title>{% block title %}Модное место – новая социальная сеть. Модное место – социальная сеть которая платит за видео!{% endblock %}</title>

    <script type="text/javascript" src="/media/js/flowplayer-3.js"></script>
</head>
<body>
<div id="centerColumn">
    <div id="camera">

<div id="telnew">
{% spaceless %}
<object width="800"
        height="600"
        style="position:relative; left:-5px;">
    <embed src="/media/swf/userconf.swf"
        quality="high"
        bgcolor="#869ca7"
        flashvars="myname={{ request.user.id }}&callid={{ callid }}&ip=188.93.20.18"
        width="800"
        height="600"
        name="modnoemesto_video"
        align="middle"
        play="true"
        loop="false"
        allowScriptAccess="modnoemesto.ru"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
</object>
{% endspaceless %}
<div style="color:#575655; margin-top:7px">Используются технологии <a href="http://telnew.ru/" target="_blank">TELNEW</a></div>
</div>

    </div>
</div>
</body>
