{% extends "base.html" %}
{% load i18n %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/flowplayer-3.js"></script>
    {% if user.is_authenticated and camera.show %}
    <script src="/media/js/jquery-1.4.2.min.js"></script>
    <script src="/media/js/underscore-min.js"></script>
    <script src="/media/js/socket.io.js"></script>
    <script src="/media/js/client-io.js"></script>
    <script type="text/javascript" src="/media/js/jScrollPane.js"></script>
    {% endif %}
{% endblock %}

{% block content %}

<h1>{% blocktrans %}{{ page_user }}'s home{% endblocktrans %}</h1>
    {% with page_user as user %}
        {% include "includes/user/midi.html" %}
    {% endwith %}
{% if show_friend_button %}
<p>
    <a href="{% url social:friend user_id=page_user.id %}">
        {% trans "Add to my friends" %}
    </a>
</p>
{% endif %}

<div id="content-main">

    {% if user.is_authenticated %}
    <div class="messages">
        <form method="post"
              action="{% url user_messages:send_message user_id=page_user.id %}">
        <table summary="{% blocktrans %}Leave a message to {{ page_user }}{% endblocktrans %}" width="100%">
            <caption>{% trans "Leave a message" %}</caption>
            {{ msgform.as_table }}
            <tr><td colspan="2"><input type="submit" value="{% trans "Send" %}"/></td></tr>
        </table>
        </form>
    </div>
    {% endif %}

    <div id="camera">
        {% if camera %}
            <a href="{% url billing:get_access_to_camera camera.id %}">{% trans "Get access to camera" %}</a>
            {% include "includes/camera.html" %}
        {% else %}
            <img src="/media/img/notfound/cam.png" alt="" />
            {% trans "This user has no registered camera." %}
        {% endif %}
    </div>

</div>

<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% blocktrans %}{{ page_user }} marked as friends:{% endblocktrans %}</h2>
          {% if page_user.mutual_friends %}
            <ul class="friendTable">
                {% for user in page_user.mutual_friends %}
                    <li>
                        {% include "includes/user/micro.html" %}
                    </li>
                {% endfor %}
            </ul>
          {% else %}
            <p>{% trans "None available" %}</p>
          {% endif %}
    </div>
</div>

{% endblock %}
