div#left
{
	width: 295px;
	float: left;
	overflow: hidden;
	padding-top: 10px;
}
#left h2
{
	font-size: 18px;
	color: #08889f;
}
#left dl
{
	padding: 10px 0px;
}
#left dt
{
	float: left;
	display: inline;
	width: 120px;
	color: #838383;
	padding: 5px;
}
#left dd
{
	margin-left: 121px;
	padding: 5px;
	overflow: hidden;
	width: 150px;
	color: #00b2d5;
}
div.about_persone
{
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	/*background: url(../images/bg_about_persone.png) no-repeat;*/
}
.about_persone p, .the_wall p
{
	color: #08889f;
	width: 205px;
	float: left;
	display: inline;
	padding-left: 5px;
}
p.event_announce
{
 	/*text-align: justify;*/
    width: 285px;
	color: #575655;
	padding-top: 5px;
}
.friend_box p, .group_box p
{
	color: #08889f;
	float: left;
	display: inline;
	padding-left: 5px;
}
.about_persone a.change, .the_wall a.change, .friend_box a.change, .group_box a.change
{
	color: #838383;
	text-decoration: underline;
}
#left .name_persone {
    float: left;
 }
#left a.change_all {
	color: #838383;
	text-decoration: underline;
    float: right;
    padding-top: 27px;
 }
.about_persone span, .the_wall span, .friend_box span, .group_box span
{
	text-align: right;
    float: right;
}
div.the_wall
{
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
}
div.post
{
	overflow: hidden;
	padding: 10px 0px;
	border-top: 1px dotted #6f6f6f;
}
div.post .per_photo img
{
	border: 4px solid #eeedde;
}
.per_photo
{
	width: 65px;
	height: 65px;
	/*background: #FFF;*/
	float: left;
	display: inline;
}
.status_name a
{
	color: #00b2d5;
}
.status_date p
{
	color: #838383;
	padding: 0px;
}
.text p
{
	color: #575655;
	padding: 10px 0px 0px 0px;
}
div#right
{
	float: right;
	margin-left: 1px;
	width: 220px;
	padding-top: 10px;
}
.own_photo
{
	/*width: 219px;
	height: 270px;*/
	text-align: center;
	border: 10px solid #eeedde;
}
.own_photo p a 
{
	color: #08889F;
	text-decoration: underline;
}
.rating_persone
{
	margin-top: 4px;
	background: #d0f3f5;
	padding: 13px;
}
.rating_persone p
{
	color: #575655;
}
.profileActions
{
	overflow: hidden;
	margin-top: 5px;
}
.profileActions ul
{
	overflow: hidden;
}
.profileActions ul li
{
	padding: 10px 0px 10px 15px;
	border-top: #6f6f6f dotted 1px;
	display: block;
}
.profileActions ul li a
{
	color: #575655;
}
.profileActions ul li a:hover
{
	color: #000;
}
.friend_box
{
	margin-top: 10px;
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	background: url(../images/bg_about_persone.png) no-repeat;
    height: 250px;
	overflow: hidden;
}

.group_box
{
	margin-top: 10px;
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	background: url(../images/bg_about_persone.png) no-repeat;
}
.club_box
{
	padding: 10px 5px;
}
.club_box, .club_box a
{
	color: #00b2d5;
	text-decoration: underline;
}

.clear {
    clear: both;
}