{% extends "base_head.html" %}

{% load menu_tags %}
{% load i18n %}
{% load pytils_numeral %}
{% load loginza_widget %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
    {% if reg_form2.errors %}$('a.p_login').click();{% endif %}

{% if user.is_authenticated %}
    var call_message = $('#call_message');
    call_message.click(function (e){
        var width=810, height=725;
        window.open("{% url social:home_conference %}", 'video',
                'width='+width+',height='+height+',left='+($(window).width()-width)/2+',top='+($(window).height()-height)/2);
        return false;
    });
    function check_calls() {
        $.get('{% url video_call:check_calls %}', function(data) {
            if (data) {
                call_message.html('{{ request.user }}, Вас вызывает на видеоконференцию пользователь '
                    + data + '! (кликните на это сообщение для установки связи).');
                if (call_message.css('display') == 'none') {
                    call_message.css({
                        top: '0',
                        opacity: 0.0,
                        display: 'block'
                    });
                    call_message.animate({
                        opacity: 0.9,
                        top: '150px'
                    }, 1000);
                }
            } else {
                call_message.fadeOut(500);
            }
            setTimeout(check_calls, {{ VIDEO_CALL_INTERVAL_UPDATE }}000);
        });
    }
    setTimeout(check_calls, {{ VIDEO_CALL_INTERVAL_UPDATE }}000);
{% endif %}

});
</script>
{% endblock %}

{% block body %}
<style>
#overlay { 
    position:fixed; top:0; left:0; width:100%; height:100%; 
    background:url(/media/images/bg_overlay.png); z-index:1000;}
#popup {
    background:#fff; z-index:1010; width:330px; margin:auto; 
    position:absolute; right:100px; top:100px; padding:10px 28px;}
#popup .p_close {
    float:right; font-size:11px; line-height:12px; color:#909090; 
    padding-right:18px; 
    background:url(/media/images/ico_close.gif) 100% 2px no-repeat;}

    .p_corners_t, .p_corners_b {
        position:absolute; left:9px; right:9px; background:#fff; height:9px;}
    .p_corners_t {top:-9px;}
    .p_corners_b {bottom:-9px;}

        .p_tl, .p_tr, .p_br, .p_bl {
            display:block; position:absolute; background:#000; width:9px; height:9px; 
            background:url(/media/images/bg_popup_corners.png) no-repeat;}
        .p_tl {left:-9px; background-position:0 0;}
        .p_tr {right:-9px; background-position:-9px 0;}
        .p_br {right:-9px; background-position:-9px -9px;}
        .p_bl {left:-9px; background-position:0 -9px;}

.login_form table { margin-top: 10px; }
.login_form th { color:#fff; font-weight:normal; text-align:left; font-size: 8pt; }
.login_form input { background-color: #FAFFBD; border:1px solid #000; padding:3px; }
.login_form a { color: #80A9CA; text-decoration:none; }
.login_form a:hover { text-decoration:underline; }
.login_form input.subEnter { background-color:#637BAD; color:#fff; font-weight:bold; cursor:pointer; }
        
</style>
{% if not user.is_authenticated %}
<div id="overlay"></div>
<div id="popup" style="display:{% if not reg_form.errors %}none{% else %}block{% endif %};">
<div class="p_corners_t"><em class="p_tl"></em><em class="p_tr"></em></div> 
    <a href="#" class="p_close">Закрыть</a> 
    <div id="regColumn">
        <div id="enter_form">
            <div class="title">
                <div class="title-r">
                    <div class="title-x">
                        <h2>Регистрация</h2>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block-b">
                    <form action="/" method="post">
                        <input type="hidden" name="form_name" value="register"/>
                        <div class="hide" style="overflow:hidden">
                            <div class="reg rounded">
                                {{ reg_form.first_name.errors }}
                                <p>*{{ reg_form.first_name.label }}:<br/>{{ reg_form.first_name }}</p>

                                {{ reg_form.last_name.errors }}
                                <p>*{{ reg_form.last_name.label }}:<br/>{{ reg_form.last_name }}</p>
                                {% if reg_form.email.errors %}<ul class="errorlist">
                                {% for error in reg_form.email.errors %}
                                    <li>{% if error == 'inactive' %}
                                        Заявка на регистрацию уже была принята.<br/><a href="{% url social:resend_activation_code %}">{% trans "Resend activation code." %}</a>
                                        {% else %}{{ error }}{% endif %}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                                <p>*{{ reg_form.email.label }}:<br/>{{ reg_form.email }}</p>

                                {{ reg_form.phone.errors }}
                                <p>{{ reg_form.phone.label }}:<br/>+7{{ reg_form.phone }}</p>

                                {{ reg_form.password1.errors }}
                                <p>*{{ reg_form.password1.label }}:<br/>{{ reg_form.password1 }}</p>

                                {{ reg_form.password2.errors }}
                                <p>*{{ reg_form.password2.label }}:<br/>{{ reg_form.password2 }}</p>

                                {{ reg_form.captcha.errors }}
                                <p>*{{ reg_form.captcha.label }}:<br/>{{ reg_form.captcha }}</p>
                            </div>
                            <p style="color:#999999; padding-top: 7px">
                            Фактом регистрации Вы соглашаетесь с
                            <a href="{% url social:static 'agreement' %}" target="_blank">Пользовательским соглашением</a>.</p>
                            <p><input class="subReg" type="submit" value="Зарегистрироваться" /></p>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endif %}
<div id="container">
    <div id="subContainer">

        <div class="head">
   		   <a href="/"><div class="logo"></div></a>

           {% if user.is_authenticated %}
           <a class="exit" href="{% url social:logout %}">Выход</a>
           <!--a class="home" href="{% url social:home %}">Домашняя страница</a-->
            {% else %}
                    <form action="/" method="post" class="login_form" style="float:right;">
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                        <input type="hidden" name="form_name" value="login"/>
                        <table>
                        <tr><th>Электронный адрес</th><th>Пароль</th><th></th></tr>
                        <tr>
                            <td>{{ login_form.email }}</td>
                            <td>{{ login_form.password }}</td>
                            <td><input class="subEnter" type="submit" value="Войти" /></p></td>
                        </tr>
                        <tr>
                            <td><a href="{% url social:lost_password %}">Забыли пароль?</a></td>
                            <td><a href="#" class="p_login">Регистрация</a></td>
                            <td></td>
                        </tr>
                        <tr><td colspan="3">{% loginza_button "Войти через loginza" return_url=request.get_full_path %}</td></tr>
                        </table>
                        
                    </form>
           {% endif %}
		</div> <!-- end head"-->

      		        

        <div id="mainContent">
       
       {% comment %} 
        {% if user.is_authenticated %}
        <div class="marquee" style="color:#08889F; font-size: 18px; height:25px; width:970px; overflow:hidden;">
			<div class="move" style="overflow:hidden; width:99999px;">
				<p style="float:left; margin:0;">
					{{ request.last_news.text }}&nbsp;
				</p>
			</div>
		</div>
        {% endif %}
        {% endcomment %}

<div id="call_message"></div>

{% if messages %}
<div class="system_messages">
    <ul>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block base_content %}
here goes the actual content
{% endblock %}
        </div>

    <div id="footer">
        <div id="info">
            {% comment %}
            <ul>
            <li style="padding-left:0"><a href="{% url social:static 'about' %}">О проекте</a></li>
            <li><a href="{% url social:static 'agreement' %}">Пользовательское соглашение</a></li>
            <li><a href="{% url cam:cam_list %}">Модные места</a></li>
            <li><a href="{% url social:static 'support' %}">Скорая техническая помощь</a></li>
            </ul>
            {% endcomment %}
            <p style="width:400px">Интернет-телевидение «PITER.TV» &copy; 2011</p>
        </div>
    </div>
    </div>
</div>

{% endblock %}
