{% extends "base_head.html" %}

{% load menu_tags %}
{% load i18n %}
{% load pytils_numeral %}

{% block js %}
{{ block.super }}
{% if user.is_authenticated %}
<script type="text/javascript">
$(document).ready(function(){
    var call_message = $('#call_message');
    call_message.click(function (e){
        var width=810, height=725;
        window.open("{% url social:home_conference %}", 'video',
                'width='+width+',height='+height+',left='+($(window).width()-width)/2+',top='+($(window).height()-height)/2);
        return false;
    });
    function check_calls() {
        $.get('{% url video_call:check_calls %}', function(data) {
            if (data) {
                call_message.html('{{ request.user }}, Вас вызывает на видеоконференцию пользователь '
                    + data + '! (кликните на это сообщение для установки связи).');
                if (call_message.css('display') == 'none') {
                    call_message.css({
                        top: '0',
                        opacity: 0.0,
                        display: 'block'
                    });
                    call_message.animate({
                        opacity: 0.9,
                        top: '150px'
                    }, 1000);
                }
            } else {
                call_message.fadeOut(500);
            }
            setTimeout(check_calls, {{ VIDEO_CALL_INTERVAL_UPDATE }}000);
        });
    }
    setTimeout(check_calls, {{ VIDEO_CALL_INTERVAL_UPDATE }}000);
});
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="container">
    <div id="subContainer">

        <div class="head">
   		   <a href="/"><!--div class="logo"></div--></a>
   		   
            
   		   

           {% if user.is_authenticated %}
           <a class="exit" href="{% url social:logout %}">Выход</a>
           <!--a class="home" href="{% url social:home %}">Домашняя страница</a-->
           {% endif %}
		</div> <!-- end head"-->

      		        

        <div id="mainContent">
       
       {% comment %} 
        {% if user.is_authenticated %}
        <div class="marquee" style="color:#08889F; font-size: 18px; height:25px; width:970px; overflow:hidden;">
			<div class="move" style="overflow:hidden; width:99999px;">
				<p style="float:left; margin:0;">
					{{ request.last_news.text }}&nbsp;
				</p>
			</div>
		</div>
        {% endif %}
        {% endcomment %}

<div id="call_message"></div>

{% if messages %}
<div class="system_messages">
    <ul>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block base_content %}
here goes the actual content
{% endblock %}
        </div>

    <div id="footer">
        <div id="info">
            {% comment %}
            <ul>
            <li style="padding-left:0"><a href="{% url social:static 'about' %}">О проекте</a></li>
            <li><a href="{% url social:static 'agreement' %}">Пользовательское соглашение</a></li>
            <li><a href="{% url cam:cam_list %}">Модные места</a></li>
            <li><a href="{% url social:static 'support' %}">Скорая техническая помощь</a></li>
            </ul>
            <p style="width:400px">Интернет-телевидение «PITER.TV» &copy; 2011</p>
            {% endcomment %}
        </div>
    </div>
    </div>
</div>

{% endblock %}
