{% extends base_template %}

{% load i18n %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

function check(id_input, alph) {
    return function() {
        var cur_text = id_input.val();
        var cur_len = cur_text.length;
        var check_text = '';
        for (var i = 0; i < cur_len; i++) {
            var char = cur_text[i];
            if (alph.indexOf(char) != -1) check_text = check_text + char;
        }
        id_input.val(check_text);
    }
}

    const ALPH_EMAIL = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.-_@';
    const ALPH_PASS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.-_@!#$%^&+= ";

    var id_email = $('#enter_form #id_email');
    id_email.live('input paste', check(id_email, ALPH_EMAIL));

    var id_pass = $('#enter_form #id_password');
    id_pass.live('input paste', check(id_pass, ALPH_PASS));

    const ALPH_NAME = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя'`-";

    var id_first_name = $('#id_first_name');
    id_first_name.live('input paste', check(id_first_name, ALPH_NAME));

    var id_last_name = $('#id_last_name');
    id_last_name.live('input paste', check(id_last_name, ALPH_NAME));

    var reg_id_email = $('#reg_form #id_email');
    reg_id_email.live('input paste', check(reg_id_email, ALPH_EMAIL));

    var id_pass1 = $('#id_password1');
    id_pass1.live('input paste', check(id_pass1, ALPH_PASS));
    var id_pass2 = $('#id_password2');
    id_pass2.live('input paste', check(id_pass2, ALPH_PASS));

    function check_phone(e){
        if ([8,9,13,16,35,36,37,38,39,40,45,46,48,49,50,51,52,53,54,55,56,57].indexOf(e.keyCode) != -1) return true;
        return false
    }

    $('#id_phone_0').keydown(check_phone);
    $('#id_phone_1').keydown(check_phone);
});

</script>
{% endblock %}
{% block content %}

<div id="regColumn">
    <div id="enter_form">
        <div class="title">
            <div class="title-r">
                <div class="title-x">
                    <h2>Вход</h2>
                </div>
            </div>
        </div>
        <div class="block">
        <div class="block-b">
            <form action="{{ app_path }}" method="post">
                <input type="hidden" name="form_name" value="login"/>
            
            <div style="overflow:hidden">
            
                <div class="enter rounded">
            {% if login_form.non_field_errors %}
            <ul class="errorlist">
            {% for error in login_form.non_field_errors %}
                <li>{% if error == 'inactive' %}
                    {% trans "This account is inactive." %}<br/><a href="{% url social:resend_activation_code %}">{% trans "Resend activation code." %}</a>
                    {% else %}{{ error }}{% endif %}</li>
            {% endfor %}
            </ul>
            {% endif %}
            
            {% for field in login_form %}
                {{ field.errors }}
                <p>{{ field.label }}:<br/>
                    {{ field }}</p>
            {% endfor %}
            
            <p><a href="{% url social:lost_password %}">Забыли пароль?</a></p>
                </div>
            
                <p><input class="subEnter" type="submit" value="Войти" /></p>
            </div>
            
            </form>
                </div>
                    
                    </div>    
    </div>
</div>
<div id="regColumn">
    <div id="enter_form">
        <div class="title">
            <div class="title-r">
                <div class="title-x">
                    <h2>Регистрация</h2>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block-b">
                <form action="{{ app_path }}" method="post">
<input type="hidden" name="form_name" value="register"/>
       <div class="hide" style="overflow:hidden">
        <div class="reg rounded">
{{ reg_form.first_name.errors }}
<p>*{{ reg_form.first_name.label }}:<br/>{{ reg_form.first_name }}</p>

{{ reg_form.last_name.errors }}
<p>*{{ reg_form.last_name.label }}:<br/>{{ reg_form.last_name }}</p>
{% if reg_form.email.errors %}<ul class="errorlist">
{% for error in reg_form.email.errors %}
    <li>{% if error == 'inactive' %}
        Заявка на регистрацию уже была принята.<br/><a href="{% url social:resend_activation_code %}">{% trans "Resend activation code." %}</a>
        {% else %}{{ error }}{% endif %}</li>
{% endfor %}
</ul>
{% endif %}
<p>*{{ reg_form.email.label }}:<br/>{{ reg_form.email }}</p>

{{ reg_form.phone.errors }}
<p>{{ reg_form.phone.label }}:<br/>+7{{ reg_form.phone }}</p>

{{ reg_form.password1.errors }}
<p>*{{ reg_form.password1.label }}:<br/>{{ reg_form.password1 }}</p>

{{ reg_form.password2.errors }}
<p>*{{ reg_form.password2.label }}:<br/>{{ reg_form.password2 }}</p>

{{ reg_form.captcha.errors }}
<p>*{{ reg_form.captcha.label }}:<br/>{{ reg_form.captcha }}</p>
        </div>
            <p style="color:#999999; padding-top: 7px">
            Фактом регистрации Вы соглашаетесь с
            <a href="{% url social:static 'agreement' %}" target="_blank">Пользовательским соглашением</a>.</p>
            <p><input class="subReg" type="submit" value="Зарегистрироваться" /></p>
        </div>
</form>
            </div>
        </div>    
    </div>
</div>
<div id="about">

<style>
.qq{
	border-bottom: dotted 3px;
	margin-top: 15px;
	cursor: pointer;
}

.aa{
	display: none;
	margin-bottom: 15px;
}
li{
	margin-left: 15px;
}
</style>
 <script type="text/javascript"> 
     
		function toggle(id)
		{
		
			if ($("#"+id).css("display") == "none")	$("#"+id).show(500);
			else $("#"+id).hide(500);
		}
</script>
<h2><strong>У <a href="http://mestovstrechi.piter.tv/users/4d79fb643c6cf948fd00000f/">Семена Альтова</a> каждый день — праздник! 15 марта — День авантюриста.</strong> Отмечаем вместе на ПитерТВ — ждем в 20:11 Хотите участвовать — приходите на mestovstrechi.piter.tv!</h2>
<br>
Для участия в конференции Вам надо:
<ul>
<ul>
<li>иметь надежный канал связи (не менее 512 кб)
<li>предустановленный flash player (скачать)
<li>иметь web-камеру, наушники и микрофон
<li>аккредитоваться на встрече
</ul>
</ul>
<br>
Часто задаваемые вопросы о сервисе:

<div onclick='toggle("a1");' class="qq">Что такое «Место встречи Питер.ТВ?»</div>

<div class="aa" id="a1">Это место встречи с интересными людьми, официальными лицами, знаковыми особами - со всеми, чье мнение важно и интересно тысячам людей. 
На страницах «Место встречи.Питер.ТВ» зрителям дана уникальная возможность в режиме on-line лично задать вопрос выступающему прямо из дома или с рабочего места — достаточно иметь доступ в интернет,  веб-камеру и микрофон с наушниками.
</div>
<div onclick='toggle("a2");' class="qq">Как посмотреть интересующую меня встречу?</div>

<div id="a2" class="aa">Для просмотра видеотрансляции встречи достаточно просто аккредитоваться на ней, подав заявку (кнопка «аккредитоваться» находится на странице всторечи). После аккредитации Вам станут доступны материалы предстоящей встречи (пресс-релизы и пр.), а так же возможность задать предварительные опросы организаторам.
Видеотрансляция встречи осуществляется в специальном окне, которое открывается когда Вы нажмете на кнопку «Видеоконференция» на странице встречи.

Для просмотра трансляции достаточно иметь любой современный браузер и предустановленную программу Flash Player (скачать программу можно здесь: http://get.adobe.com/ru/flashplayer/  ).
</div>
<div onclick='toggle("a3");' class="qq">Как поучаствовать во встрече?</div>

<div id="a3" class="aa">Для участия во встрече Вам потребуется подключить веб-камеру, наушники (рекомендуется использовать наушники для исключения эффекта «эха») и войти на сайт в указанное время. 
Далее, на странице встречи следует нажать на кнопку «Видеоконференция», после чего откроется специальное окно видеотрансляции.   

В момент проведения встречи Вы сможете задать свои вопросы выступающему лично. Для вступления в разговор Вам надо нажать на кнопку «Попросить голоса», расположенную справа внизу окна трансляции. 
В момент нажатия на эту кнопку система попросит Вашего разрешения на использование веб-камеры и микрофона. Подтвердите это, нажав на кнопку ОК в соответствующем окне запроса. После этого Вы увидите свое изображение в окошке слева, а модератор встречи получит Вашу заявку на выступление и предоставит Вам слово по мере очередности. 
</div>
<div onclick='toggle("a4");' class="qq">Как задать вопрос выступающему?</div>

<div id="a4" class="aa">Обычно модератор встречи дает слово участникам, попросившим голос, по очереди. В некоторых случаях, регламент встречи предусматривает необходимость подачи заявки на выступления заранее — об этом организаторы предупреждают участников в анонсе встречи. Читайте внимательно анонсы и аккредитуйтесь на встречах заранее!

Во время встречи, после того как Вы подали запрос на выступление, нажав на кнопку «попросить голоса», модератор встречи выведет Вас в общую трансляцию. При этом Вы увидите себя в окошке справа от основного окна конференции, среди других участников. Как только изображение с Вашей камеры откроется на основном (большом) экране видеотрансляции - будьте готовы задать свой вопрос основному выступающему.
</div>
<div onclick='toggle("a5");' class="qq">Можно ли задавать вопросы, не имея веб-камеры и микрофона? </div>

<div id="a5" class="aa">Да, можно. Для этого на странице встречи есть форма комментариев — в ней Вы можете задавать письменные вопросы выступающему. Ответы будут даны в ходе трансляции
</div>
<div onclick='toggle("a6");' class="qq">Как зарегистрироваться на сайте?</div>

<div id="a6" class="aa">заполнить поля в форме регистрации, указав реальный адрес электронной почты. По окончании регистрации на указанный Вами почтовый адрес уйдет письмо для подтверждения Вашей регистрации. Зайдите к себе на почту и перейдите по ссылке в теле письма
</div>
<div onclick='toggle("a7");' class="qq">Будет ли доступна запись прошедшей встречи?</div>

<div id="a7" class="aa">Так как «Место встречи.Питер.ТВ» является on-line интерактивным сервисом, запись «эфира» наших встреч на сервере не ведется. Вы можете воспользоваться для осуществления записи встречи внешними средствами.
</div>
<div onclick='toggle("a8");' class="qq">Сколько участников (зрителей) может прийти на встречу?
</div>
<div id="a8" class="aa">Мы не ограничеваем число зрителей и число участников, имеющих возможность задавать вопросы основному выступающему. 
</div>
<div onclick='toggle("a9");' class="qq">Какие технические требования предъявляются к оборудованию и каналам связи у участников?
</div>
<div id="a9" class="aa">Для надежной работы конференции канал связи должен обеспечивать скорость соединения не менее 512 кб «на вход» к участнику встречи  и не менее 256 кб «на выход» от участника

Чтобы избежать эффекта «эха» и лишнего шума в «эфире» для участия во встрече следует использовать наушники с микрофоном, либо гарнитуру!

Для просмотра  видеотрансляции встречи и участия в ней используется любой браузер с предустановленным проигрывателем Flash (скачать программу можно тут:   http://get.adobe.com/ru/flashplayer/ ) 
</div>
</div>                
                    
{% endblock %}
