{% load i18n %}
{% if request.user.is_superuser %}
<div class="admin-menu">
    <div class="submenu">
        <p>{% trans "Cameras" %}</p>
        <ul>
            <li><a href="{% url cam:type_list %}">{% trans "Camera types" %}</a></li>
        </ul>
        <p>{% trans "Billing" %}</p>
        <ul>
            <li><a href="{% url billing:tariff_list %}">{% trans "Tariffs" %}</a></li>
            <li><a href="{% url billing:order_list %}">{% trans "Pay Orders" %}</a></li>
            <li><a href="{% url billing:access_order_list %}">{% trans "Access Orders" %}</a></li>
        </ul>
    </div>
</div>
{% endif %}