{% load i18n %}
<script type="text/javascript" src="/media/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/media/js/jScrollPane.js"></script>
<script>
var room = "{{ camera.id }}";
var nick = "{{ user }}";
</script>
  <p>&nbsp;</p>
{% if is_owner or user.is_superuser %}
    <a class="reference" href='{% url cam:cam_edit camera.id %}'>
        {% trans "Edit camera" %}
    </a>
    <a class="reference" href='{% url cam:screen_edit camera.id %}'>
        {% trans "Edit screen" %}
    </a>
{% endif %}

  {% if camera.show %}

    <script type="text/javascript">
        $(document).ready(function(){
            // jScrollPane conflicts with chat
            //$('.scroll-pane').jScrollPane({showArrows:true, autoReinitialise: true, scrollbarWidth:5});
        });
    </script>
    <div id="watch-panel">
        {% if not camera.force_html5 %}
            <a style="display:block;width:515px;height:330px" id="flash-player"> </a>
        {% endif %}

        <video id="html-5-video"
               autoplay="false"
               controls width="515"
               height="330"
               style="display:block"
               poster="{{ camera.screen_full }}"
        src="http://vid1.modnoemesto.ru:1935/live/mp4:{{ camera.stream_name }}/playlist.m3u8" />

        {% if not camera.force_html5 %}

        <script type="text/javascript">
        if(navigator.userAgent.match(/iPad/i))
        {
            $('#flash-player').hide();
        }
        else
        {
            $('#html-5-video').hide();
            $f("flash-player", "/media/swf/flowplayer-3.2.5.swf", {
                clip: {
                    provider: 'rtmp'
                },
                playlist: [
                    {
                        url:'{{ camera.screen_full }}',
                        scaling: 'orig'
                    },{
                        autoPlay: false,
                        autoBuffering: false,
                        netConnectionUrl: 'rtmp://vid1.modnoemesto.ru/live',
                        url:'{{ camera.stream_name }}'
                    }
                ],
                plugins: {
                    rtmp: { url: '/media/swf/flowplayer.rtmp-3.2.3.swf', netConnectionUrl: 'rtmp://vid1.modnoemesto.ru/live' }
                }
            });
        }
        </script>
        {% endif %}

    {% if not camera.operator or camera.operator == user %}
      <object>
        <embed src="/media/swf/ManageCam_5.swf" width="450" height="154"
            flashvars="ip=modnoemesto.ru&amp;path=cgi-bin/encoder&amp;user=admin&amp;password=123456&amp;debug=0">
      </object>
    {% endif %}

    <div id="video_coment">
        <div id="laying">
            <div class="tab_chat">
                <span class="tab_chat">Чат</span>
            </div>
            <div class="tab_comment">
                <span class="tab_comment"><p>Комментарии<p><img src="/media/images/hand_up.jpg" alt="hand_up" />

                <p class="hand_up">47671</p><img src="/media/images/hand_down.jpg" alt="hand_down" />
                <p class="hand_down">481</p><p class="rating">Рейтинг</p><p class="rat">648</p>
                </span>
            </div>
        </div>
        <div class="scroll-wrap">
            <div class="scroll-pane">
                <div class="chat"></div>
            </div>
        </div>
        <div class="send">
        <p class="send_mass">Отправить собщение в чат:</p>
            <form action="send" method="post">
                <textarea class="com" name="t"></textarea>
                <input type="submit" class="sub" value="отправить" />
            </form>
        </div>
    </div>
    </div>

    {% if camera.paid %}
        {% trans "This camera is not free!" %}{% endif %}
  {% else %}
    {% trans "This camera is private." %}
  {% endif %}
