{% load i18n %}
<script type="text/javascript" src="/media/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/media/js/jScrollPane.js"></script>
	
  <p>&nbsp;</p>
{% if is_owner or user.is_superuser %}
    <a class="reference" href='{% url cam:cam_edit camera.id %}'>
        {% trans "Edit camera" %}
    </a>
    <a class="reference" href='{% url cam:screen_edit camera.id %}'>
        {% trans "Edit screen" %}
    </a>
{% endif %}

  {% if camera.show or user.is_superuser %}

    <script type="text/javascript">
        $(document).ready(function(){
            // jScrollPane conflicts with chat
            //$('.scroll-pane').jScrollPane({showArrows:true, autoReinitialise: true, scrollbarWidth:5});
        });
    </script>

    <div id="watch-panel">

    {% include camera.driver.template %}

	
	
	
    </div>

    {% if camera.paid %}
        {% trans "This camera is not free!" %}{% endif %}
  {% else %}
    {% trans "This camera is private." %}
  {% endif %}






		{% include "includes/chat.html" %}


		
		
		
		<!-- /comments -->
