<script>
var room = "{{ camera.id }}";
var nick = "{{ user.username }}";
</script>
<center>
  <p>&nbsp;</p>
  {% if camera.show %}
    <a
        href="{{ camera.host }}"
        style="display:block;width:520px;height:330px;background-color:black"
        id="player">
    </a>
    <script>
        flowplayer("player", "/media/swf/flowplayer-3.2.5.swf");
    </script>

    {% if not camera.operator or camera.operator == user.username %}
      <object>
        <embed src="/media/swf/ManageCam_5.swf" width="450" height="154"
            flashvars="ip=modnoemesto.ru&amp;path=cgi-bin/encoder&amp;user=admin&amp;password=123456&amp;debug=0">
      </object>
    {% endif %}

    <div id="video_coment">
        <div id="laying">
            <div class="tab_chat">
                <span class="tab_chat">Чат</span>
            </div>
            <div class="tab_comment">
                <span class="tab_comment"><p>Комментарии<p><img src="/media/images/hand_up.jpg" alt="hand_up" />

                <p class="hand_up">47671</p><img src="/media/images/hand_down.jpg" alt="hand_down" />
                <p class="hand_down">481</p><p class="rating">Рейтинг</p><p class="rat">648</p>
                </span>
            </div>
        </div>
        <div class="room">

            <div class="scroll-wrap">

                <div class="scroll-pane">
                    <div class="chat"></div>
                </div>
            </div>
        </div>
    </div>

    {% if not camera.free %}This camera is not free!{% endif %}
  {% else %}
    This camera is private.
  {% endif %}
</center>