{% load i18n %}
<div class="left-menu">
    <div class="submenu" style="float:left">
        <p>{% trans "Messages" %}</p>
        <ul>
            <li>
                {% if user.unread_msg_count %}
                    <strong>
                    <a href="{% url user_messages:view_inbox %}">
                        {% trans "Inbox" %} ({{ user.messages.unread|length }})
                    </a>
                    </strong>
                {% else %}
                    <a href="{% url user_messages:view_inbox %}">{% trans "Inbox" %}</a>
                {% endif %}
            </li>
            <li><a href="{% url user_messages:view_sent %}">{% trans "Sent" %}</a></li>
        </ul>
    </div>
    <div class="submenu" style="float:right">
        <p>{% trans "Friendship offers" %}</p>
        <ul>
            <li>
                {% if user.fs_offers_inbox_count %}
                    <strong>
                    <a href="{% url social:view_fs_offers_inbox %}">
                        {% trans "Inbox" %} ({{ user.fs_offers_inbox_count }})
                    </a>
                    </strong>
                {% else %}
                    <a href="{% url social:view_fs_offers_inbox %}">{% trans "Inbox" %}</a>
                {% endif %}
            </li>
            <li>
                <a href="{% url social:view_fs_offers_sent %}">{% trans "Sent" %}</a>
            </li>
        </ul>
    </div>
    <div style="clear:both"></div>
</div>
