{% load i18n %}
<div class="message-menu">
    <div class="submenu" style="float:left">
     <!--   <p>{% trans "Messages" %}</p> -->
        <ul>
            <li>
                {% if user.unread_msg_count %}
                    <strong>
                    <a class="reference" href="{% url user_messages:view_inbox %}">
                        {% trans "Inbox" %} ({{ user.messages.unread|length }})
                    </a>
                    </strong>
                {% else %}
                    <a class="reference" href="{% url user_messages:view_inbox %}">{% trans "Inbox" %}</a>
                {% endif %}
            </li>
            <li style="margin-left:380px"><a class="reference" href="{% url user_messages:view_sent %}">{% trans "Sent" %}</a></li>
        </ul>
    </div>
  
    <div style="clear:both"></div>
</div>
