{% load i18n %}
{% ifnotequal objects.paginator.num_pages 1 %}
    {% spaceless %}
    <div class="paginator">
        {% if objects.has_previous %}
            <a class="previous" href="{{ objects.previous_page_number }}">
                {% trans "Previous page" %}
            </a>
        {% else %}
            <span class="inactive">
                {% trans "Previous page" %}
            </span>
        {% endif %}

        {% for page, url in objects.short_page_range %}
            <span class="page{% ifequal page objects.number %} current{% endifequal %}">
                <a href="{{ url }}">{{ page }}</a>
            </span>
        {% endfor %}

        {% if objects.has_next %}
            <a class="next" href="{{ objects.next_page_number }}">
                {% trans "Next page" %}
            </a>
        {% else %}
            <span class="inactive">
                {% trans "Next page" %}
        {% endif %}
    </div>
    {% endspaceless %}
{% endifnotequal %}
