{% load i18n %}
{% ifnotequal objects.paginator.num_pages 1 %}
    {% spaceless %}
    <div class="paginator">
        {% if objects.has_previous %}
            <a class="previous" href="{{ objects.previous_page_number }}">
                &#8592;
            </a>
        {% else %}
            <span class="inactive">
                &#8592;
            </span>
        {% endif %}

        {% for page, url in objects.short_page_range %}
            <a class="page{% ifequal page objects.number %} current{% endifequal %}" href="{{ url }}">{{ page }}</a>
        {% endfor %}

        {% if objects.has_next %}
            <a class="next" href="{{ objects.next_page_number }}">
                &#8594;
            </a>
        {% else %}
            <span class="inactive">
                &#8594;
            </span>
        {% endif %}
    </div>
    {% endspaceless %}
{% endifnotequal %}
