{% load i18n %}
{% ifnotequal objects.paginator.num_pages 1 %}
    {% spaceless %}
    <div class="paginator">
        {% if objects.has_previous %}
            <a class="previous" href="?page={{ objects.previous_page_number }}">
                {% trans "Previous page" %}
            </a>
        {% endif %}

    <span class="info">
{% blocktrans with objects.number as number and objects.paginator.num_pages as num_pages %}
Page {{ number }} of {{ num_pages }}.
{% endblocktrans %}
    </span>

        {% if objects.has_next %}
            <a class="next" href="?page={{ objects.next_page_number }}">
                {% trans "Next page" %}
            </a>
        {% endif %}
    </div>
    {% endspaceless %}
{% endifnotequal %}