{% load i18n %}
{% load media %}

<h2 class="video_title">{% trans "Change screen" %}</h2>

        <img src="{% media_url screen camera_screen_full.png %}" />
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="form" value="screen" />
<div class="filt rounded" style="-moz-border-radius: 10px 10px 10px 10px; margin-top: 10px; padding-bottom: 10px;">
    
    <table class="img_loader">
    <tr>
    	<th><label for="id_file">Изображение:</label></th>
                    <td class="empty_filt"></td>
                    <td>{{ form.file.errors }}
                        <input type="file" name="file" id="id_file" />
                    </td>

    </tr>
    </table>
</div>
<div class="but">
    <input type="submit" value="{% trans "Save" %}" />
</div>
    </form>