{% load i18n %}

<h2>{% trans "Edit user" %}</h2>
<form method="post" class="baseform">
    <input type="hidden" name="form" value="user" />
    <div class="filt rounded">
        <table class="group_add">
        <tr>
            <th><label for="id_first_name">Имя:</label></th>
            <td class="empty_filt"></td>
            <td>
                {{ form.first_name.errors }}
                <div class="input_holder rounded">{{ form.first_name }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_last_name">Фамилия:</label></th>
            <td class="empty_filt"></td>
            <td>
                {{ form.last_name.errors }}
                <div class="input_holder rounded">{{ form.last_name }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
    </table>

    </div>
    <div class="but">
        <input type="submit" value="{% trans 'Save' %}" />
    </div>
</form>
