#user_page
{
	font-family: Verdana, Geneva, sans-serif;
	margin: 0 auto;
}
.top 
{
	background: url(top_bg4.png) #efefef 0 0 no-repeat ; 
	width: 968px; 
	height: 87px; 
	}
.logo_spb 
{
	background: url(logo_top.png) 0 0 no-repeat; 
	width: 113px; 
	height: 116px; 
	position: absolute; 
	left: 30px; 
	top: -50px;
	z-index: 2;
	}
.text 
{
	background: url(logo_text2.png) 0 0 no-repeat; 
	width: 425px; 
	height: 44px; 
	position: absolute; 
	left: 556px; 
	top: -30px; 
	}
.menu 
{
	background: url(menu_bg.png) 0 0 #efefef no-repeat; 
	width: 983px; 
	height: 28px;
	margin-bottom: 10px;
}
#user_page h2
{

	display: none;
}
#user_page .title h2, #user_page .button span 
{
	display: block;
}
dt
{
	float: left;
	display: inline;
	width: 120px;
	color: #000;
	padding: 5px;
	font-size: 12px;
}
.about_persone dd a
{
	color: #7B9E33;
}
#avatar
{
	border: none;	
}
#videochat {
    position: absolute;
    top: 148px;
}
.profileActions
{
	height: 45px;
}
.profileActions ul li
{
	padding: 15px 0px 15px 5px;
	border-top: none;
	display: block;
}
.profileActions ul li a, .profileActions ul li span
{
	color: #666;
	font-weight: bold;
}
div.about_persone 
{
	width: 370px;
	border: none;
	background: none;
	position: static;
}

dt
{
	font-weight: bold;
}
dd
{
	margin-left: 121px;
	padding: 5px;
	overflow: hidden;
	width: 200px;
	color: #666;
}
#general_info, #education_info
{
	display: none;
}

.about_persone p {
    color: #800000;
	font-weight: bold;
}
.about_persone dd a
{
	color: #666;
	text-decoration: underline;
}

#anounce_info
{
	top: 110px;
	left: 210px;
	position: absolute;
}
#videochat 
{
	padding: 0px;
}
p.event_announce
{
    width: 285px;
	color: #666666;
	padding-top: 10px;
	text-align: left;
	font-weight: normal;
	top: 140px;
	
}
.friend_box
{
	position: absolute;
	top: 250px;
	left: 400px;
	border: none;
	background: none;
	width: 80px;
	height: 450px;
}
.all_friends {
    text-align: center;
}
.all_friends p
{
	display: none;
}
.all_friends span
{
	float: none;
	width: 80px;
}
.friendTable td a {
    color: #7B9E33;
}
.friendTable td img {
    border: 4px solid #d0ea99;
}
/*#camera
{
	position: relative;
	top: 30px;
	height: 690px;
}*/
.beginning a
{
	font-size: 11px;
}
#conference_announcement
{
	position: relative;
	left: 585px;
	top: -260px;
}
#contact_info
{
	position: absolute;
	left: 0px;
	top: 360px;
}