*
{
    margin: 0;
    padding: 0;
    border: none;
}


html, body
{
    height: 100%; /* needed for container min-height */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
h2, h3
{
	font-weight: normal;
}
a
{
text-decoration: none;
}

div#container
{
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
}

div#subContainer
{
    position: relative; /* needed for footer positioning*/
    margin: 0 auto;
    width: 1000px;
	min-width: 1000px;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
}
/*Header
---------------------------------------------------------------*/
#header
{
	overflow: hidden;
	height: 96px;
	background: url(images/header_bg.jpg) no-repeat;
}
#logo
{
	margin-left: 40px;
	float: left;
	display: inline;
}
div#serch
{
	margin-top: 24px;
	margin-left: 750px;
}
.find
{
	background: url(images/serch_field.png) no-repeat;
	width: 210px;
	height: 20px;
	position: relative;
	top: -4px;
/*	top: -3px;*/
	left: 3px;
	padding-left: 10px;
	color: #0888a0;
}
#menu
{
	width: 620px;
	overflow: hidden;
	position: relative;
	top: -28px;
	left: 373px;
}
#menuReg
{
	width: 210px;
	overflow: hidden;
	position: relative;
	top: -28px;
	/*left: 700px !important;*/
	left: 780px;
}
	
@media screen and (-webkit-min-device-pixel-ratio:0) {#menu{top: -30px;}  #menuReg{top: -30px;} }
/*body:nth-of-type(1) #menu{top: -48px;} */
#menu table td, #menuReg table td
{
	border-bottom: #d9d8bf solid 2px;
}
#menu .empty, #menuReg .empty
{
	width: 4px;
	border-bottom: #d9d8bf solid 2px;
}
#menu .left_corner, #menuReg .left_corner
{
	width: 5px;
	background: url(images/left_corner2.png) no-repeat;
	height: 28px;
	border-bottom: #d9d8bf solid 2px;
}
#menu .right_corner, #menuReg .right_corner
{
	width: 5px;
	background: url(images/right_corner.png) no-repeat;
	height: 28px;
	border-bottom: #d9d8bf solid 2px;
}

#menu .menu_but, #menuReg .menu_but
{
	height: 28px;
	background: url(images/menu_bg2.png) repeat-x;

}
#menu .menu_but a, #menuReg .menu_but a
{
	color: #0888a0;
	padding: 5px 15px;
	font-variant: small-caps;
	font-size: 14px;
	font-weight: bold;
}

#menu .menu_curent, #menuReg .menu_curent
{
	background: #FFF;
	border-bottom: none;
}
.right_corner_menu_curent
{
	background: url(images/right_corner_curent.png) no-repeat;
	height: 28px;
	width: 5px;
}
.left_corner_menu_curent
{
	background: url(images/left_corner_curent.png) no-repeat;
	height: 28px;
	width: 3px;
}
/*End Header */

/*MainContent
---------------------------------------------------------------*/
div#mainContent
{
    padding: 0em 1em 1em; /* bottom padding for footer */
    overflow: hidden;
    position: relative
}
/*-----------------------*/
#leftColumn
{
	width: 190px;
	float: left;
	display: inline;
}
.nav ul
{
	overflow: hidden;
}
.nav ul li
{
	padding: 10px 0px 10px 34px;
	border-bottom: #6f6f6f dotted 1px;
	display: block;
}
.nav ul li a
{
	color: #6f6f6f;
	font-size: 13px;
}
.nav ul li a.curent
{
	color: #000;
	text-decoration: none;
}
.nav ul li a:hover
{
	color: #000;
}
li#persone
{
	background: url(images/persone.jpg) no-repeat left center;
}
li#persone a
{
	color: #000;
	font-weight: bold;
}
li#money
{
	padding: 10px 0px 10px 0px;
	background: #d0f3f5;
}
li#money div.q
{
	padding: 5px 0px 5px 34px;
	background: url(images/money.jpg) no-repeat left center;
	color: #027a98;
	
}
li#money p
{
	color:#027a98;
}
li#money p#amount
{
	padding: 10px 5px 10px 0px;
}
li#money p#amount span
{
	color: #069cc2;
	font-size: 18px;
	font-weight: bold;
}

li#money p#purse a
{
	color: #027a98;
	text-decoration: underline;
}
li#fashion_place
{
	background: url(images/lovely.jpg) no-repeat left center;
}

li#friends
{
	background: url(images/friends.jpg) no-repeat left center;
}
li#mail
{
	background: url(images/mail.jpg) no-repeat left center;
}
li#notes
{
	background: url(images/notes.jpg) no-repeat left center;
}
li#group
{
	background: url(images/group.jpg) no-repeat left center;
}
li#foto
{
	background: url(images/foto.jpg) no-repeat left center;
}
li#video
{
	background: url(images/video.jpg) no-repeat left center;
}
li#audio
{
	background: url(images/audio.jpg) no-repeat left center;
}
li#meeting
{
	background: url(images/meeting.jpg) no-repeat left center;
	border-bottom: none;
}
div#what_new
{
	margin-top: 70px;
}
#advertising
{
	margin-top: 25px;
}
#advertising img
{
	border: #d9d8bf solid 2px;
}
#advertising p.date
{
	color: #999999;
	font-size: 10px;
	padding-top: 10px;
}
#advertising p.cam
{
	color: #1890a5;
	font-size: 14px;
	padding-top: 10px;
}
#advertising p
{
	padding-top: 10px;
	font-size: 14px;
}
/*-----------------------*/
#centerColumn
{
	float: left;
	display: inline;
	width: 525px;
	margin-left: 15px;
}
h2.video_title
{
	color: #08889f;
	font-size: 18px;
	padding: 10px 0px;
}
p.create
{
	color: #8e8e8d;
	float: left;
	display: inline;
	
}
a#name_creater
{
	color: #00b2d5;
	text-decoration: underline;
	padding-left: 5px;
}
div#player
{
	width: 515px;
	height: 445px;
}
#watch-panel
{
	border: #eeedde solid 5px;
	margin-top: 10px;
	width: 515px;
}
#video_coment
{
	overflow: hidden;
}
#laying
{
	padding-top: 30px;
	overflow: hidden;
	position: relative;
	top: 1px;
}
#laying div
{
	float: left;
	height: 29px;
	margin-left: 20px;
}
#laying div.tab_chat
{
	background: url(images/chart_left_corner.jpg) no-repeat left;
}
#laying span.tab_chat
{
	background: url(images/chart_right_corner.jpg) no-repeat right;
	display: block;
	padding: 3px 10px;
	color: #a1a095;
	font-size: 18px;
}
#laying div.tab_comment
{
	background: url(images/comment_left_corner.jpg) no-repeat left;
}
#laying span.tab_comment
{
	background: url(images/coment_right_corner.jpg) no-repeat right;
	display: block;
	padding: 3px 10px;
	font-size: 18px;
	color: #0b97b2;
	overflow: hidden;
}
#laying span.tab_comment p,
#laying span.tab_comment img
{
	float: left;
	display: inline;
	margin-right: 10px;
}
#laying span.tab_comment p.hand_up
{
	color: #69ad07;
	text-decoration: underline;
}
#laying span.tab_comment p.hand_down
{
	color: #d50091;
	text-decoration: underline;
}
#laying span.tab_comment p.rating
{
	color: #8e8e8d;
}
#laying span.tab_comment p.rat
{
	color: #00b2d5;
	text-decoration: underline;
}
.room
{
	background: #efeedf;
	border-top: #a8a8a8 solid 1px;
}
.chat
{
	 padding: 10px 0px;
}
.comment
{
	padding: 10px 0px;
	overflow: hidden;
}
.from
{
	overflow: hidden;
	color: #F66;
}
.from p
{
	float: left;
	display: inline;
	padding-right: 7px;
}
.send
{
	padding-top:5px;
	width: 515px;
}
p.send_mass
{
	color: #999999;
	padding-bottom: 7px;
}
.room textarea.com
{
	width: 410px;
	height: 43px;
	/*float: left;
	display: inline; */
}
.room input.sub
{
	background: url(images/but.jpg) no-repeat;
	color: #FFF;
	padding: 12px 8px 13px 8px;
	/*margin-left: 415px;*/
	float: right;
	cursor:pointer;
	border: none;
	width: 84px;
}
/* For Reg
------------------------------------*/
div#content_about
{
	width: 700px;
	float: left;
	/*display: inline;*/
	overflow: hidden;
}
#content_about h2
{
	color: #2bacd5;
	font-size: 18px;
	padding: 10px 0px 20px 0px;
}
#content_about p
{
	color: #585858;
	font-size: 14px;
	padding-bottom: 20px;
	line-height: 1.5;
}
#content_about a, #regColumn a
{
	color: #2bacd5;
}
#regColumn
{
	margin-left: 730px;
	width: 240px;
	overflow: hidden;
}
div.enter
{
	padding: 7px;
	overflow: hidden;
	background: #eeedde;
	margin-top: 10px;
}
h2.ent
{
	color: #a1a095;
	font-size: 18px;
}
	
input.subEnter
{
	background: url(images/enter.jpg) no-repeat;
	color: #FFF;
	padding: 2px 25px 4px 25px !important;
	padding: 2px 25px 3px 25px;
	cursor:pointer;
	border: none;
	float: right;
	margin-top: 10px;
	overflow: visible;
	width: 84px;
}
div.reg
{
	padding: 7px 7px 7px 9px;
	overflow: hidden;
	background: #9ce2f0;
	margin-top: 10px;
	/*width: 230px; */
}
h2.registr
{
	color: #2bacd5;
	font-size: 18px;
	cursor:pointer;
}
div.reg p, div.enter p
{
	padding-bottom: 10px;
	color: #686767;
}
div.reg a, div.enter a
{
	color: #2bacd5;
}

#name, #e-mail, #surname, #pass
{
	width: 218px;
	padding: 2px;
	
}

p.but
{
	overflow: hidden;
}
input.subReg
{
	background: url(images/reg.jpg) no-repeat;
	color: #FFF;
	padding: 2px 10px 4px !important;
	padding: 2px 22px 3px 25px;
	cursor:pointer;
	border: none;
	float: right;
	overflow: visible;
	width: 164px;
	margin-top: 10px;

}
#enter_form, #reg_form
{
	overflow: hidden;
	margin-top: 20px;
}
#reg_form #name, #reg_form #e-mail, #reg_form #surname, #reg_form #pass
{
	background: url(images/input.jpg) no-repeat;
}
#enter_form #name, #enter_form #e-mail, #enter_form #surname, #enter_form #pass
{
	background: url(images/input_ent.jpg) no-repeat;
}
/* For Filer
----------------------------------*/
#filterColumn
{ 
	/*overflow: hidden;*/
	margin-left: 215px;
	width: 755px;
	margin-top: 15px;
}

#filter_box h2
{
	color: #5ac6d8;
	font-size: 18px;
	padding-bottom: 15px;
}
.filt
{
	/*overflow: hidden;*/
	background: #5ac6d8;
	padding: 10px 20px 20px 25px;
}
.name_filt
{
	color: #FFF;
	padding: 10px 5px 10px 10px;
}
/*.filt td select
{
	background: url(images/input_filt.jpg) no-repeat;
	width: 160px;
	padding-bottom: 4px;
	overflow: hidden;
}
.filt td select option
{
	background: #FFF;
	padding-bottom: 3px;
}*/
.filt td input.kay
{
	background: url(images/input_kay.jpg) no-repeat;
	width: 180px;
	padding: 3px;
}
td.empty_filt
{
	width: 50px;
}
.filt td input.button
{
	background: url(images/but_filter.jpg) no-repeat;
	width: 181px;
	padding: 2px 30px 4px 30px;
	color: #FFF;
	overflow: visible;
	cursor:pointer;
}
#more_popular
{
	margin-top: 10px;
	border-top: 1px dotted #6f6f6f;
	padding-top: 20px;
	background: url(images/bg_more_popular.png) no-repeat top;
}
#more_popular h2
{
	color: #00b2d5;
	font-size: 18px;
	padding-left: 10px;
}
#more_new
{
	margin-top: 10px;
	border-top: 1px dotted #6f6f6f;
	padding-top: 20px;
	background: url(images/bg_more_new.jpg) no-repeat top;
}
#more_new h2
{
	color: #7a7a76;
	font-size: 18px;
	padding-left: 10px;
}
#filt_pop, #filt_new
{
	/*padding: 5px;*/
	overflow: hidden;
	margin-top: 37px !important;
	margin-top: 37px;
}
#filt_pop ul li, #filt_new ul li
{
	list-style-type: none;
	float: left;
	display: inline;
	margin-right: 5px;
	width: 185px;
	/*padding: 12px;*/
}
#filt_pop ul li .pop 
{
	padding: 7px;
	background: #5ac6d8;
}
#filt_new ul li .pop
{
	padding: 7px;
	background: #eeedde;
}
#filt_pop ul li .pop a, #filt_new ul li .pop a
{
	color: #575757;
	text-decoration: underline;
}
#filt_pop ul li .pop p, #filt_new ul li .pop p
{
	padding: 10px 0px 0px 25px;
	background: url(images/hande_rog.png) no-repeat left bottom;
}
#filt_pop  p.place, #filt_new p.place
{
	color: #08869d;
	font-size: 14px;
	padding: 5px 2px 2px 2px;
	
}
#filt_pop p.quantity, #filt_new p.quantity
{
	color: #bebebe;
}
#filt_pop p.creater, #filt_new p.creater
{
	color: #00b2d5;
}
#filterColumn p.all
{
	
	float: right;
	width: 150px;
	text-align: right;
	margin-top: 0px !important;
	margin-top: -40px;
}
#filterColumn p.all a
{
	color: #575757;
	text-decoration: underline;
}
/* For CameraFilter
-----------------------------------*/
.cam_filter_hide
{
	padding-top: 20px;
}
.cam_filter
{
	background: #5AC6D8;
	padding: 10px 20px 20px 25px;
}
.cam_filter .empty_filt
{
	width: 25px;
}
.cam_filter td input.button {
background:url("images/but_filter.jpg") no-repeat;
color:#FFFFFF;
cursor:pointer;
overflow:visible;
padding:2px 30px 4px;
width:181px;
}
.filt span
{
	position: relative;
	top: -3px;
}
/* For Pay
----------------------------------*/
.defTable {
border:1px solid #DDDDDD;
border-collapse:collapse;
width:100%;
}
.defTable table, td, th {
color:#585858;
font-size:inherit;
}
.defTable tbody td {
border:1px solid #DDDDDD;
border-collapse:collapse;
padding:4px;
}
.defTable input[type="text"] {
border:1px solid #BDBDBD;
color:#5D5D5D;
font:11px arial;
height:19px;
padding:2px 5px;
width: 97%;
}
.defTable input[type="submit"]
{
background:url("images/but.jpg") no-repeat scroll 0 0 transparent;
border:medium none;
color:#FFFFFF;
cursor:pointer;
padding:12px 8px 13px;
width:84px;
}
h2.caption {
color:#2BACD5;
font-size:18px;
padding:10px 0 20px;
}
.instuction
{
	padding-left: 20px;
	color: #08889f;
}
.instuction li span
{
	color: #585858;
}
.instuction li
{
	padding-bottom: 10px;
}
.nowidth input
{
	width: 0;
}
span.star {
color:#0088BB;
font-size:1.2em;
font-weight:bold;
margin:0 5px;
}
/* For SuperUser
----------------------------------*/
#content_about ul
{
	margin-bottom: 20px;
}
#content_about ul li input[name="coast"] {
	background:  #FFF;
	padding:5px;
	width:180px;
	margin-left: 50px;
	color: #585858;
}
#content_about ul li
{
	list-style-type: none;
	padding: 15px 0px;
	border-bottom: 1px dotted #6F6F6F;
	overflow: auto;
}
#content_about ul li p
{
	padding: 0px 0px 0px 5px;
}
#content_about ul li p textarea
{
	color: #585858;
	font-size: 14px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	height: auto;
}
#content_about ul li p.tarif_name textarea
{
	height: 23px;
	cursor: pointer;
}
div.tarif_type
{
	width: 400px;
	background: #FFF;
	padding: 3px;
	float: left;
	display: inline;
}
.filt input[type="submit"] {
	background:url("images/but_filter.jpg") no-repeat scroll 0 0 transparent;
	color:#FFFFFF;
	cursor:pointer;
	overflow:visible;
	padding:2px 30px 4px;
	width:181px;
}
/* For Own_page
----------------------------------*/
div#left
{
	width: 295px;
	float: left;
	overflow: hidden;
	padding-top: 10px;
}
#left h2
{
	font-size: 18px;
	color: #08889f;
}
#left dl
{
	padding: 10px 0px;
}
#left dt
{
	float: left;
	display: inline;
	width: 120px;
	color: #838383;
	padding: 5px;
}
#left dd
{
	margin-left: 121px;
	padding: 5px;
	overflow: hidden;
	width: 150px;
}
#left dd a
{
	color: #00b2d5;
	text-decoration: underline;
}
div.about_persone
{
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	background: url(images/bg_about_persone.png) no-repeat;
}
.about_persone p, .the_wall p
{
	color: #08889f;
	width: 205px;
	float: left;
	display: inline;
	padding-left: 5px;
}
.friend_box p, .group_box p
{
	color: #08889f;
	width: 160px;
	float: left;
	display: inline;
	padding-left: 5px;
}
.about_persone a.change, .the_wall a.change, .friend_box a.change, .group_box a.change
{
	color: #838383;
	text-decoration: underline;
}
.about_persone span, .the_wall span, .friend_box span, .group_box span
{
		width: 100px;
		text-align: right;
}
div.the_wall
{
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
}
div.post
{
	overflow: hidden;
	padding: 10px 0px;
	border-top: 1px dotted #6f6f6f;
}
div.post .per_photo img
{
	border: 4px solid #eeedde;
}
.per_photo
{
	width: 65px;
	height: 65px;
	/*background: #FFF;*/
	float: left;
	display: inline;
}
.status_name a
{
	color: #00b2d5;
}
.status_date p
{
	color: #838383;
	padding: 0px;
}
.text p
{
	color: #575655;
	padding: 10px 0px 0px 0px;
}
div#right
{
	float: right;
	margin-left: 1px;
	width: 220px;
	padding-top: 10px;
}
.own_photo
{
	/*width: 219px;
	height: 270px;*/
	text-align: center;
	border: 10px solid #eeedde;
}
.rating_persone
{
	margin-top: 3px;
	background: #d0f3f5;
	padding: 13px;
}
.rating_persone p
{
	color: #575655;
}
.profileActions ul
{
	overflow: hidden;
}
.profileActions ul li
{
	padding: 10px 0px 10px 15px;
	border-top: #6f6f6f dotted 1px;
	display: block;
}
.profileActions ul li a
{
	color: #575655;
}
.profileActions ul li a:hover
{
	color: #000;
}
.friend_box
{
	margin-top: 10px;
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	background: url(images/bg_about_persone.png) no-repeat;
	height: 220px;
}
ul.friendTable
{
	overflow: hidden;
}
.friendTable li
{
	float: left;
	display: inline;
}
.friendTable td 
{
	font-size:11px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:1px;
	padding-left:0;
	padding-right:0;
	padding-top:1px;
	text-align:center;
	vertical-align:bottom;
	width:69px;
}
.friendTable td img
{
	border: 4px solid #eeedde;
}
.friendTable td a
{
	color: #00b2d5;
}
.friendTable table 
{
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	padding-bottom:0;
}
.friendTable
{
	margin-top: 10px;
}
.group_box
{
	margin-top: 10px;
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	background: url(images/bg_about_persone.png) no-repeat;
}
.club_box
{
	padding: 10px 5px;
}
.club_box, .club_box a 
{
	color: #00b2d5;
	text-decoration: underline;
}
/* For Group_Add
-------------------------*/
.group_add th
{
	color: #FFF;
	text-align: right;
	vertical-align: top;
	padding-top: 3px;
}
.input_holder
{
	background:#FFF; 
	padding:3px 4px;
	width: 290px;
}
.input_holder input, .input_holder textarea
{
	padding-left: 2px;
	color: #585858;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 280px;
}
.input_holder input[type="radio"]
{
	width: auto;
}
div.but
{
	margin-top: 10px;
}
.but input[type="submit"]
{
	background: url(images/but.png) no-repeat;
	color:#FFFFFF;
	cursor:pointer;
	overflow:visible;
	padding:2px 30px 4px;
	width:181px;
	float: right;
}

/*@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0){.sub{padding: 12px 9px 13px;}}
@media screen and (-webkit-min-device-pixel-ratio:0) {.sub{padding: 12px 15px 13px;}}
/*-----------------------------------*/
#rightColumn
{
	float: right;
	width: 235px;
}
h2.mod_places
{
	color: #a1a095;
	font-size: 18px;
	padding: 10px 0px;
}
p.fi
{
	color: #8e8e8d;
	float: left;
	display: inline;
	
}
a#quont
{
	color: #6b6b69;
	text-decoration: underline;
	padding-left: 5px;
}
div#form
{
	margin-top: 10px;
	padding: 7px;
	background: #eeedde;
}
select#filter
{
	width: 205px;
	padding-left: 5px;
}
div#fp
{
	/*padding: 5px;*/
	height: 555px;
	overflow: hidden;
	background: #FFF;
	margin-top: 7px !important;
	margin-top: 10px;
}
#fp ul li
{
	list-style-type: none;
	/*padding: 12px;*/
}
#fp ul li img
{
	float: left;
	display: inline;
	width: 80px;
	height: 55px;
	/*padding: 5px 0 0 5px;*/
}
#fp div.item
{
	border-bottom: #6f6f6f dotted 1px;
	overflow: hidden;
	padding: 5px;
}
#fp ul li div.news
{
	margin-left: 88px;
	margin-top: 0px !important;
	margin-top: -15px;
	height: 69px;
}
#fp div.news p.place
{
	color: #08869d;
	font-size: 14px;
	padding: 2px;
	
}
#fp div.news p.quantity
{
	color: #bebebe;
}
#fp div.news p.creater
{
	/*position: absolute;
	bottom: 0px;*/
	color: #00b2d5;
}
div.all
{
	background: #eeedde;
	width: 60px;
	padding: 5px 0px 7px 30px;
	float: right;
	position: relative;
	top: -6px;
}
div.all p
{
	color: #bebebe;
	float: left;
	display: inline;
	padding-right: 5px;
}
div.all a
{
	color: #575757;
	text-decoration:  underline;
}
/*End */
/*Fotter
------------------------------------------------------*/
#footer
{
	height: 90px;
	background: #fdfcfb;
	overflow: hidden;
	position: absolute;
    width: 100%;
    bottom: 0; /* stick to bottom */
}
#info
{
	overflow: hidden;
	height: 100px;
	margin: 0 auto;
    width: 1000px;
	border-top: #6f6f6f dotted 1px;
}
#info ul li
{
	list-style-type: none;
	padding: 20px 38px;
	float: left;
	display: inline;
}
#info ul li a
{
	color: #bfbeb2;
}


#design
{
	float: right;
	margin-top: -15px;
}
#design a
{
	text-decoration: underline;
	color: #000;
}
/* For error messages
------------------------------------*/
.messages li
{
	color: #00B2D5;
	padding-bottom: 7px;
}
