{% extends "base_mini.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link href="/media/styles/drop_down.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block base_content %}
{% include "_left_box_menu.html" %}

<h2>{% trans "Log" %}</h2>
<table border="1" cellpadding="1" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Level name" %}</th>
            <th>{% trans "Level num" %}</th>
            <th>{% trans "Message" %}</th>
            <th>{% trans "Path name" %}</th>
            <th>{% trans "Logger name" %}</th>
            <th>{% trans "Function" %}</th>
            <th>{% trans "Line number" %}</th>
        </tr>
    </thead>
    <tbody>
{% for entry in page_entries.object_list %}
    <tr>
        <td>{{ entry.date }}</td>
        <td>{{ entry.levelname }}</td>
        <td>{{ entry.levelnum }}</td>
        <td>{{ entry.message }}</td>
        <td>{{ entry.pathname }}</td>
        <td>{{ entry.logger_name }}</td>
        <td>{{ entry.func }}</td>
        <td>{{ entry.lineno }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_entries.has_previous %}
            <a href="{% url logging:log_list_level_page page_entries.previous_page_number %}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
			{% blocktrans with page_entries.number as number and page_entries.paginator.num_pages as num_pages %}
			Page {{ number }} of {{ num_pages }}.
			{% endblocktrans %}
        </span>

        {% if page_entries.has_next %}
            <a href="{% url logging:log_list_level_page page_entries.next_page_number %}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
{% endblock %}
