{% extends "base.html" %}

{% load i18n %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_theme').selectbox();
        $('#id_type').selectbox();
    });
</script>
{% endblock %}

{% block content %}
<div id="filter_box">
    <h2>{% trans "Group creation" %}</h2>

    <div class="filt rounded">
        <form method="post">
            <table class="group_add">
                <tr>
                    <th><label for="id_{{ form.name.html_name }}">{{ form.name.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.name.errors }}
                        <div class="input_holder rounded">
                            {{ form.name }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
                <tr>
                    <th><label for="id_{{ form.description.html_name }}">{{ form.description.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.description.errors }}
                        <div class="input_holder rounded">
                            {{ form.description }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
                <tr>
                    <th><label for="id_{{ form.theme.html_name }}">{{ form.theme.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.theme.errors }}
                        <div>
                            {{ form.theme }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
                <tr>
                    <th><label for="id_{{ form.type.html_name }}">{{ form.type.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.type.errors }}
                        <div>
                            {{ form.type }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
                <tr>
                    <th><label for="id_{{ form.site.html_name }}">{{ form.site.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.site.errors }}
                        <div class="input_holder rounded">
                            {{ form.site }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
                <tr>
                    <th><label for="id_{{ form.country.html_name }}">{{ form.country.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.country.errors }}
                        <div class="input_holder rounded">
                            {{ form.country }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
                <tr>
                    <th><label for="id_{{ form.city.html_name }}">{{ form.city.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.city.errors }}
                        <div class="input_holder rounded">
                            {{ form.city }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
                <tr>
                    <th><label for="id_{{ form.public.html_name }}">{{ form.public.label }}:</label></th>
                    <td class="empty_filt"></td>
                    <td>
                        {{ form.public.errors }}
                        <div class="input_holder rounded">
                            <input type="radio" id="id_public" name="public" value="1" checked="checked"><label for="id_public">Открытый</label><br/>

                            <div style="color:#777; font-size:10px">Вступить в группу может любой желающий. Все могут
                                просматривать
                                информацию о группе, её стену и фотоальбом.
                            </div>
                            <br/>
                            <input type="radio" id="id_private" name="public" value="0"><label for="id_private">Закрытый</label><br/>

                            <div style="color:#777; font-size:10px">Вступить в группу можно только после одобрения
                                администратором.
                                Все могут просматривать информацию о группе, но стена и фотоальбом группы видны только
                                её
                                участникам.
                            </div>
                            <br/>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:10px"></td>
                </tr>
            </table>
		</div>
        <div class="but">
        	<input type="submit" value="{% trans 'Create group' %}"/>
        </div>
        </form>

   
</div>
{% endblock %}
