{% extends "base.html" %}
{% load i18n %}
\{% load media %}
{% block content %}
<div id="filter_box" style="overflow:hidden">
    <h2>{% trans "Available groups" %}</h2>
        <div class="but"><a class="reference" href="{% url groups:group_add %}">{% trans "Create group" %}</a></div>
	<br />
        {% for group in groups.object_list %}
            <div class="group_list">
                <div class="group_ava"><a href="{% url groups:group_view id=group.id %}"><img src="{% media_url group.photo group_photo_mini.png %}" /></a></div>
                <div class="group_info"><a href="{% url groups:group_view id=group.id %}">{{ group.name }}</a></div></div>
        {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if groups.has_previous %}
            <a href="{% url groups:group_list_page groups.previous_page_number %}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
{% blocktrans with groups.number as number and groups.paginator.num_pages as num_pages %}
Page {{ number }} of {{ num_pages }}.
{% endblocktrans %}
        </span>

        {% if groups.has_next %}
            <a href="{% url groups:group_list_page groups.next_page_number %}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
{% endblock %}
