{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
    $('#filter_box').click(function(e){
        var link = $(e.target);
        if (link.hasClass('invite')) {
            $.get(link.attr('href'), function(data) {
                if (data == 'OK') {
                    link.remove();
                } else {
                    alert(data);
                }
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div id="filter_box">
<h2>{% trans "My groups" %}</h2>
{% for group in groups %}
    <div class="user_group">
        <div class="group_ava"><a href="{% url groups:group_view group.id %}"><img src="{% media_url group.photo group_photo_mini.png %}" /></a></div>
        <div class="group_info"><a href="{% url groups:group_view group.id %}">{{ group.name }}</a></div>
        <div class="group_info"><a href="{% url groups:send_invite group.id invite_user.id %}" class="invite">пригласить</a></div>
    </div>
{% empty %}
У вас нет групп, в которую можно пригласить пользователя <a href="{% url social:user invite_user.id %}">{{ invite_user }}</a>.
{% endfor %}
</div>
{% endblock %}
