{% extends "base_mini.html" %}
{% load i18n %}
{% load media %}

{% block base_content %}
{% include "_left_box_menu.html" %}
<div id="centerColumn">
<div id="filter_box">
<h2>{% trans "Group" %} "{{ group.name }}"</h2>
{% if group.has_video_conference %}
<object  width="745" height="515">
    <embed src="/media/swf/group_{% if is_admin %}admin{% else %}user{% endif %}.swf" quality="high" bgcolor="#869ca7"
        flashvars="myname={{ user.id }}&ip=188.93.21.227&group={{ group.id }}&session_key={{ request.session.session_key }}"
        width="745" height="515" name="sdo_video" align="middle"
        play="true"
        loop="false"
        quality="high"
        allowScriptAccess="modnoemesto.ru"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
</object>
{% endif %}

{% if is_admin %}
<div class="friend_request">
        <table style="width:100%"><tr>
            <td style="width:25%">
                 <a class="reference" href="{% url groups:group_edit group.id %}">{% trans "Edit" %}</a>
            </td>
            <td style="text-align:center;width:25%">
                 <a class="reference" href="{% url groups:photo_edit group.id %}">Фотография</a>
            </td>
            <td style="text-align:center;width:25%">
                <a class="reference" href="{% url groups:members_manage group.id %}">Управление участниками</a>
            </td>
            <td style="text-align:right;width:25%">
                <a class="reference" href="{% url groups:send_friends_invite group.id %}">Отправить приглашение</a>
            </td>
        </tr></table>
        </div>
        <br />
{% endif %}

<img src="{% media_url group.photo group_photo_full.png %}" />


<div class="messages">
    <h3>{% trans "Messages" %}</h3>

{% if can_send_message %}
    <form method="post" action="">
        <div class="answer">
            <div class="message_text_group rounded">
                <textarea name="text" cols="78" rows="5"></textarea>
            </div>
            <div class="but" style="margin-right:0;">
                <input type="submit" value="{% trans "Send" %}"/>
            </div>
        </div>
    </form>
{% endif %}

{% if group_messages.object_list and can_view_private %}
    <div class="messages_inbox wall">
        {% for msg in group_messages.object_list %}
        <div class="message_item">
            <div class="friendTable">
                {% with msg.sender as user %}
                    {% include "includes/user/micro.html" %}
                {% endwith %}
            </div>
            <div class="message_text">
                <p>{{ msg.timestamp|timesince }}</p>
                <p>{{ msg.text }}</p>
            </div>
            {% if is_admin %}
            <div class="operation">
                 <p><a class="reference" href="{% url groups:delete_message group.id msg.id %}">
                    {% trans "Delete" %}
                </a></p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if group_messages.has_previous %}
                <a href="{% url groups:group_view_page group.id group_messages.previous_page_number %}">{% trans "previous" %}</a>
            {% endif %}

            <span class="current">
{% blocktrans with group_messages.number as number and group_messages.paginator.num_pages as num_pages %}
Page {{ number }} of {{ num_pages }}.
{% endblocktrans %}
            </span>

            {% if group_messages.has_next %}
                <a href="{% url groups:group_view_page group.id group_messages.next_page_number %}">{% trans "next" %}</a>
            {% endif %}
        </span>
    </div>
{% endif %}
</div>
</div>
</div>
<div id="rightColumn">

<table class="group_description">
    {% if group.description %}
    <tr>
        <th>{% trans "Description" %}:</th>
        <td class="empty_filt"></td>
        <td>{{ group.description }}</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
    </tr>
    {% endif %}
    
    {% if group.theme %}
    <tr>
        <th>{% trans "Theme" %}:</th>
        <td class="empty_filt"></td>
        <td>{{ group.theme.name }}</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
    </tr>
    {% endif %}
    {% if group.type %}
    <tr>
        <th>{% trans "Type" %}:</th>
        <td class="empty_filt"></td>
        <td>{{ group.type.name }}</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
    </tr>
    {% endif %}
    {% if group.site %}
    <tr>
        <th>{% trans "Site" %}:</th>
        <td class="empty_filt"></td>
        <td>{{ group.site }}</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
    </tr>
    {% endif %}
    {% if group.country %}
    <tr>
        <th>{% trans "Country" %}:</th>
        <td class="empty_filt"></td>
        <td>{{ group.country }}</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
    </tr>
    {% endif %}
    {% if group.city %}
    <tr>
        <th>{% trans "City" %}:</th>
        <td class="empty_filt"></td>
        <td>{{ group.city }}</td>
    </tr>
    {% endif %}
</table>
<div class="but" style="margin-left:30px;">
{% if request.user in group.members %}
    <a href="{% url groups:group_leave id=group.id %}">{% trans "Leave group" %}</a>
{% else %}
    {% if is_status_request %}
        <a href="{% url groups:cancel_request group.id %}">{% trans "Cancel request" %}</a>
    {% else %}
        <a href="{% url groups:group_join id=group.id %}">{% trans "Join group" %}</a>
    {% endif %}
{% endif %}
</div>
<br />
<h3>Руководство</h3>
{% if can_view_private %}
<ul class="friendTable">
{% for user in admins %}
    <li>
        {% include "includes/user/micro.html" %}
    </li>
{% endfor %}
</ul>
{% else %}
<p>Информация скрыта.</p>
{% endif %}
<br />
<h3>Участники группы</h3>
{% if can_view_private %}
<ul class="friendTable">
{% for user in members %}
    <li>
        {% include "includes/user/micro.html" %}
    </li>
{% endfor %}
</ul>
{% else %}
<p>Информация скрыта.</p>
{% endif %}

</div>
{% endblock %}
