#user_page
{
	font-family: Verdana, Geneva, sans-serif;
}
#user_page h2
{
	font-size: 18px;
	color: #7B9E33;
	margin-bottom: 14px;
	
	font-weight: bold;
}
dt
{
	float: left;
	display: inline;
	width: 120px;
	color: #000;
	padding: 5px;
	font-size: 12px;
}
div.about_persone
{
	position: relative;
	top: 0px;
	/*background: url(../images/bg_about_persone.png) no-repeat;*/
}
.about_persone dd a
{
	color: #7B9E33;
}
#avatar
{
	border: 10px solid #d0ea99;
	background: #d0ea99;
	width: 200px;
	position: relative;
	top: 0px;
    left: 0px;
}
a.tooltip 
{
	position: absolute;
	top: 210px;
}
a.tooltip.toollip_friend_remove
{
	left: 240px;
}
a.tooltip.toollip_group
{
	left: 290px;
}
a.tooltip.toollip_mail
{
	left: 330px;
}
a.tooltip.toollip_video
{
	left: 370px;
}
.profileActions
{
	position: absolute;
	left: 230px;
	top: 20px;
	
}
.profileActions ul li
{
	padding: 15px 0px 15px 15px;
	border-top: none;
	display: block;
}
.profileActions ul li a, .profileActions ul li span
{
	color: #7B9E33;
	font-weight: bold;
}
div.about_persone 
{
	width: 370px;
	border: none;
	background: none;
}

dt
{
	font-weight: bold;
}
dd
{
	margin-left: 121px;
	padding: 5px;
	overflow: hidden;
	width: 200px;
	color: #7B9E33;
}


.about_persone p {
    color: #7B9E33;
	font-weight: bold;
}
.about_persone dd a
{
	color: #7B9E33;
	text-decoration: underline;
}

/*#anounce_info
{
	position: relative;
	top: -620px;
	left: 0px;
}*/
p.event_announce
{
    width: 285px;
	color: #666666;
	padding-top: 10px;
	text-align: left;
	font-weight: normal;
	
}
.friend_box
{
	position: absolute;
	top: 250px;
	left: 400px;
	border: none;
	background: none;
	width: 80px;
	height: 450px;
}
.all_friends {
    text-align: center;
}
.all_friends p
{
	display: none;
}
.all_friends span
{
	float: none;
	width: 80px;
}
.friendTable td a {
    color: #7B9E33;
}
.friendTable td img {
    border: 4px solid #d0ea99;
}
#camera
{
	position: relative;
	top: 30px;
	height: 690px;
}