{% extends "base_head.html" %}

{% load menu_tags %}
{% load i18n %}
{% load pytils_numeral %}

{% block body %}

<div id="container">
    <div id="subContainer" style="width:100%">

        
        
        <div {% if is_admin %}id="header_vide"{% else %}id="header_vid"{% endif %}>
            <a id="logo" href="/"><img src="/media/images/logo_bg.jpg" alt="Модное место" /></a>
        </div>
        <div id="menu">
            <table cellspacing="0px" cellpadding="0px">
            <tr>

            <td class="left_corner"></td>
            <td class="menu_but"><a href="javascript:window.close();">закрыть</a></td>
            <td class="right_corner"></td>
            </tr>
            </table>
        </div>
        
<div id="camera_holder">
<h2><a href="{% url groups:group_view group.id %}">{% trans "Group" %} "{{ group.name }}"</a></h2>
{% if group.has_video_conference %}
<object  width="{% if is_admin %}745{% else %}650{% endif %}"
         height="{% if is_admin %}653{% else %}561{% endif %}"
        >
    <embed src="/media/swf/group_{% if is_admin %}admin{% else %}user{% endif %}.swf" quality="high" bgcolor="#869ca7"
        flashvars="myname={{ user.id }}&ip=31.186.101.196&group_id={{ group.id }}&session_key={{ request.session.session_key }}"
        width="{% if is_admin %}745{% else %}650{% endif %}"
        height="{% if is_admin %}653{% else %}561{% endif %}"
	allowFullScreen="true"
        name="sdo_video"
        align="middle"
        play="true"
        loop="false"
        quality="high"
        allowScriptAccess="modnoemesto.ru"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
</object>
{% else %}
Конференция выключена.
{% endif %}
</div>

    </div>
</div>
{% endblock %}
