{% extends "base_mini.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link href="/media/styles/drop_down.css" type="text/css" rel="stylesheet" />
<style>
	.logging-filter {
		1border: 1px solid #CCC;
		padding: 20px 20px;
	}

    table.log_view, .log_view th, .log_view td {
        border: 1px solid black;
        padding: 3px;

    }

</style>
{% endblock %}

{% block base_content %}
{% include "_left_box_menu.html" %}

<h2>{% trans "Log" %}</h2>
<div class="logging-filter">
    <b>{% trans "Level" %}:</b>
    {% ifequal level current_level %}
    <b>{% trans "All" %}</b>
    {% else %}
    <a href="{% url logging:log_list %}{% if current_level %}?logger={{ current_logger }}{% endif %}">{% trans "All" %}</a>
    {% endifequal %}
    {% for level in levels %}
        |
        {% ifequal level current_level %}
        <b>{{ level }}</b>
        {% else %}
        <a href="{% url logging:log_list %}?level={{ level }}{% if current_level %}&logger={{ current_logger }}{% endif %}">{{ level }}</a>
        {% endifequal %}
    {% endfor %}
    
<br />

	<b>{% trans "Logger" %}:</b>
	{% if current_logger %}
		<a href="{% url logging:log_list %}{% if current_level %}?level={{ current_level }}{% endif %}">{% trans "All" %}</a>
	{% else %}
		<b>{% trans "All" %}</b>
	{% endif %}

	{% for logger in loggers %}
	    |
        {% ifequal logger current_logger %}
			<b>{{ logger }}</b>
		{% else %}
			<a href="{% url logging:log_list %}?{% if current_level %}level={{ current_level }}&{% endif %}logger={{ logger }}">{{ logger }}</a>
		{% endifequal %}
	{% endfor %}
</div>
<table cellspacing="0" class="log_view">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Level name" %}</th>
            <th>{% trans "Message" %}</th>
            <th>{% trans "Path name" %}
            {% trans "Logger name" %}
            {% trans "Function" %}
            {% trans "Line number" %}</th>
        </tr>
    </thead>
    <tbody>
{% for entry in objects.object_list %}
    <tr>
        <td>{{ entry.date }}</td>
        <td>{{ entry.levelname }}</td>
        <td>{{ entry.message }}</td>
        <td style="font-size: 8px;">
            {{ entry.pathname }}
            {{ entry.logger_name }}
            {{ entry.func }}
            {{ entry.lineno }}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>


{% include "includes/paginator.html" %}


{% endblock %}
