#hrundel {
color: #00b2d5;
font-size: 12pt;
font-style: normal;
}

#hrun {
color: #05591a;
font-size: 16pt;
font-style: bold;
}

#del {
color: #6d0564;
font-size: 12pt;
font-style: normal;
}
