* 
{
	margin: 0; 
	padding: 0;
	border none;
	}
html, body 
{
	width: 100%; 
	height: 100%; 
	}
input, textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
body  
{
	font: normal 13px Arial, Helvetica, sans-serif; 
	color: #434343; 
	background: url(../images/head-xxx.png) 0 0 #efefef repeat-x ; 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	position: absolute;
}
h2
{
	color: #666;
	margin-top: 10px;
}
h2 a
{
	color: #666;
}
.head 
{
	height: 126px; 
	position: relative; 
	z-index: 80;
	overflow: hidden;
	width: 982px; 
	margin: 0 auto; 
	}
.head .logo 
{
	background: url(../images/berislovo.png) 0 0 no-repeat; 
	width: 180px; 
	height: 67px; 
	position: absolute; 
	left: -2px; 
	top: 13px;
	}


a.exit, a.home
{
	position: absolute;
	top: 12px;
	left: 930px;
	font-size: 14px;
	color: #76A6EF;
	border-bottom: 1px dashed #76A6EF;
	text-decoration: none;
}
a.home
{
	/*top: 56px;*/
	left: 735px;
}
#mainContent
{
	overflow: visible;
	position: relative;
	width: 983px;
	margin: 0 auto;
	min-height: 550px;
}
#camera_holder
{
	text-align: center;
}
#video_chat 
{
	background: url(../images/chat.png) 0 0 no-repeat; 
	width: 983px; 
	height: 276px;
	margin-top: 10px;
	}
#video_chat .title 
{
	}
#video_chat .window 
{
	background-color: #ffffff; 
	width: 950px; 
	height: 230px;
	position:relative; 
	left: 15px; 
	top: 30px;
	}
#video_chat .window .text 
{
	width: 940px; 
	height: 210px;
	position:relative; 
	overflow:auto; 
	left: 15px; 
	top: 10px;
}
.send_mess
{
	font-weight: bold;
}
#chat p.system
{
	color: #6D0564;
	padding-bottom: 5px;
}
#chat p.user
{
	color: #05591A;
    font-size: 16px;
	padding-bottom: 5px;
}
.send {
    padding: 5px 15px 15px;
	overflow: hidden;
	background: #dfdfdf;
	width: 953px;
}
.send p {
    color: #838383;
    padding: 5px;
}
#video_comment
{
	width: 983px;
	margin: 0 auto;
}
#video_comment textarea.com {
    border: medium none;
    height: 43px;
    width: 920px;
	padding: 15px;
	font-size: 18px;
	color: #838383;
}
#video_comment input.sub {
	margin-top: 20px;
}
#footer
{
	padding-top: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 0; /* stick to bottom */
}
#info
{
    overflow: hidden;
	padding-top: 10px;
    width: 980px;
	margin: 0 auto;

}
#info ul li
{
    list-style-type: none;
    padding: 20px 38px;
    float: left;
    display: inline;
}
#info ul li a
{
    color: #bfbeb2;
}
#design
{
    float: right;
    margin-top: -15px;
}
#design a
{
    text-decoration: underline;
    color: #000;
}
/*
----------------------------------------------------*/
#regColumn
{
	width: 330px;
	padding: 15px 0 0 0;
}
#edit_form
{
	width: 499px;
}
.title {
    background: url("../images/title_corner_left.gif") no-repeat scroll 0 0 transparent;
    padding-left: 6px;
    position: relative;
}
.title-r {
    background: url("../images/title_corner_right.gif") no-repeat scroll 100% 0 transparent;
    padding-right: 6px;
}
.title-x {
    background: url("../images/title-x.png") repeat-x scroll 0 0 transparent;
    height: 32px;
	text-align: center;
}
.seting
{
	width: 350px;
}
.button {
    background: url("../images/but_corner_left.png") no-repeat scroll 0 0 transparent;
    padding-left: 6px;
    position: relative;
	width: 350px;
	margin: 10px 0;
}
.button-r {
    background: url("../images/but_corner_right.png") no-repeat scroll 100% 0 transparent;
    padding-right: 6px;
}
.button-x {
    background: url("../images/but-x.png") repeat-x scroll 0 0 transparent;
    height: 42px;
	text-align: center;
}

.title h2, .button span
{
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 0 0 5px;
}
.button span
{
	display: block;
}
.block, .block2, .block3 {
    background: url("../images/block-y.gif") repeat-y scroll 0 0 transparent;
    margin-bottom: 10px;
}
.block-b, .block2-b, .block3-b {
    background: url("../images/block-b.gif") no-repeat scroll 0 100% transparent;
	padding: 10px;
}
.block2 {
    background: url("../images/block2-y.png") repeat-y scroll 0 0 transparent;
}
.block2-b {
    background: url("../images/block2-b.png") no-repeat scroll 0 100% transparent;
}
.block3 {
    background: url("../images/block3-y.gif") repeat-y scroll 0 0 transparent;
}
.block3-b {
    background: url("../images/block3-b.gif") no-repeat scroll 0 100% transparent;
}
.block input, .block2 input, .block textarea, .block2 textarea, .block select, .block2 select
{
	width: 295px;
	padding: 5px;
}
.block select, .block2 select
{
	width: 306px;
}
p.img_losder
{
	position: relative;
	top: -210px;
	left: 250px;
}
.block p, .block2 p, #about p
{
	margin: 10px 0;
}
 input#id_phone_0, input#id_mobile_0
{
	width: 39px;
	margin: 0 15px 0 5px;
}
 input#id_phone_1, input#id_mobile_1
{
	width: 205px;
}
noindex
{
	overflow: hidden;
	display: block;
	margin: 10px 0;
}
#regColumn a
{
	color: #226BD7;
}
#about
{
	position: absolute;
	top: 10px;
	left: 400px;
	width: 500px;
}
.lable
{
	font-weight: bold;
	width: 150px;
}
.empty_filt
{
	width: 30px;
}
td
{
	text-align: left;
}
input[type="checkbox"], input[type="radio"]
{
	width: 15px;
}
#edit_form .button
{
	text-align: center;
	margin-top: 10px;
}
.but.avatar
{
	position: relative;
	top: -30px;
}
div.system_messages ul
{
    position: fixed;
    z-index: 9999;
	list-style: none;
}
div.system_messages li
{
    padding: 4px 4px 4px 30px;
    margin-bottom: 10px;
    font-size: 1.1em;
    border: 2px solid;
	width: 940px;
}

div.system_messages li.success {
    background: url("../images/true.png") no-repeat scroll 8px 5px #DFFFDF;
    border-color: #9FCF9F;
    color: #005F00;
}

div.system_messages li.error {
    background: url("../images/exclamation.png") no-repeat scroll 8px 50% #FFE3E3;
    border-color: #DD0000;
    color: #880000;
}
div.system_messages li.warning {
   background: url("../images/warning.png") no-repeat scroll 8px 5px #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
    text-align: left;
}
ul.friendTable
{
	overflow: hidden;
}
.friendTable li
{
	float: left;
	display: inline;
/*	height: 110px;*/
}
.friendTable td div
{
	overflow: hidden;
	width: 80px;
}
.friendTable td
{
	font-size:11px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:1px;
	padding-left:0;
	padding-right:0;
	padding-top:1px;
	text-align:center;
	vertical-align:bottom;
	width:69px;
	overflow: hidden;
}
.friendTable td img
{
	border: 4px solid #eeedde;
}
.friendTable td a
{
	color: #226BD7;
    text-decoration: none;
}
.friendTable table
{
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	padding-bottom:0;
	height: 0;
}
.friendTable
{
	margin-top: 10px;
	overflow: hidden;
}
.friend_box li td div
{
	width: 69px;
}
div.but
{
	text-align: center;
}
.theme_list
{
	background: #fff;
}
.theme_list th
{
	text-align: left;
	font-size: 14px;
}
a.delete, a.done, a.cancel
{
	color: #76A6EF;
	text-decoration: none;
	padding-left: 20px;
	display: block;
	width: 100px;
}
a.done
{
	background: url("../images/done.png") no-repeat;
}
a.cancel
{
	background: url("../images/cancel.png") no-repeat;
}
a.delete
{
	background: url("../images/delete.png") no-repeat;
}
.theme_box
{
	margin-bottom: 15px;
}
.friend_request
{
	padding-top:20px;
}
a.reference {
    color: #226BD7;
}
.press_release
{
	width: 642px;
}
#right
{
	position: absolute;
	top: 47px;
	left: 700px;
}
#right .but
{
	text-align: right;
	margin-bottom: 15px;
}
#right .but a
{
	color: #666;
	font-weight: bold;
}
h3 a
{
	color: #000;
	text-decoration: none;
}
.conference_date
{
	margin-top: 7px;
	color: #666;
}
a.ref
{
	color: #666;
}
#conference_announcement
{
	width: 400px;
}
.conf_block
{
	overflow: hidden;
	border-top: 7px solid #eee;
}
.beginning
{
	background: url(../images/news-block.gif) repeat-x top;
	padding: 5px;
}
.beginning a
{
	color: #666;
	padding-right: 10px;
}

div.conf_item
{
	background: url(../images/news-block-x.gif) repeat-x bottom;
	padding: 5px;
}
.conf_ava {
    float: left;
    width: 70px;
}
.conf_ava img
{
	border: none;
}
.conf_info {
    min-height: 47px;
    margin-left: 70px;
    overflow: hidden;
   /*  position: relative;
    width: 240px; */
}
.conf_info a {
    font-size: 15px;
    font-weight: bold;
    color: #08889F;
}
.conf_info p
{
	color: #666;
	margin-top: 5px;
}
.block_conf
{
	border: 2px solid #ccc;
}
.ava
{
	float: left;
	margin-right: 10px;
}
.operation
{
	float: right;
}


.message_item
{
    padding-top: 5px;
    clear: both;
    /*height: 95px;*/
    overflow: hidden;
    border-bottom: 1px dotted #6F6F6F;
}
.wall .message_item
{
    background: url(../images/bg_about_persone.png) repeat-x;
    border-top: 1px dotted #6F6F6F;
    border-bottom: none;
}
.message_item .friendTable, .mess .friendTable
{
    margin: 0;
    float: left;
    display: inline;
}
.message_text
{
    float: left;
    padding: 7px;
    width: 350px;
    /*cursor: pointer;*/
}
.readed .message_text a, .readed div.opration a, .note_text a
{
    color: #6F6F6F;
    text-decoration: none;
}
.unreaded .message_text a, .unreaded div.opration a
{
    color: #000;
    text-decoration: none;
}
.message_text p, .message .message_text_view p, .message_text_reply textarea, .note_text p
{
    padding-bottom: 5px;
    color: #585858;
}
.message_text_reply textarea
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	width: 425px;
}
.message_text_view
{
    clear: left;
    overflow: hidden;
    padding: 7px;
    border: 3px solid #d9d8bf;
    width: 430px;
    margin-left: 80px;
    background: #FFF;
}
