* 
{
	margin: 0; 
	padding: 0;
	border none;
	}
html, body 
{
	width: 100%; 
	height: 100%; 
	}
input, textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
body  
{
	font: normal 13px Arial, Helvetica, sans-serif; 
	color: #434343; 
	background: url(../images/head-xxx.png) 0 0 #efefef repeat-x ; 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	position: absolute;}


.head 
{
	height: 126px; 
	position: relative; 
	z-index: 80;
	overflow: hidden;
	width: 982px; 
	margin: 0 auto; 
	}
.head .logo 
{
	background: url(../images/logo.png) 0 0 no-repeat; 
	width: 183px; 
	height: 67px; 
	position: absolute; 
	left: -2px; 
	top: 13px;
	}


a.exit
{
	position: absolute;
	top: 12px;
	left: 935px;
	font-size: 14px;
	color: #76A6EF;
	border-bottom: 1px dashed #76A6EF;
	text-decoration: none;
}

#mainContent
{
	overflow: visible;
	position: relative;
	width: 983px;
	margin: 0 auto;
}
#camera_holder
{
	text-align: center;
}
#video_chat 
{
	background: url(../images/chat.png) 0 0 no-repeat; 
	width: 983px; 
	height: 276px;
	margin-top: 10px;
	}
#video_chat .title 
{
	}
#video_chat .window 
{
	background-color: #ffffff; 
	width: 950px; 
	height: 230px;
	position:relative; 
	left: 15px; 
	top: 30px;
	}
#video_chat .window .text 
{
	width: 940px; 
	height: 210px;
	position:relative; 
	overflow:auto; 
	left: 15px; 
	top: 10px;
}
.send_mess
{
	font-weight: bold;
}
#chat p.system
{
	color: #6D0564;
	padding-bottom: 5px;
}
#chat p.user
{
	color: #05591A;
    font-size: 16px;
	padding-bottom: 5px;
}
.send {
    padding: 5px 15px 15px;
	overflow: hidden;
	background: #dfdfdf;
	width: 953px;
}
.send p {
    color: #838383;
    padding: 5px;
}
#video_comment
{
	width: 983px;
	margin: 0 auto;
}
#video_comment textarea.com {
    border: medium none;
    height: 43px;
    width: 920px;
	padding: 15px;
	font-size: 18px;
	color: #838383;
}
#video_comment input.sub {
	margin-top: 20px;
}
#footer
{
	padding-top: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 0; /* stick to bottom */
}
#info
{
    overflow: hidden;
	padding-top: 10px;
    width: 980px;
	margin: 0 auto;

}
#info ul li
{
    list-style-type: none;
    padding: 20px 38px;
    float: left;
    display: inline;
}
#info ul li a
{
    color: #bfbeb2;
}
#design
{
    float: right;
    margin-top: -15px;
}
#design a
{
    text-decoration: underline;
    color: #000;
}
/*
----------------------------------------------------*/
#regColumn
{
	width: 330px;
	padding: 15px 0 0 0;
}
.title {
    background: url("../images/title_corner_left.gif") no-repeat scroll 0 0 transparent;
    padding-left: 6px;
    position: relative;
}
.title-r {
    background: url("../images/title_corner_right.gif") no-repeat scroll 100% 0 transparent;
    padding-right: 6px;
}
.title-x {
    background: url("../images/title-x.png") repeat-x scroll 0 0 transparent;
    height: 32px;
	text-align: center;
}
.title h2 {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 0 0 5px;
}
.block {
    background: url("../images/block-y.gif") repeat-y scroll 0 0 transparent;
    margin-bottom: 10px;
}
.block-b {
    background: url("../images/block-b.gif") no-repeat scroll 0 100% transparent;
	padding: 10px;
}
#regColumn input
{
	width: 295px;
	padding: 5px;
}
#regColumn p, #about p
{
	margin: 10px 0;
}
 input#id_phone_0
{
	width: 40px;
	margin: 0 15px 0 5px;
}
 input#id_phone_1
{
	width: 207px;
}
noindex
{
	overflow: hidden;
	display: block;
	margin: 10px 0;
}
#regColumn a
{
	color: #226BD7;
}
#about
{
	position: absolute;
	top: 10px;
	left: 400px;
	width: 500px;
}


