{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{% trans "Messages history" %}</h1>

<div id="content-main">

    {% include "includes/left_menu.html" %}

    <div class="messages">
        <table summary="{% trans "Messages: inbox" %}" width="100%">
            <caption>{% trans "Messages: inbox" %}</caption>
            <tr>
                <th>{% trans "When" %}</th><th>{% trans "From" %}</th>
            </tr>
            {% for msg in msgs %}
            <tr>
                <td>
                    <a href="{% url user_messages:view_message message_id=msg.id %}">
                        {% if msg.is_read %}
                            {{ msg.timestamp|timesince }} {% trans "ago" %}
                        {% else %}
                            {% trans "(unread)" %} {{ msg.timestamp|timesince }} {% trans "ago" %}
                        {% endif %}
                    </a>

                </td>
                <td>
                    {% with msg.sender as user %}
                        {% include "includes/user/micro.html" %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}
