{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{% trans "Messages history" %}</h1>

<div id="content-main">

    {%  include "includes/left_menu.html" %}

    <div class="messages">
        <table summary="{% trans "Messages: sent" %}" width="100%">
            <caption>{% trans "Messages: sent" %}</caption>
            <tr>
                <th>{% trans "When" %}</th><th>{% trans "To" %}</th>
            </tr>
            {% for msg in msgs %}
            <tr>
                <td>
                    <a href="{% url user_messages:view_message message_id=msg.id %}">
                        {{ msg.timestamp|timesince }}
                    </a>
                </td>
                <td class="friendTable">
                    {% with msg.recipient as user %}
                        {% include "includes/user/micro.html" %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}
