{% extends "base_head.html" %}

{% load menu_tags %}
{% load i18n %}
{% load pytils_numeral %}

{% block js %}
{{ block.super }}
{% if user.is_authenticated %}
<script type="text/javascript">
$(document).ready(function(){
    var call_message = $('#call_message');
    call_message.click(function (e){
        var width=810, height=725;
        window.open("{% url social:home_conference %}", 'video',
                'width='+width+',height='+height+',left='+($(window).width()-width)/2+',top='+($(window).height()-height)/2);
        return false;
    });
    function check_calls() {
        $.get('{% url video_call:check_calls %}', function(data) {
            if (data) {
                call_message.html('{{ request.user }}, Вас вызывает на видеоконференцию пользователь '
                    + data + '! (кликните на это сообщение для установки связи).');
                if (call_message.css('display') == 'none') {
                    call_message.css({
                        top: '0',
                        opacity: 0.0,
                        display: 'block'
                    });
                    call_message.animate({
                        opacity: 0.9,
                        top: '150px'
                    }, 1000);
                }
            } else {
                call_message.fadeOut(500);
            }
            setTimeout(check_calls, {{ VIDEO_CALL_INTERVAL_UPDATE }}000);
        });
    }
    setTimeout(check_calls, {{ VIDEO_CALL_INTERVAL_UPDATE }}000);
});
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="container">
    <div id="subContainer">

        <div id="header">
        
            <a id="logo" {% if request.path != '/' %} href="/" {% endif %}>
                {% if not user.is_authenticated %}
                <h1 id="logo_index" >Модное место – новая социальная сеть</h1>
                {% else %}
                <img src="/media/images/logo_bg.jpg" alt="Модное место" />
                {% endif %}
            </a>

<!--
            <div id="serch">
                <form id="search-box" action="">
                    <div>
                        <input type="text" class="find transparent" value="{% trans 'search' %}" />
                        <input type="image" value="Найти" src="/media/images/serch.jpg" />
                    </div>

                </form>
            </div>
-->
        </div>
        <div id="menu{% if not user.is_authenticated %}Reg{% endif %}">
            <table cellspacing="0px" cellpadding="0px">
            <tr>
{% if user.is_authenticated %}
            <td class="left_corner {% active request 'social:index' %}"></td>
            <td class="menu_but {% active request 'social:index' %}"><a href="/">люди</a></td>
            <td class="right_corner {% active request 'social:index' %}"></td>
            <td class="empty"></td>
            
            <td class="left_corner {% active request 'cam:cam_list' %}"></td>
            <td class="menu_but {% active request 'cam:cam_list' %}"><a href="{% url cam:cam_list %}">модные&nbsp;места</a></td>
            <td class="right_corner {% active request 'cam:cam_list' %}"></td>
            <td class="empty"></td>
            
            <td class="left_corner"></td>
            <td class="menu_but"><a class="curent" href="{% url social:in_dev %}">приложения</a></td>
            <td class="right_corner"></td>
            <td class="empty"></td>
            
            <td class="left_corner {% active request 'groups:group_list' %}"></td>
            <td class="menu_but {% active request 'groups:group_list' %}"><a href="{% url groups:group_list %}">группы</a></td>
            <td class="right_corner {% active request 'groups:group_list' %}"></td>
            <td class="empty"></td>
{% endif %}
            <td class="left_corner"></td>
            <td class="menu_but"><a href="http://blog.modnoemesto.ru/">модные друзья</a></td>
            <td class="right_corner"></td>
            <td class="empty"></td>
{% if user.is_authenticated %}
            <td class="left_corner"></td>
            <td class="menu_but"><a href="{% url social:logout %}">выход</a></td>
            <td class="right_corner"></td>
{% endif %}
            </tr>
            </table>
        </div>

        <div id="mainContent">
        
        {% if user.is_authenticated %}<div class="marquee" style="color:#08889F; font-size: 18px; height:25px; width:970px; overflow:hidden;">
			<div class="move" style="overflow:hidden; width:99999px;">
				<p style="float:left; margin:0;">
					{{ request.last_news.text }}&nbsp;
				</p>
			</div>
		</div>
        {% endif %}

<div id="call_message"></div>

{% if messages %}
<div class="system_messages">
    <ul>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    $(document).click(function() { $('.system_messages').hide(); });
</script>
{% endif %}

{% block base_content %}
here goes the actual content
{% endblock %}
        </div>

    <div id="fotter">
        <div id="info">
            <ul>
                <li style="padding-left:0"><a href="{% url social:static 'about' %}">О проекте</a></li>
                <li><a href="{% url social:static 'agreement' %}">Пользовательское соглашение</a></li>
                <li><a href="{% url cam:cam_list %}">Модные места</a></li>
                <li><a href="{% url social:static 'support' %}">Скорая техническая помощь</a></li>
            </ul>
            <p style="width:200px">Модное место &copy; 2010</p>
            <!-- p id="design"><a href="http://www.web-mark.ru">Разработка сайта</a> – <a href="http://www.web-mark.ru/clients.html">Web-Mark</a></p -->

        </div>
       <div class="counter" style="text-indent:-9000px"> 
        <!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script><!--/LiveInternet-->
    </div>
    </div>
</div>
</div>
{% endblock %}
