{% load media %}
<ul>
{% for camera in request.places.object_list %}
{% url social:user_camera camera.owner.id as user_camera_path %}
    <li>
        <div class="item">
            <a href="{{ user_camera_path }}"><img src="{% media_url camera.screen camera_screen_mini.png %}" alt="{{ camera.name }}"/></a>
            <div class="news">
                <p class="place"><a href="{{ user_camera_path }}">{{ camera.name }}</a></p>
                <p class="creater"><a href="{% url social:user camera.owner.id %}">{{ camera.owner }}</a></p>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% with request.places as objects %}
{% include "includes/paginator_mini.html" %}
{% endwith %}