<div id="rightColumn">
    <h2 class="mod_places">Модные места</h2>
    <div id="form" class="rounded">
        <form action="" method="">
            <select id="filter_right" size="1" name="ff">
                <option value="df">по времени добавления</option>
            </select>
            <script type="text/javascript">$('#filter_right').selectbox();</script>
        </form>
        <div id="fp">
            <ul>
{% for camera in request.places %}
{% url social:user camera.owner.id as user_path %}
                <li>
                    <div class="item">
                        <a href="{{ user_path }}#cam"><img src="{{ camera.screen_mini }}" alt="{{ camera.name }}"/></a>
                        <div class="news">
                            <p class="place"><a href="{{ user_path }}#cam">{{ camera.name }}</a></p>
                            <p class="creater"><a href="{{ user_path }}">{{ camera.owner }}</a></p>

                        </div>
                    </div>
                </li>
{% endfor %}
            </ul>
        </div>
    </div>
     <div class="all">
            <p>Всего:</p>
            <a href="{% url cam:cam_list %}">{{ request.places_all_count }}</a>
        </div>
</div>