<div id="rightColumn">
    <h2 class="mod_places">Модные места</h2>

    <p class="fi">Найдено</p>
    <a id="quont" href="{% url in_dev %}">45</a>

    <div id="form" class="rounded">
        <form action="" method="">
            <select id="filter_right" size="1" name="ff">
                <option value="df">по популярности</option>
                <option value="dm">по популярности</option>
                <option value="dp">по популярности</option>
                <option value="vop">по популярности</option>
            </select>
            <script type="text/javascript">$('#filter_right').selectbox();</script>
        </form>
        <div id="fp">

            <ul>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg" alt=""/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
     <div class="all">
            <p>Всего:</p>
            <a href="{% url in_dev %}">568</a>
        </div>
</div>