{% extends base_template %}

{% load i18n %}

{% if is_auth %}
{% block css %}
{{ block.super }}
<link href="/media/styles/page_info.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% else %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
function check(id_input, alph) {
    return function() {
        var cur_text = id_input.val();
        var cur_len = cur_text.length;
        var check_text = '';
        for (var i = 0; i < cur_len; i++) {
            var char = cur_text[i];
            if (alph.indexOf(char) != -1) check_text = check_text + char;
        }
        id_input.val(check_text);
    }
}
$(document).ready(function(){
						   $('div.hide').css({'visibility':'hidden'});
	$('h2.registr').click(function(){
				if($('div.hide').css("visibility")=="hidden")	{
					$('div.hide').css({'visibility':'visible'});
					}
					else {
					$('div.hide').css({'visibility':'hidden'});
					}
				});					   
    $('.preview').show();
	$('.full').hide();
    $('#last_news').click(function(e) {
        var clicked = $(e.target);
        if (clicked.hasClass('title')) {
            var el = clicked.next();
            var full = $('.full', el);
            var preview = $('.preview', el);
            if (full.css('display') == 'none'){
                preview.hide()
                full.show()
            } else {
                full.hide()
                preview.show()
            }
            return false;
        }
    });

    const ALPH_EMAIL = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.-_@';
    const ALPH_PASS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.-_@!#$%^&+= ";

    var id_email = $('#enter_form #id_email');
    id_email.live('input paste', check(id_email, ALPH_EMAIL));

    var id_pass = $('#enter_form #id_password');
    id_pass.live('input paste', check(id_pass, ALPH_PASS));

    const ALPH_NAME = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя'`-";

    var id_first_name = $('#id_first_name');
    id_first_name.live('input paste', check(id_first_name, ALPH_NAME));

    var id_last_name = $('#id_last_name');
    id_last_name.live('input paste', check(id_last_name, ALPH_NAME));

    var reg_id_email = $('#reg_form #id_email');
    reg_id_email.live('input paste', check(reg_id_email, ALPH_EMAIL));

    var id_pass1 = $('#id_password1');
    id_pass1.live('input paste', check(id_pass1, ALPH_PASS));
    var id_pass2 = $('#id_password2');
    id_pass2.live('input paste', check(id_pass2, ALPH_PASS));

    function check_phone(e){
        if ([8,9,13,16,35,36,37,38,39,40,45,46,48,49,50,51,52,53,54,55,56,57].indexOf(e.keyCode) != -1) return true;
        return false
    }

    $('#id_phone_0').keydown(check_phone);
    $('#id_phone_1').keydown(check_phone);
});

</script>
{% endblock %}
{% endif %}

{% block content %}


<div id="content_{% if is_auth %}info{% else %}about{% endif %}">

{% if not is_auth %}

<div id="last_news">
    <h2 class="ent">Модные новости</h2>
    <div id="form" class="rounded">
     
        <div style="margin-top:0" id="fp">

            <ul>
            {% for item in news_list|slice:"5" %}
                <li>
                    <div class="item">
                        <span class="date">{{ item.ctime|date:"d.m.Y" }}</span>
                        <a href="/" class="title">{{ item.title }}</a>
                        <div class="news_holder">
                        <p class="place preview">{{ item.preview_text|linebreaksbr }}</p>
                            <p class="place full">{{ item.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}

            </ul>
        </div>
    </div>

</div>


{% endif %}

<div style="width:454px; overflow:hidden; margin-left:246px;">
 <h2>Хочешь посмотреть видео, всё просто:</h2>
 <div class="step">
 	<img src="../media/images/step1.jpg" />
 </div>
 <div class="step">
 	<img src="../media/images/step2.jpg" />
 </div>
 <div class="step">
 	<img src="../media/images/step3.jpg" />
 </div>
  <h2 style="margin-top: 10px">Хочешь заработать сам:</h2>
  <div class="step">
 	<img src="../media/images/step4.jpg" />
 </div>
 <div class="step">
 	<img src="../media/images/step5.jpg" />
 </div>
 <div class="step">
 	<img src="../media/images/step6.jpg" />
 </div>
 <div class="step">
 	<img src="../media/images/step7.jpg" />
 </div>
 
 
 {% comment %}   
    <h1>Модное место</h1>
    <p>
<b>Модное место</b> - это новая и уникальная социальная <b>видеосеть</b>! Как и прочие социальные сети, Модное место предоставляет весь спектр пользовательских услуг.
    </p>
    <p>
Но главное отличие Модного место от других социальных <b>видеосетей</b> - возможность заработать. <br/><b>Модное место</b> - это первая социальная <b>видеосеть</b>, которая платит участникам!
    </p>
    <p>
Если ты уникален - не стесняйся этого, это принесет большой доход. Как это работает? Все очень просто: пользователь устанавливает у себя камеру видео наблюдения (на кухне или в спальне, дома или в офисе). Чтобы повысить свой рейтинг, возможно высылать приглашения о дружбе знакомым, друзьям или совершенно незнакомым людям. Другие пользователи подключаются к камере, и... деньги начинают идти на твой счет. Конечно, чтобы трафик шел постоянно, и нужно суметь заинтересовать "свою аудиторию". Одна камера - до 500 просмотров одновременно. Можно поставить и несколько камер, тебе это будет абсолютно БЕСПЛАТНО. Главное, заинтересуй своей жизнью! Наиболее интересные участники приглашаются порталом к сотрудничеству на особых условиях...
    </p>
    <p>
Также на нашем портале Ты можешь посмотреть интересующие Тебя заведения в режиме онлайн. Теперь не возникнут такие вопросы, как : "куда пойти?", "какой интерьер у этого заведения?", "какая публика?", "где весело?". Все это ты сможешь узнать на нашем сайте в режиме настоящего времени. Трафик с камеры - платный и....до 90% зарабатывает площадка. А пользователь, после увиденного, может оставить свой комментарий.
    </p>
    <p>
Как подключить камеру? Все очень просто!

<ol>
    <li>Зарегистрируйся на сайте.</li>
    <li>Позвони по указанному номеру.</li>
    <li>Получи БЕСПЛАТНО камеру и ее установку!</li>
    </ol>
    </p>
    <p>
Твое <b>Модное место</b>.
    </p>
    {% endcomment %} 
</div>
</div>
{% if not is_auth %}
<div id="regColumn">
    <div id="enter_form">
        <h2 class="ent">Вход</h2>
<form action="{{ app_path }}" method="post">
<input type="hidden" name="form_name" value="login"/>
        <div style="overflow:hidden"><div class="enter rounded">
{% if login_form.non_field_errors %}
<p class="errornote">{{ login_form.non_field_errors }}</p>
{% endif %}
{% for field in login_form %}
    {{ field.errors }}
    <p>{{ field.label }}:<br/>
        {{ field }}</p>
{% endfor %}
<p><a href="{% url social:lost_password %}">Забыли пароль?</a></p>
        </div>
                <p><input class="subEnter" type="submit" value="Войти" /></p>
        </div>
</form>
    </div>
    <div id="reg_form">
        <h2 class="registr">Регистрация</h2>
        <div>
<form action="{{ app_path }}" method="post">
<input type="hidden" name="form_name" value="register"/>
       <div class="hide" style="overflow:hidden">
        <div class="reg rounded">
{{ reg_form.first_name.errors }}
<p>*{{ reg_form.first_name.label }}:<br/>{{ reg_form.first_name }}</p>

{{ reg_form.last_name.errors }}
<p>*{{ reg_form.last_name.label }}:<br/>{{ reg_form.last_name }}</p>

{{ reg_form.email.errors }}
<p>*{{ reg_form.email.label }}:<br/>{{ reg_form.email }}</p>

{{ reg_form.phone.errors }}
<p>{{ reg_form.phone.label }}:<br/>+7{{ reg_form.phone }}</p>

{{ reg_form.password1.errors }}
<p>*{{ reg_form.password1.label }}:<br/>{{ reg_form.password1 }}</p>

{{ reg_form.password2.errors }}
<p>*{{ reg_form.password2.label }}:<br/>{{ reg_form.password2 }}</p>

{{ reg_form.captcha.errors }}
<p>*{{ reg_form.captcha.label }}:<br/>{{ reg_form.captcha }}</p>
        </div>
            <p style="color:#999999; padding-top: 7px">
            Фактом регистрации Вы соглашаетесь с
            <a href="{% url social:static 'agreement' %}" target="_blank">Пользовательским соглашением</a>.</p>
            <p><input class="subReg" type="submit" value="Зарегистрироваться" /></p>
        </div>
</form>
       </div>
    </div>
</div>
{% endif %}
{% endblock %}
