{% extends "base_mini.html" %}

{% load i18n %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        var reg_box = $('div.hide');
        {% if not is_reg %}reg_box.hide();{% endif %}
        $('h2.registr a').click(function(){
            if(reg_box.css("display") == 'none')	{
                reg_box.show();
                }
                else {
                reg_box.hide();
                }
            });

    });
</script>
{% endblock %}

{% block base_content %}
<div id="content_about">
    <h2>О проекте</h2>
    <p>
<b>Модное место</b> - это новая и уникальная социальная сеть!
Как и прочие социальные сети, <b>Модное место</b> предоставляет весь спектр пользовательских услуг.
    </p>
    <p>
Но, главное отличие Модного место от других социальных сетей - возможность заработать.
<b>Модное место</b> - это первая социальная сеть, которая платит участникам!
    </p>
    <p>
Если ты уникален - не стесняйся этого, это принесет большой доход.
Как это работает? Все очень просто: пользователь устанавливает у себя камеру видео наблюдения (на кухне или в спальне, дома или в офисе). Чтобы повысить свой рейтинг возможно высылать приглашения о дружбе знакомым, друзьям или совершенно не знакомым людям. Другие пользователи подключаются к камере и... деньги начинают идти на твой счет. Конечно, чтобы трафик шел постоянно и непрерывно нужно суметь заинтересовать "свою аудиторию".
Одна камера - до 500  просмотров одновременно. Можно поставить и несколько камер тебе это будет абсолютно БЕСПЛАТНО. Главное, заинтересуй своей жизнью!
Наиболее интересные участники приглашаются порталом к сотрудничеству на совсем особые условия...
    </p>
    <p>
Также на нашем портале Вы можете посмотреть интересующие Вас заведения в режиме онлайн. Теперь не возникнут такие вопросы, как : "куда пойти?",  "какой интерьер у этого заведения?", "какая публика?", "где  весело?". Все это ты сможешь узнать на нашем сайте в режиме настоящего времени. Трафик с камеры - платный и....до 90% зарабатывает площадка. А пользователь после увиденного, может оставить свой комментарий.
    </p>
    <p>
Как подключить камеру? Все очень просто!
<ol>
    <li>Зарегистрируйся на сайте.</li>
    <li>Позвони по указанному номеру.</li>
    <li>Пполучи БЕСПЛАТНО камеру и ее установку!</li>
</ol>
    </p>
    <p>
Твое <b>Модное место</b>.
    </p>
</div>

<div id="regColumn">
    <div id="enter_form">
        <h2 class="ent">Вход</h2>
<form action="{{ app_path }}" method="post">
<input type="hidden" name="form_name" value="login"/>
        <div style="overflow:hidden"><div class="enter rounded">
{% if login_form.non_field_errors %}
<p class="errornote">{{ login_form.non_field_errors }}</p>
{% endif %}
{% for field in login_form %}
    {{ field.errors }}
    <p>{{ field.label }}<br/>
        {{ field }}</p>
{% endfor %}
<p><a href="#">Забыли пароль?</a></p>
        </div>
                <p><input class="subEnter" type="submit" value="Войти" /></p>

        </div>
</form>
    </div>
    <div id="reg_form">
        <h2 class="registr"><a href="#reg">Регистрация</a></h2>
        <div class="hide" style="overflow:hidden">
<form action="{{ app_path }}" method="post">
<input type="hidden" name="form_name" value="register"/>
        <div class="reg rounded">
{% for field in reg_form %}
    {{ field.errors }}
    <p>{{ field.label }}<br/>
        {{ field }}</p>
{% endfor %}
        </div>
            <p style="color:#999999; padding-top: 7px">
            Фактом регистрации Вы соглашаетесь с <a href="#">Пользовательским соглашением.</a></p>
            <p><input class="subReg" type="submit" value="Зарегистрироваться" /></p>
        </div>
</form>
    </div>
</div>
{% endblock %}
