{% extends 'base_mini.html' %}
{% load menu_tags %}
{% load i18n %}
{% load pytils_numeral %}

{% block base_content %}
{% if user.is_authenticated %}
        <p>
            {% if user.messages.unread|length %}
                {% with user.messages.unread|length as unread_messages_count %}
                    У вас <a href="{% url user_messages:view_inbox %}">{% spaceless %}
                        {{ unread_messages_count }}
{{ unread_messages_count|choose_plural:"непрочитанное сообщение,непрочитанных сообщения,непрочитанных сообщений" }}
                    {% endspaceless %}</a>
                {% endwith %}
            {% endif %}
            {% if user.fs_offers_inbox_count %}
                {% with user.fs_offers_inbox_count as fs_offers_inbox_count %}
                У вас <a href="{% url social:view_fs_offers_inbox %}">{% spaceless %}
                    {{ fs_offers_inbox_count }}
                    {{ fs_offers_inbox_count|choose_plural:"предложение,предложения,предложений" }}  дружбы
                    {% endspaceless %}</a>
                {% endwith %}
            {% endif %}
            </p>
{% endif %}

<div id="leftColumn">
    <div class="nav">
        <ul>
            {% if user.is_authenticated %}
            <li id="persone"><a href="{% url social:home %}">{{ user }}</a></li>
            <li id="money">
                <div class="q">
                    <p>На моем счету</p>

                    <div><p id="amount"><span>{{ user.cash|floatformat:2 }}</span> руб.</p></div>
                    <p id="purse"><a href="{% url billing:purse %}">Перейти в кошелек</a></p>
                </div>
            </li>
            <li id="fashion_place"><a href="#">Мои Модные места</a></li>
            <li id="friends"><a href="{% url social:user_friends %}">Друзья</a></li>

            <li id="mail"><a href="{% url user_messages:view_inbox %}">Сообщения</a></li>
            <li id="notes"><a href="{% url notes:note_list %}">Заметки</a></li>
            <li id="group"><a href="{% url groups:group_list %}">Группы</a></li>
            <li id="foto"><a href="#">Фотографии</a></li>
            <li id="video"><a href="#">Видеозаписи</a></li>
            <li id="audio"><a href="#">Аудиозаписи</a></li>

            <li id="meeting"><a href="#">Встречи</a></li>
            {% else %}
            <li><a href="{% url social:register %}">регистрация</a></li>
            <li><a href="{% url social:login %}">вход</a></li>
            {% endif %}
            {% if request.user.is_superuser %}
            {% include 'includes/admin_menu.html' %}
            {% endif %}
        </ul>
    </div>
    <div id="what_new">
        <a href="#"><img src="/media/images/what_new.jpg"/></a>
    </div>
    <div id="advertising">
        <div>

            <img src="/media/images/ermi_pic.jpg" alt="gj"/>
        </div>
        <p class="date">12 декабря 18:39</p>

        <p class="cam">12 камер в Эрмитаже</p>

        <p>Камеры работают в режиме тестирования</p>
    </div>
</div>

<div id="centerColumn">
    {% block content %}
    here goes the actual content
    {% endblock %}
</div>

<div id="rightColumn">
    <h2 class="mod_places">Модные места</h2>

    <p class="fi">Найдено</p>
    <a id="quont" href="#">4567</a>

    <div id="form">
        <form action="" method="">
            <select id="filter" size="1" name="ff">

                <option value="df">по популярности</option>
                <option value="dm">по популярности</option>
                <option value="dp">по популярности</option>
                <option value="vop">по популярности</option>
            </select>
        </form>
        <div id="fp">

            <ul>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg" alt=""/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="all">
        <p>Все</p>

        <a href="#">568</a>
    </div>
</div>
{% endblock %}