{% load menu_tags %}
{% load i18n %}
{% load pytils_numeral %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {# <meta name="keywords" content="" /> #}
    {# <meta name="description" content="" /> #}

    <link href="/media/images/favicon.ico" rel="shortcut icon" />

    {% block css %}
    <link href="/media/styles/common.css" rel="stylesheet" type="text/css" />
    <link href="/media/styles/user_micro.css" rel="stylesheet" type="text/css" />
    <link href="/media/styles/jScrollPane.css" rel="stylesheet" type="text/css" />
    <link href="/media/styles/selectbox.css" rel="stylesheet" type="text/css" />
    <link href="/media/styles/debug.css" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block rss %}
    {# <link href="/rss/" rel="alternate" type="application/rss+xml" /> #}
    {% endblock %}

    <title>{% block title %}Модное место{% endblock %}</title>

    {% block js %}
    <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.corner.js"></script>
    <script type="text/javascript" src="/media/js/jquery.selectbox-0.5.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.rounded').corner();
                                   });
    </script>
    <script src="/media/js/ie6fix.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.transparent');
    </script>

    {% endblock %}
  <!--[if lte IE 8]>
   <style type="text/css">
    #menu .menu_but a, #menuReg  .menu_but a{
        font-size: 13px;
    }
    #menu, #menuReg{
        top: -48px;
    }
    .find{
        top: -3px;
    }
    .own_photo img
{
    border: 10px solid #eeedde;
}

    .message_text_view, .message_text_reply, .message_text_write
    {
        background: #E5E4D0;
        }
    .message_text_view p
    {
        background: #FFF;
        padding: 7px;
        }
    .message_text_reply textarea
    {
        width: 406px;
        padding: 7px;
        }
  </style>
  <![endif]-->
  
  <!--[if IE 8]>
   <style type="text/css">
   span#img input{
        position:relative;
        top:3px;
        }
  </style>
  <![endif]-->
</head>
<body>

<div id="container">
    <div id="subContainer">

        <div id="header">
            {% if request.path == '/' %}
            <span id="logo" ><img src="/media/images/logo_m.jpg" alt="Модное место" /></span>
            {% else %}
            <a id="logo" href="/"><img src="/media/images/logo_m.jpg" alt="Модное место" /></a>
            {% endif %}
<!--
            <div id="serch">
                <form id="search-box" action="">
                    <div>
                        <input type="text" class="find transparent" value="{% trans 'search' %}" />
                        <input type="image" value="Найти" src="/media/images/serch.jpg" />
                    </div>

                </form>
            </div>
-->
        </div>
        <div id="menu{% if not user.is_authenticated %}Reg{% endif %}">
            <table cellspacing="0px" cellpadding="0px">
            <tr>
{% if user.is_authenticated %}
            <td class="left_corner {% active request 'social:index' %}"></td>
            <td class="menu_but {% active request 'social:index' %}"><a href="/">люди</a></td>
            <td class="right_corner {% active request 'social:index' %}"></td>
            <td class="empty"></td>
            
            <td class="left_corner {% active request 'cam:cam_list' %}"></td>
            <td class="menu_but {% active request 'cam:cam_list' %}"><a href="{% url cam:cam_list %}">модные&nbsp;места</a></td>
            <td class="right_corner {% active request 'cam:cam_list' %}"></td>
            <td class="empty"></td>
            
            <td class="left_corner"></td>
            <td class="menu_but"><a href="{% url social:in_dev %}">аукцион</a></td>
            <td class="right_corner"></td>
            <td class="empty"></td>
            
            <td class="left_corner"></td>
            <td class="menu_but"><a class="curent" href="{% url social:in_dev %}">приложения</a></td>
            <td class="right_corner"></td>
            <td class="empty"></td>
            
            <td class="left_corner {% active request 'groups:group_list' %}"></td>
            <td class="menu_but {% active request 'groups:group_list' %}"><a href="{% url groups:group_list %}">группы</a></td>
            <td class="right_corner {% active request 'groups:group_list' %}"></td>
            <td class="empty"></td>
{% endif %}
            <td class="left_corner"></td>
            <td class="menu_but"><a href="http://blog.modnoemesto.ru/blog/">администрация</a></td>
            <td class="right_corner"></td>
            <td class="empty"></td>
{% if user.is_authenticated %}
            <td class="left_corner"></td>
            <td class="menu_but"><a href="{% url social:logout %}">выход</a></td>
            <td class="right_corner"></td>
{% endif %}
            </tr>
            </table>
        </div>

        <div id="mainContent" style="background:url(/media/images/bg_reg.jpg) no-repeat">

{% if messages %}
<div class="system_messages">
    <ul>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block base_content %}
here goes the actual content
{% endblock %}
        </div>

    <div id="fotter">
        <div id="info">
            <ul>

            <li style="padding-left:0"><a href="{% url social:about %}">О проекте</a></li>
            <li><a href="{% url social:static 'agreement' %}">Пользовательское соглашение</a></li>
            <li><a href="{% url cam:cam_list %}">Модные места</a></li>
            <li><a href="{% url social:static 'support' %}">Скорая техническая помощь</a></li>
            </ul>
            <p style="width:200px">Модное место &copy; 2010</p>
            <p id="design">Разработано в <a href="http://www.web-mark.ru/" target="_blank">Web-Mark</a></p>

        </div>
    </div>

</div>

</body>
</html>
