<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Модное место</title>
	<link href="/media/cap/content/common.css" type="text/css" rel="stylesheet"/>
	<script language="Javascript" type="text/javascript" src="/media/cap/js/jquery-1.4.1.js"></script>
	<script language="Javascript" type="text/javascript" src="/media/cap/js/jquery.lwtCountdown-1.0.js"></script>
	<script language="Javascript" type="text/javascript" src="/media/cap/js/misc.js"></script>
	<link rel="Stylesheet" type="text/css" href="/media/cap/style/main.css"/>
    <script src="/media/cap/content/script/ie6fix.js" type="text/javascript"></script>
    <script type="text/javascript">
		DD_belatedPNG.fix('.transparent');
	</script>
     <!--[if lte IE 8]>
   <style type="text/css">
    #menu .menu_but a, #menuReg  .menu_but a{
        font-size: 13px;
    }
    #menu, #menuReg{
        top: -30px;
    }
    .find{
    	top: -3px;
    }
  </style>
  <![endif]-->

  <!--[if IE 8]>
   <style type="text/css">
   span#img input{
        position:relative;
        top:3px;
        }
  </style>
  <![endif]-->

</head>

<body>
    <div id="container">
    	<div id="subContainer">
        	<div id="header">
            	<span id="logo"><img src="/media/cap/content/images/logo_m.jpg" alt="Модное место" /></span>

            </div>

            <div id="mainContent" class="reg_bg" style="background:url(/media/cap/content/images/bg_reg.jpg) no-repeat">
            	<div id="content_about">
                	<h2 style="padding-bottom:10px; font-size:50px; font-weight:bold; text-align:center">Здесь будет</h2>
                	<h2 style="padding-top:10px; font-size:70px; font-weight:bold; font-style:italic; text-align:center">Модное место</h2>

	<div id="container_countdown">
		<!-- Countdown dashboard start -->
		<div id="countdown_dashboard">
			<div class="dash weeks_dash">
				<span class="dash_title">недели</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash days_dash">
				<span class="dash_title">дни</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash hours_dash">
				<span class="dash_title">часы</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash minutes_dash">
				<span class="dash_title">минуты</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash seconds_dash">
				<span class="dash_title">секунды</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

		</div>
		<!-- Countdown dashboard end -->

		<script language="javascript" type="text/javascript">
			jQuery(document).ready(function() {
				$('#countdown_dashboard').countDown({
					targetDate: {
						'day': 		7,
						'month': 	12,
						'year': 	2010,
						'hour': 	17,
						'min': 		0,
						'sec': 		0
					}
				});
			});
		</script>

	</div>
<h2>О проекте</h2>
    <p>
<b>Модное место</b> - это новая и уникальная социальная сеть! Как и прочие социальные сети, <b>Модное место</b> предоставляет весь спектр пользовательских услуг.
    </p>
    <p>
Но главное отличие Модного место от других социальных сетей - возможность заработать. <b>Модное место</b> - это первая социальная сеть, которая платит участникам!
    </p>
    <p>
Если ты уникален - не стесняйся этого, это принесет большой доход. Как это работает? Все очень просто: пользователь устанавливает у себя камеру видео наблюдения (на кухне или в спальне, дома или в офисе). Чтобы повысить свой рейтинг, возможно высылать приглашения о дружбе знакомым, друзьям или совершенно незнакомым людям. Другие пользователи подключаются к камере, и... деньги начинают идти на твой счет. Конечно, чтобы трафик шел постоянно, и нужно суметь заинтересовать "свою аудиторию". Одна камера - до 500 просмотров одновременно. Можно поставить и несколько камер, тебе это будет абсолютно БЕСПЛАТНО. Главное, заинтересуй своей жизнью! Наиболее интересные участники приглашаются порталом к сотрудничеству на особых условиях...
    </p>
    <p>
Также на нашем портале Ты можешь посмотреть интересующие Тебя заведения в режиме онлайн. Теперь не возникнут такие вопросы, как : "куда пойти?", "какой интерьер у этого заведения?", "какая публика?", "где весело?". Все это ты сможешь узнать на нашем сайте в режиме настоящего времени. Трафик с камеры - платный и....до 90% зарабатывает площадка. А пользователь, после увиденного, может оставить свой комментарий.
    </p>
    <p>
Как подключить камеру? Все очень просто!

<ol>
    <li>Зарегистрируйся на сайте.</li>
    <li>Позвони по указанному номеру.</li>
    <li>Получи БЕСПЛАТНО камеру и ее установку!
    </p>
    <p>
Твое <b>Модное место</b>.
    </p>
</div>
            </div>
        </div>
        <div id="fotter">
            <div id="info">
            	<ul>
                <li style="padding-left:0"><a href="{% url social:about %}">О проекте</a></li>
                <li><a href="{% url social:agreement %}">Пользовательское соглашение</a></li>
                <li><a href="{% url social:in_dev %}">Контакты</a></li>
                </ul>
                <p style="width:200px">Модное место &copy; 2010</p>
            </div>
        </div>
    </div>
</body>
</html>