{% extends "base_mini.html" %}


{% block base_content %}
<div id="content_about">
    <h2 style="font-size: 36px;">Данная страница находится в разработке</h2>
   <p>
    Приносим свои извинения за временные неудобства.
   </p>
   <p>
    Вы можете прейти на <a href="/">главную страницу</a> сайта.
   </p>
</div>
<div id="rightColumn">
    <h2 class="mod_places">Модные места</h2>

    <p class="fi">Найдено</p>
    <a id="quont" href="{% url in_dev %}">4567</a>

    <div id="form" class="rounded">
        <form action="" method="">
            <select id="filter_right" size="1" name="ff">
                <option value="df">по популярности</option>
                <option value="dm">по популярности</option>
                <option value="dp">по популярности</option>
                <option value="vop">по популярности</option>
            </select>
        </form>
        <div id="fp">

            <ul>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg" alt=""/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <img src="/media/images/place_1.jpg"/>

                        <div class="news">
                            <p class="place">Клуб Пурга</p>

                            <p class="quantity">456 человек</p>

                            <p class="creater">Маруся</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="/media/images/place_2.jpg"/>

                        <div class="news">
                            <p class="place">Стадион Петровский</p>

                            <p class="quantity">456 908 человек</p>

                            <p class="creater">Пал Палыч</p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
     <div class="all">
            <p>Все</p>
            <a href="{% url in_dev %}">568</a>
        </div>
</div>
{% endblock %}
