{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2 class="video_title">Авторизация</h2>
<div class="reg rounded" style="-moz-border-radius: 10px 10px 10px 10px;">
<form action="{{ app_path }}" method="POST">
    {% for field in form %}
        {{ field.errors }}
        <p>{{ field.label }}<br/>
            {{ field }}</p>
    {% endfor %}
    <input type="submit" class="sub" value="Войти"/>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

</div>
{% endblock %}