{% extends "base_mini.html" %}

{% load i18n %}

{% block base_content %}
<div id="content_about" style="height:480px">
<h2>Благодарим вас за регистрацию на сайте {{ SITE_DOMAIN }}!</h2>
    <p>
    Вы должны получить сообщение по электронной почты с кодом подтверждения в течение нескольких
    минут, просто нажмите на ссылку с этим кодом, чтобы завершить процесс
    регистрации.
    </p>
    <p>
    <b>Если Вы не получили письмо о подтверждении регистрации, обратитесь в службу технической поддержки 
    <a href="mailto:onduty@web-mark.ru">onduty@web-mark.ru</a> или +7 (812) 642-4878.<b>
    </p>
</div>
{% endblock %}
