{% extends "base_mini.html" %}
{% load i18n %}
{% load media %}

{% block css %}
{{ block.super }}
<link href="/media/styles/drop_down.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_tags, #id_order').selectbox();
{% if not request.user.is_view_private_cam %}
    $('#id_tags_container ul').click(function(e){
        var tmp = e.target.id.split('_');
        if (tmp.length == 4) {
            var id = tmp[tmp.length-1];
            var privates = [{{ private_tags }}];
            for(var i = 0; i < privates.length; i++){
                if (privates[i] == id) {
                    if (confirm("Вы действильно желаете открыть приватный раздел?")) {
                        $.get('{% url social:set_options %}?is_view_private_cam=true');
                    } else {
                        $('#id_tags_container li').each(function(i, v){
                            $(v).attr('class', '');
                        });
                        $('#id_tags_input_').attr('class', 'current selected');
                        $('id_tags').val('');
                        $('#id_tags_input').val($('#id_tags_input_').html());
                    }
                    break;
                }
            }
            if (id)
        }
    });
{% endif %}

    $('#filt_new').click(function(e){
        var link = $(e.target);
        if (link.hasClass('next') || link.hasClass('previous') || link.hasClass('page') ) {
            var href = link.attr('href');
            $.get(href, function(data) {
                if (data != '') {
                    $('#filt_new').html(data);
                }
            });
            return false;
        }
    });
{% if not request.user.is_view_private_cam %}
    $('#filt_cat a.private').click(function(){
        if (confirm("Вы действильно желаете открыть приватный раздел?")) $.get('{% url social:set_options %}?is_view_private_cam=true');
        else return false;
    });
{% endif %}
});
</script>
{% endblock %}          
{% block base_content %}
{% include "_left_box_menu.html" %}

<div id="filterColumn">
    <div id="filter">
<h2>Фильтр модных мест</h2>

<form method="get">
<div class="filt rounded" style="-moz-border-radius: 10px 10px 10px 10px;">

    <table  class="camera_edit">
        <tbody>
        <tr>
            <th>{{ form.name.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td colspan="3"><div class="input_holder rounded">{{ form.name }}</div></td>
            <td class="empty_filt"></td>
            <td>{{ form.tags }}</td>
        </tr>
        <tr>
            <td style="height:10px"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="empty_filt"></td>
            <th>{{ form.is_managed.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td>{{ form.is_managed }}</td>
            <td>{{ form.order }}</td>
        </tr>
        <tr>
            <td style="height:10px"></td>
        </tr>
        <tr>
            <th style="width: 200px">{{ form.is_view_enabled.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td>{{ form.is_view_enabled }}</td>
            <th>{{ form.is_management_enabled.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td>{{ form.is_management_enabled }}</td>
        </tr>
        <tr>
            <td style="height:10px"></td>
        </tr>
        <tr>
            <th>{{ form.is_view_public.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td>{{ form.is_view_public }}</td>
            <th>{{ form.is_management_public.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td>{{ form.is_management_public }}</td>
        </tr>
        <tr>
            <td style="height:10px"></td>
        </tr>
        <tr>
            <th>{{ form.is_view_paid.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td>{{ form.is_view_paid }}</td>
            <th>{{ form.is_management_paid.label_tag }}:</th>
            <td class="empty_filt"></td>
            <td>{{ form.is_management_paid }}</td>
        </tr>
        <tr>
            <td style="height:10px"></td>
        </tr>
    </tbody>
    </table>
    
<script type="text/javascript">
var id_is_managed=$('#id_is_managed'),
    id_is_management_enabled=$('#id_is_management_enabled'),
    id_is_management_public=$('#id_is_management_public'),
    id_is_management_paid=$('#id_is_management_paid');
function management_checked() {
    var checked = id_is_managed.attr('checked');
    id_is_management_enabled.attr('disabled', !checked);
    id_is_management_public.attr('disabled', !checked);
    id_is_management_paid.attr('disabled', !checked);
}
id_is_managed.click(management_checked)
management_checked();
</script>
</div>
   
    <div class="but">
            <input type="submit" value="Фильтровать" class="button"/>
    </div>
</form>
{% if cams %}
<div id="filt_new">
{% include "cam/_cameras.html" %}
</div>
{% else %}
<div id="filt_cat">
<ul class="tag_list">
{% for tag, cams in tags %}
    <li class="category" {% cycle '' ' style="margin-right: 0pt;"' %}>
        <div>
            <h3><a href="?tags={{ tag.id }}" class="private">{{ tag.name }} ({{ tag.count }})</a></h3>
{% if tag.is_private and not request.user.is_view_private_cam %}
            <a href="?tags={{ tag.id }}" class="private"><img src="/media/images/keyhole.png" style="width: 360px; height: 322px;"></a>
{% else %}
            <ul>
            {% for cam in cams %}
{% url social:user cam.owner.id as user_path %}
                <li {% cycle '' ' style="margin-right: 0pt;"' %}>
                    <div class="item">
                    <div class="pop rounded" style="-moz-border-radius: 10px 10px 10px 10px;">
                    <a href="{{ user_path }}#cam"><img alt="{{ cam.name }}" src="{% media_url cam.screen camera_screen_midi.png %}"></a>
                    </div>
                    <p class="place"><a href="{{ user_path }}#cam">{{ cam.name }}</a></p>
                    <p class="creater"><a href="{{ user_path }}">{{ cam.owner }}</a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
{% endif %}
        </div>
    </li>
{% endfor %}
</ul>
</div>
{% endif %}

    </div>
</div>
{% endblock %}
