<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Модное место</title>
	<link href="content/common.css" type="text/css" rel="stylesheet"/>
    <link href="content/jScrollPane.css" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="content/script/jquery.js"></script>
    <script type="text/javascript" src="content/script/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="content/script/jScrollPane.js"></script>
    <script type="text/javascript" src="content/script/jquery.corner.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$('.rounded').corner();
			$('div.hide').css({'visibility':'hidden'});
			$('h2.registr').click(function(){
				if($('div.hide').css("visibility")=="hidden")	{
					$('div.hide').css({'visibility':'visible'});
					}
					else {
					$('div.hide').css({'visibility':'hidden'});
					}
				});

								   });
	</script>
    
    
    <script src="content/script/ie6fix.js" type="text/javascript"></script>
    <script type="text/javascript">
		DD_belatedPNG.fix('.transparent');
	</script>
     <!--[if lte IE 8]>
   <style type="text/css">
    #menu .menu_but a, #menuReg  .menu_but a{
        font-size: 13px;
    }
    #menu, #menuReg{
        top: -30px;
    }
    .find{
    	top: -3px;
    }
  </style>
  <![endif]-->
  
  <!--[if IE 8]>
   <style type="text/css">
   span#img input{
        position:relative;
        top:3px;
        }
  </style>
  <![endif]-->
    
</head>

<body>
    <div id="container">
    	<div id="subContainer">
        	<div id="header">
            	<a id="logo" href="#"><img src="content/images/logo_m.jpg" alt="Модное место" /></a>
                
            </div>
                            <div id="menuReg">
                	<table cellspacing="0px" cellpadding="0px">
                        <tr>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="#">регистрация</a></td>
                        <td class="right_corner"></td>
                        <td class="empty"></td>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="#">вход</a></td>
                        <td class="right_corner"></td>
                        </tr>
                     </table>
                </div>

            <div id="mainContent" class="reg_bg" style="background:url(content/images/bg_reg.jpg) no-repeat">
            	<div id="content_about">
                	<h2 style="font-size:70px; font-weight:bold; font-style:italic; text-align:center">Здесь<br />будет<br /> Модное Место</h2>
                    
                </div>
            	
                <div id="regColumn">
                	<div id="enter_form">
                        <h2 class="ent">Вход</h2>
                        <div style="overflow:hidden"><div class="enter rounded">
                            <form action="" method="">
                                    <p>E-mail или Логин:<br/>
                                    <input id="e-mail" type="text" size="65" name="fio" /></p>
                                    <p>Пароль:<br/>
                                    <input id="pass" type="password" size="65" name="fio" /></p>
                                    <p><a href="#">Забыли пароль?</a></p>
                            </form>
                        </div>
                            <form>
                                <p><input class="subEnter" type="submit" value="Войти" /></p>
                            </form>
                        </div>
                    </div>
                    <div id="reg_form">
                        <h2 class="registr">Регистрация</h2>
                        <div class="hide" style="overflow:hidden">
                        <div class="reg rounded">
                            <form action="" method="">
                                    <p>Имя<br/>
                                    <input id="name" type="text" size="65" name="fio" /></p>
                                    <p>Фамилия<br/>
                                    <input id="surname" type="text" size="65" name="fio" /></p>
                                    <p>E-mail<br/>
                                    <input id="e-mail" type="text" size="65" name="E-mail" /></p>
                                    <p>Пароль<br/>
                                    <input id="pass" type="password" size="65" name="tema" /></p>
                            </form>
                        </div>
                            <form>
                                    <p style="color:#999999; padding-top: 7px">
                                    Фактом регистрации Вы соглашаетесь с <a href="#">Пользовательским соглашением.</a></p>
                                    <p><input class="subReg" type="submit" value="Зарегистрироваться" /></p>
                                    
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="fotter">
            <div id="info">
            	<ul>
                <li style="padding-left:0"><a href="#">О сайте</a></li>
                <li><a href="#">Техподдержка</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#"> Блог</a></li>
                <li><a href="#">Правила </a></li>
                <li><a href="#">Реклама</a></li>
                <li><a href="#">Разработчикам</a></li>
                <li style="padding-right:0"><a href="#">Магазинам</a></li>
                </ul>
                <p style="width:200px">Модное место &copy; 2010</p>
                <p id="design">Разработано в <a href="http://www.web-mark.ru/" target="_blank">Web-Mark</a></p>
            </div>
        </div>
    </div>
</body>
</html>
