<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Модное место</title>
	<link href="content/common.css" type="text/css" rel="stylesheet"/>
    <link href="content/jScrollPane.css" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="content/script/jquery.js"></script>
    <script type="text/javascript" src="content/script/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="content/script/jScrollPane.js"></script>
    <script type="text/javascript" src="content/script/jquery.corner.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$('.rounded').corner();
								   });
	</script>
    
    
    <script src="content/script/ie6fix.js" type="text/javascript"></script>
    <script type="text/javascript">
		DD_belatedPNG.fix('.transparent');
	</script>
    
</head>

<body>
    <div id="container">
    	<div id="subContainer">
        	<div id="header">
            	<a id="logo" href="Reg.html#"><img src="content/images/logo_m.jpg" alt="Ьщдное место" /></a>
                
            </div>
                            <div id="menuReg">
                	<table cellspacing="0px" cellpadding="0px">
                        <tr>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="Reg.html#">регистрация</a></td>
                        <td class="right_corner"></td>
                        <td class="empty"></td>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="Reg.html#">вход</a></td>
                        <td class="right_corner"></td>
                        </tr>
                     </table>
                </div>

            <div id="mainContent" class="reg_bg" style="background:url(content/images/bg_reg.jpg) no-repeat">
            	<div id="content_about">
                	<h2>О проекте</h2>
                    <p>
                    	Подчас, Модное Место, как гениальная картина художника, кажется нам почти живым, в то время как мир 
                        вокруг него бледнеет, приобретая черты заезженного черно-белого фильма. Выйдем на тропу Модное Место. 
                        Про отношения человека и <a href="Reg.html#">Модное Место</a> можно сказать то же, что и про любые другие
                        отношения: отсутствие диалога убивает все чувства. Для Модное Место важен размах, а не итог. Человек 
                        всегда знал, что делает его человеком – Модное Место. Модное Место... Главное не форма, а содержание... 
                        Жаль, что современные бизнес-леди не могут тратить слишком много времени на Модное Место. Модное 
                        Место – как трамвай, главное в него войти, а там уж как-нибудь доедешь. Без Модное Место даже ежик 
                        стонет. Наша беседа пока не вышла за рамки научного обмена мнениями.
                    </p>
                    <p>
                    	Человек ко всему привыкает, даже к Модное Место. Не знаю, вправе ли я вам советовать, но мой совет такой:
                         «Десять раз подумайте, прежде, чем заняться бизнесом». Иначе придет <a href="Reg.html#">Модное Место</a>. Если
                         все так безнадежно, зачем вообще говорить о <a href="Reg.html#">Модное Место</a>? Я не могу дать убедительный
                         ответ. Не потому что не умею, а потому что такого ответа нет. Кроме того, далеко не все люди хотят 
                         знать правду. Может быть, еще придет время, когда Модное Место нужно будет занести в Красную книгу. 
                         Модное Место – это способ общения простых парней. Модное Место – только не надо путать подлинный продукт 
                         с тем, что продается в магазинах. Если вас что-то гложет изнутри – это либо совесть, либо Модное Место. 
                         Мы раздули Модное Место до размеров туманности Конская Голова, но не смогли придумать Модное Место 
                         эквивалентность в другой реальности. Оп, та же проблема. Возможное решение – говори чётко «про себя» 
                         или лучше вслух: «Модное Место, Модное Место». Это всё от неправильного образа жизни, я считаю. Хотя 
                         лучше реально на Модное Место сфокусироваться. Есть такая закономерность – в Россию всё приходит позже. 
                         Но это абсолютно не касается Модное Место. 
                    </p>
                </div>
            	
                <div id="regColumn">
                	<div id="enter_form">
                        <h2 class="ent">Вход</h2>
                        <div style="overflow:hidden"><div class="enter rounded">
                            <form action="" method="">
                                    <p>E-mail или Логин:<br/>
                                    <input id="e-mail" type="text" size="65" name="fio" /></p>
                                    <p>Пароль:<br/>
                                    <input id="pass" type="password" size="65" name="fio" /></p>
                                    <p><a href="Reg.html#">Забыли пароль?</a></p>
                            </form>
                        </div>
                            <form>
                                <p><input class="subEnter" type="submit" value="Войти" /></p>
                            </form>
                        </div>
                    </div>
                    <div id="reg_form">
                        <h2 class="registr">Регистрация</h2>
                        <div style="overflow:hidden"><div class="reg rounded">
                            <form action="" method="">
                                    <p>Имя<br/>
                                    <input id="name" type="text" size="65" name="fio" /></p>
                                    <p>Фамилия<br/>
                                    <input id="surname" type="text" size="65" name="fio" /></p>
                                    <p>E-mail<br/>
                                    <input id="e-mail" type="text" size="65" name="E-mail" /></p>
                                    <p>Пароль<br/>
                                    <input id="pass" type="password" size="65" name="tema" /></p>
                            </form>
                        </div>
                            <form>
                                    <p style="color:#999999; padding-top: 7px">
                                    Фактом регистрации Вы соглашаетесь с <a href="Reg.html#">Пользовательским соглашением.</a></p>
                                    <p><input class="subReg" type="submit" value="Зарегистрироваться" /></p>
                                    
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="fotter">
            <div id="info">
            	<ul>
                <li style="padding-left:0"><a href="Reg.html#">О сайте</a></li>
                <li><a href="Reg.html#">Техподдержка</a></li>
                <li><a href="Reg.html#">Вакансии</a></li>
                <li><a href="Reg.html#"> Блог</a></li>
                <li><a href="Reg.html#">Правила </a></li>
                <li><a href="Reg.html#">Реклама</a></li>
                <li><a href="Reg.html#">Разработчикам</a></li>
                <li style="padding-right:0"><a href="Reg.html#">Магазинам</a></li>
                </ul>
                <p style="width:200px">Модное место &copy; 2010</p>
                <p id="design">Разработано в <a href="http://www.web-mark.ru/" target="_blank">Web-Mark</a></p>
            </div>
        </div>
    </div>
</body>
</html>
