{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block content %}
<div id="filter_box">
<h2>{% trans "Themes" %}</h2>


<div class="filt rounded">
<table class="group_add theme_list">
<tr>
    <th width="22%">Название</th><td class="empty_filt"></td>
    <th width="22%">Описание</th><td class="empty_filt"></td>
    <th width="22%">Скриншот</th><td class="empty_filt"></td>
    <th width="22%">Действия</th>
</tr>
{% for theme in objects.object_list  %}
    <tr>
        <td>
            <b>{{ theme.name }}</b>
        </td>
        <td>
            {{ theme.description }}
        </td>
        <td>
            <img src="{% url themes:file_view theme_id=theme.id file_name='preview.png' %}" alt="{{ theme.name }}" />
        </td>
        <td>
            {% if can_manage %}
                <a href="{% url themes:delete theme_id=theme.id %}">{% trans "Delete theme" %}</a><br />
            {% endif %}
            {% if request.user.profile.theme == theme%}
                <a href="{% url themes:unset %}">{% trans "Unset theme" %}</a>
            {% else %}
                <a href="{% url themes:set theme_id=theme.id %}">{% trans "Set theme" %}</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
</div>
</div>

{% include 'includes/paginator.html' %}
{% if can_manage %}
    <form action="{% url themes:add %}" method="post" enctype="multipart/form-data">
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="{% trans "Add theme" %}"/>
    </form>
{% endif %}

{% if request.user.profile.theme %}
    <a href="{% url themes:unset %}">{% trans "Unset theme" %}</a>
{% endif %}

{% endblock %}
