{% extends 'base_mini.html' %}

{% load i18n %}

{% block base_content %}
<div id="content_about">
    <h2>Как оплатить</h2>
    <table>
        <tr>
            <td>Вы можете пополнить свой счет посредством собственных <b>банковских карт</b> через платежную систему банка <b>ПСКБ</b>.</td>
            <td>Или воспользоваться сервисом <b>ROBOKASSA</b> для пополнения через электронные деньги, смс-сообщения, терминалов и т.д.</td>
       </tr>
        <tr>
            <td><a href="{% url billing:pscb %}"><img src="/media/images/pscb.gif" alt="PSCB"/></a></td>
            <td><a href="#" id="robokassa_link"><img src="/media/images/pscb.gif" alt="ROBOKASSA"/></a></td>
       </tr>
    </table>
<form action="{{ robokassa_form.target }}" method="POST" id="robokassa_form">
{{ robokassa_form.as_p }}
</form>
<script type="text/javascript">
$('#robokassa_link').click(function(){
    document.getElementById('robokassa_form').submit()
})
</script>
</div>
{% endblock %}
