#user_page
{
	position: relative;
}
h2
{
	font-size: 18px;
	color: #08889f;
	margin-bottom: 14px;
}
dl
{
	padding: 10px 0px;
}
dt
{
	float: left;
	display: inline;
	width: 120px;
	color: #838383;
	padding: 5px;
}
dd
{
	margin-left: 121px;
	padding: 5px;
	overflow: hidden;
	width: 150px;
	color: #00b2d5;
}
div.about_persone
{
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	width: 290px;
	position: relative;
	top: -639px;
	/*background: url(../images/bg_about_persone.png) no-repeat;*/
}
.about_persone p
{
	color: #08889f;
	width: 205px;
	padding-left: 5px;
}
.about_persone dd a
{
	color: #00b2d5;
	text-decoration: none;
}
p.event_announce
{
    width: 285px;
	color: #575655;
	padding-top: 5px;
}
#avatar
{
	text-align: center;
	border: 10px solid #eeedde;
	background: #EEEDDE;
	width: 200px;
	position: relative;
	top: -30px;
    left: 302px;
}
.profileActions
{
	overflow: hidden;
	margin-top: 5px;
	width: 220px;
	position: relative;
	left: 302px;
	top: -30px;
	
}
.profileActions ul
{
	overflow: hidden;
}
.profileActions ul li
{
	padding: 10px 0px 10px 15px;
	border-top: #6f6f6f dotted 1px;
	display: block;
}
.profileActions ul li a, .profileActions ul li span
{
	color: #575655;
	text-decoration: underline;
}
.profileActions ul li a:hover
{
	color: #000;
}
.friend_box
{
	margin-top: 10px;
	border-top: 1px dotted #6f6f6f;
	padding: 15px 0px;
	background: url(../images/bg_gray.png) repeat-x top;
    height: 250px;
	width: 220px;
	position: relative;
	left: 302px;
	top: -30px;
	overflow: hidden;
}
.friend_box span
{
    float: right;
    text-align: right;
}
.all_friends
{
	overflow: hidden;
}
.friends_amount
{
	color: #838383;
	text-decoration: underline;
}

.friend_box p
{
	color: #08889f;
	float: left;
	display: inline;
	padding-left: 5px;
}
#camera
{
	position: relative;
	top: -450px;
}
#camera p
{
	color: #838383;
	padding: 5px;
}
.tab_comment p
{
	padding: 0px;
}
.clear
{
	clear: both;
}
.tooltip {
            position: relative;
}
a.tooltip
{
    margin: 8px;
    margin-bottom: 0px;
    display: inline-block;
    width: 31px;
    height: 36px;
    z-index: 999;
	position: relative;
	top: -30px;
	left: 312px;
}
.tooltip span 
{
    margin-left: -999em;
    position: absolute;
    z-index: 1;
}
.tooltip:hover span
{
    position: absolute; 
    /*z-index: 99;*/
    margin-left: 0;
    width: 206px;
}
.tooltip:hover span.toollip_friend, .tooltip:hover span.toollip_friend_remove
{
    left: -0.9em; 
    top: -5.1em; 
}
.tooltip:hover span.toollip_group
{
    left: -5.1em; 
    top: -5.1em; 
}
.tooltip:hover span.toollip_mail
{
    left: -9.3em; 
    top: -5.1em; 
}
.tooltip:hover span.toollip_video
{
    left: -13.5em;
    top: -5.1em; 
}
a.toollip_friend_remove
{
	background: url(../images/remove_friendship_ico.png) no-repeat bottom;
}
a.toollip_friend
{
    background: url(../images/friendship_ico.png) no-repeat bottom;
}
a.toollip_friend_remove:hover
{
    background: url(../images/remove_friendship_ico_hover.png) no-repeat bottom;
}
a.toollip_friend:hover
{
    background: url(../images/friendship_ico_hover.png) no-repeat bottom;
}
a.toollip_group
{
    background: url(../images/groupship_ico.png) no-repeat bottom;
}
a.toollip_group:hover
{
    background: url(../images/groupship_ico_hover.png) no-repeat bottom;
}
a.toollip_mail
{
    background: url(../images/sendmail_ico.png) no-repeat bottom;
}
a.toollip_mail:hover
{
    background: url(../images/sendmail_ico_hover.png) no-repeat bottom;
}
a.toollip_video
{
    background: url(../images/videochat_ico.png) no-repeat bottom;
}
a.toollip_video:hover
{
    background: url(../images/videochat_ico_hover.png) no-repeat bottom;
}
.tooltip img.hidden
{
    z-index:99999;
    position: absolute;
    left: 10px;
    display: none;
}
.tooltip:hover img.hidden
{
    display: block;
}
