<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Модное место</title>
	<link href="content/common.css" type="text/css" rel="stylesheet"/>
    <link href="content/jScrollPane.css" type="text/css" rel="stylesheet" />
    <link href="content/drop_down.css" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="content/script/jquery.js"></script>
    <script type="text/javascript" src="content/script/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="content/script/jScrollPane.js"></script>
    <script type="text/javascript" src="content/script/jquery.corner.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$('.scroll-pane').jScrollPane({showArrows:true, scrollbarWidth:5});
			$('.rounded').corner();
								   });
	</script>
    
    
    <script src="content/script/ie6fix.js" type="text/javascript"></script>
    <script type="text/javascript">
		DD_belatedPNG.fix('.transparent');
	</script>
    <script src="content/script/drop_down.js" type="text/javascript"></script>
    
    <style type="text/css">
			.scroll-wrap{width:515px; padding: 5px 0px; background: url(content/images/char_bg.jpg) repeat-x;}
			.scroll-pane{width:505px;height:150px;overflow:auto}
		</style>
</head>

<body>
    <div id="container">
    	<div id="subContainer">
        	<div id="header">
            	<a id="logo" href="#"><img src="content/images/logo_m.jpg" alt="Ьщдное место" /></a>
                <div id="serch">
                    <form id="search-box" action="">
                        <div>
                            <input type="text" value="поиск" class="find transparent" />
                            <input type="image" value="Найти" src="content/images/serch.jpg" />
                        </div>
                    </form>
                </div>
            </div>
                            <div id="menu">
                	<table cellspacing="0px" cellpadding="0px">
                        <tr>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="Designer.html">люди</a></td>
                        <td class="right_corner"></td>
                        <td class="empty"></td>
                        <td class="left_corner menu_curent"></td>
                        <td class="menu_but menu_curent"><a href="Coll_inside.html">модные места</a></td>
                        <td class="right_corner menu_curent"></td>
                        <td class="empty"></td>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="#">аукцион</a></td>
                        <td class="right_corner"></td>
                        <td class="empty"></td>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a class="curent" href="Contacts.html">приложения</a></td>
                        <td class="right_corner"></td>
                        <td class="empty"></td>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="Blago.html">группы</a></td>
                        <td class="right_corner"></td>
                        <td class="empty"></td>
                        <td class="left_corner"></td>
                        <td class="menu_but"><a href="Guestbook.html">выход</a></td>
                        <td class="right_corner"></td>
                        
                        </tr>
                     </table>
                </div>

            <div id="mainContent">
            	<div id="leftColumn">
                	<div class="nav">
                            <ul>
                                <li id="persone"><a href="#">Вениамин Константинопольский</a></li>
                                <li id="money">
                                    <div class="q">
                                    	<p>На моем счету</p>
                                        <div><p id="amount"><span>234 904</span> модов</p></div>
                                        <p id="purse"><a href="#">Перейти в кошелек</a></p>
                                     </div>
                                </li>
                                <li id="fashion_place"><a href="#">Мои Модные места</a></li>
                                <li id="friends"><a href="#">Друзья</a></li>
                                <li id="mail"><a href="#">Сообщения</a></li>
                                <li id="notes"><a href="#">Заметки</a></li>
                                <li id="group"><a href="#">Группы</a></li>
                                <li id="foto"><a href="#">Фотографии</a></li>
                                <li id="video"><a href="#">Видеозаписи</a></li>
                                <li id="audio"><a href="#">Аудиозаписи</a></li>
                                <li id="meeting"><a href="#">Встречи</a></li>
                            </ul>
                        </div>
                        <div id="what_new">
                        	<a href="#"><img src="content/images/what_new.jpg" /></a>
                        </div>
                        <div id="advertising">
                        	<div>
                            	<img src="content/images/ermi_pic.jpg" alt="gj" />
                            </div>
                            <p class="date">12 декабря 18:39</p>
                            <p class="cam">12 камер в Эрмитаже</p>
                            <p>Кмеры работают в режиме тестирования</p>
                        </div>
                </div>
                <div id="centerColumn">
                	<h2 class="video_title">Марс, как он есть на самом деле</h2>
                    <p class="create">Создал</p>
                    <a id="name_creater" href="#">Кулебякин Макс</a>
                    <div id="watch-panel" class="rounded">
                        <div id="player">
                        <img src="content/images/player.jpg" />
                        </div>
                        <div id="video_coment">
                        	<div id="laying">
                            	<div class="tab_chat">
                                	<span class="tab_chat">Чат</span>
                                </div>
                                <div class="tab_comment">
                                	<span class="tab_comment"><p>Комментарии<p><img src="content/images/hand_up.jpg" alt="hand_up" />
                                    <p class="hand_up">47671</p><img src="content/images/hand_down.jpg" alt="hand_down" />
                                    <p class="hand_down">481</p><p class="rating">Рейтинг</p><p class="rat">648</p>
                                    </span>
                                </div>
                            </div>
                            <div class="room">
                            
                            <div class="scroll-wrap">
							<div class="scroll-pane">
                            	<div class="chat">
                                	<div class="comment">
                                    	<div class="from">
                                        	<p class="time">[00:17:35]</p>
                                            <p class="nic">&lt;Vasya&gt;</p>
                                            <div class="text">На выезде из города немного забарахлил бензонасос. Открыл капот, 
                                            позвонил Андрею Сингатов. После инструктажа подергал в нужном месте - двигатель 
                                            заработал лучше. Пока стояли на аварийке, подъехали ребята на байках.</div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                    	<div class="from">
                                        	<p class="time">[00:17:35]</p>
                                            <p class="nic">&lt;Vasya&gt;</p>
                                            <div class="text">На выезде из города немного забарахлил бензонасос. Открыл капот, 
                                            позвонил Андрею Сингатов. После инструктажа подергал в нужном месте - двигатель 
                                            заработал лучше. Пока стояли на аварийке, подъехали ребята на байках.</div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                    	<div class="from">
                                        	<p class="time">[00:17:35]</p>
                                            <p class="nic">&lt;Vasya&gt;</p>
                                            <div class="text">На выезде из города немного забарахлил бензонасос. Открыл капот, 
                                            позвонил Андрею Сингатов. После инструктажа подергал в нужном месте - двигатель 
                                            заработал лучше. Пока стояли на аварийке, подъехали ребята на байках.</div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                    	<div class="from">
                                        	<p class="time">[00:17:35]</p>
                                            <p class="nic">&lt;Vasya&gt;</p>
                                            <div class="text">На выезде из города немного забарахлил бензонасос. Открыл капот, 
                                            позвонил Андрею Сингатов. После инструктажа подергал в нужном месте - двигатель 
                                            заработал лучше. Пока стояли на аварийке, подъехали ребята на байках.</div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                    	<div class="from">
                                        	<p class="time">[00:17:35]</p>
                                            <p class="nic">&lt;Vasya&gt;</p>
                                            <div class="text">На выезде из города немного забарахлил бензонасос. Открыл капот, 
                                            позвонил Андрею Сингатов. После инструктажа подергал в нужном месте - двигатель 
                                            заработал лучше. Пока стояли на аварийке, подъехали ребята на байках.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="send">
                            <p class="send_mass">Отправить собщение в чат:</p>
                            	<form action="" method="">
                                	<textarea class="com"></textarea>
                                    <input type="submit" class="sub" value="отправить" />
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rightColumn">
                    	<h2 class="mod_places">Модные места</h2>
                        <p class="fi">Найдено</p>
                    	<a id="quont" href="#">4567</a>
                        <div id="form" class="rounded">
                            	<form action="" method="">
                                    <select id="filter" size="1" name="ff">
                                    	<option value="df">по популярности</option>
                                        <option value="dm">по популярности</option>
                                        <option value="dp">по популярности</option>
                                        <option value="vop">по популярности</option>
                                    </select>
                                </form>
                            <div id="fp">
                              <ul>
                            	<li>
                                	<div class="item">
                                    <img src="content/images/place_2.jpg" alt="" />
                                	<div class="news">
                                    <p class="place">Стадион Петровский</p>
                                    <p class="quantity">456 908 человек</p>
                                    <p class="creater">Пал Палыч</p>
                                    </div>
                                    </div>
                                </li>
                                <li>
                                	<div class="item">
                                    <img src="content/images/place_1.jpg" />
                                	<div class="news">
                                    <p class="place">Клуб Пурга</p>
                                    <p class="quantity">456 человек</p>
                                    <p class="creater">Маруся</p>
                                    </div>
                                    </div>
                                </li>
                                <li>
                                	<div class="item">
                                    <img src="content/images/place_2.jpg" />
                                	<div class="news">
                                    <p class="place">Стадион Петровский</p>
                                    <p class="quantity">456 908 человек</p>
                                    <p class="creater">Пал Палыч</p>
                                    </div>
                                    </div>
                                </li>
                                <li>
                                	<div class="item">
                                    <img src="content/images/place_1.jpg" />
                                	<div class="news">
                                    <p class="place">Клуб Пурга</p>
                                    <p class="quantity">456 человек</p>
                                    <p class="creater">Маруся</p>
                                    </div>
                                    </div>
                                </li>
                                <li>
                                	<div class="item">
                                    <img src="content/images/place_2.jpg" />
                                	<div class="news">
                                    <p class="place">Стадион Петровский</p>
                                    <p class="quantity">456 908 человек</p>
                                    <p class="creater">Пал Палыч</p>
                                    </div>
                                    </div>
                                </li>
                                <li>
                                	<div class="item">
                                    <img src="content/images/place_1.jpg" />
                                	<div class="news">
                                    <p class="place">Клуб Пурга</p>
                                    <p class="quantity">456 человек</p>
                                    <p class="creater">Маруся</p>
                                    </div>
                                    </div>
                                </li>
                                <li>
                                	<div class="item">
                                    <img src="content/images/place_2.jpg" />
                                	<div class="news">
                                    <p class="place">Стадион Петровский</p>
                                    <p class="quantity">456 908 человек</p>
                                    <p class="creater">Пал Палыч</p>
                                    </div>
                                    </div>
                                </li>
                             </ul>
							</div>
                         </div>
                         <div class="all">
                            	<p>Все</p>
                                <a href="#">568</a>
                            </div>
                </div>
            </div>
        </div>
        <div id="fotter">
            <div id="info">
            	<ul>
                <li style="padding-left:0"><a href="#">О сайте</a></li>
                <li><a href="#">Техподдержка</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#"> Блог</a></li>
                <li><a href="#">Правила </a></li>
                <li><a href="#">Реклама</a></li>
                <li><a href="#">Разработчикам</a></li>
                <li style="padding-right:0"><a href="#">Магазинам</a></li>
                </ul>
                <p style="width:200px">Модное место &copy; 2010</p>
                <p id="design">Разработано в <a href="http://www.web-mark.ru/" target="_blank">Web-Mark</a></p>
            </div>
        </div>
    </div>
</body>
</html>
