{% load i18n %}

<div id="edit_form">
		<div class="title">
            <div class="title-r">
                <div class="title-x">
					<h2>{% trans "Edit profile" %}</h2>
                </div>
            </div>
        </div>
          <div class="block2">
        <div class="block2-b">
			<form method="post" class="baseform">
    <input type="hidden" name="form" value="profile" />
   
        <table>
        <tr>
            <td class="lable"><label for="id_hometown">Родной город:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.hometown.errors }}
                <div class="input_holder rounded">{{ form.hometown }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_birthday">День рождения:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.birthday.errors }}
                <div class="input_holder rounded">{{ form.birthday }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_sex">Пол:</label></td>
            <td class="empty_filt"></td>
            <td>{{ form.sex.errors }}{{ form.sex }}</td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_get_news">Получать обновления на емейл:</label></td>
            <td class="empty_filt"></td>
            <td>{{ form.get_news.errors }}{{ form.get_news }}</td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_icq">ICQ:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.icq.errors }}
                <div class="input_holder rounded">{{ form.icq }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_mobile">Телефон:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.mobile.errors }}
                +7{{ form.mobile }}</td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_website">Личный сайт:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.website.errors }}
                <div class="input_holder rounded">{{ form.website }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_university">ВУЗ:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.university.errors }}
                <div class="input_holder rounded">{{ form.university }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_department">Факультет:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.department.errors }}
                <div class="input_holder rounded">{{ form.department }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable"><label for="id_university_status">Статус:</label></td>
            <td class="empty_filt"></td>
            <td>
                {{ form.university_status.errors }}
                <div class="input_holder rounded">{{ form.university_status }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <td class="lable">{{ form.announce.label }}:</td>
            <td class="empty_filt"></td>
            <td>
                {{ form.announce.errors }}
                <div class="input_holder rounded">{{ form.announce }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
    </table>


    <div class="but">
        <input type="submit"
           value="{% trans 'Save' %}" />
    </div>
    {% comment  %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit"
           value="{% trans 'Save' %}" />
    {% endcomment %}
    
</form>
		</div>
        </div>
</div>