{% load i18n %}

<div id="edit_form">
<div class="title">
            <div class="title-r">
                <div class="title-x">
					<h2>{% trans "Edit user" %}</h2>
                </div>
            </div>
        </div>
 <div class="block2">
        <div class="block2-b">
<form method="post" class="baseform">
    <input type="hidden" name="form" value="user" />
    <div class="filt rounded">
        <table class="group_add">
        <tr>
            <th><label for="id_email">E-mail:</label></th>
            <td class="empty_filt"></td>
            <td>
                <div class="input_holder rounded">{{ form.email }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_first_name">Имя:</label></th>
            <td class="empty_filt"></td>
            <td>
                {{ form.first_name.errors }}
                <div class="input_holder rounded">{{ form.first_name }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_last_name">Фамилия:</label></th>
            <td class="empty_filt"></td>
            <td>
                {{ form.last_name.errors }}
                <div class="input_holder rounded">{{ form.last_name }}</div></td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
        <tr>
            <th><label for="id_is_banned">Бан:</label></th>
            <td class="empty_filt"></td>
            <td>
                {{ form.is_banned.errors }}
                {{ form.is_banned }}</td>
        </tr>
        <tr>
        	<td style="height:10px"></td>
        </tr>
    </table>

    </div>
    <div class="but">
        <input type="submit" value="{% trans 'Save' %}" />
    </div>
</form>
</div>
</div>
</div>