{% extends "base.html" %}
{% load i18n %}
{% load media %}
{% block content %}
<br />
<div id="edit_form">
        <div class="title">
            <div class="title-r">
                <div class="title-x">
					<h2>{% trans "Change avatar" %}</h2>
                </div>
            </div>
        </div>

	<div class="block2">
        <div class="block2-b">
            <img src="{% media_url user.avatar avatar_midi.png %}" />
        
            <form method="post" enctype="multipart/form-data">
            
            <p class="img_losder"><label for="id_file">Изображение:</label><br /><br /><input type="file" id="id_file" name="file"></p>
           
            <div class="but avatar">
            <input type="submit" value="{% trans "Save" %}" />
            </div>
            </form>
    	</div>
    </div>
</div>
{% endblock %}
