{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="seting">
    <a href="{% url social:avatar_edit %}">
    	<div class="but">
            <div class="but-r">
                <div class="but-x"><span>{% trans "Edit photo" %}</span>
                </div>
           </div>
    	</div>
    </a>
    <a href="{% url themes:list %}">
    	<div class="but">
            <div class="but-r">
                <div class="but-x"><span>{% trans "Change theme" %}</span>
                </div>
           </div>
    	</div>
    </a>
    
</div>
    <br />
<div id="filter_box">
{% if request.user.is_superuser %}
{% with user_form as form %}
{% include "social/profile/_user_form.html" %}
{% endwith %}
{% endif %}

{% with profile_form as form %}
{% include "social/profile/_profile_form.html" %}
{% endwith %}

{% if camera or request.user.is_superuser %}
{% with cam_form as form %}
{% include "social/profile/_cam_form.html" %}
{% endwith %}
{% endif %}

{% if camera %}
{% with screen_form as form %}
{% include "social/profile/_screen_form.html" %}
{% endwith %}
{% endif %}
</div>
{% endblock %}
